In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,akjmXXq,0,FEM,28.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,MV6b6R9,0,FEM,30.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,zvxv1Rm,0,FEM,22.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,8oqJzL,0,MASC,34.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,ez533B,0,MASC,32.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [7]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,NM5M,1,FEM,47.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,1kJqGb,1,FEM,34.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,eOE9Rr,1,FEM,39.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,Zrx8Xz,1,FEM,39.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,ZrKNQY,1,FEM,32.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12332167

In [9]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
5929667,1112396117,1j9XVj,1,MASC,32.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
7667740,1112252543,Yj5xm9P,0,FEM,42.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
11897407,1112387107,KBeBbvQ,0,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
3545185,1112232179,ajG6JN,1,FEM,32.0,-,-,-,-,Graduado,...,False,False,False,False,True,True,False,False,False,NaN
464014,1112360052,JBmav1r,1,FEM,30.0,-,-,Graduado,-,Graduado,...,False,False,True,False,False,False,False,True,False,NaN
6639697,1112280937,JBrRb5J,0,FEM,26.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,NaN
9088555,1112208550,zv8x88J,0,FEM,33.0,-,-,-,-,-,...,False,False,False,False,False,False,False,True,False,NaN
10477276,1112270453,VNrR3DN,0,MASC,53.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
5050707,1112299395,0zPlBld,1,MASC,19.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,1.0
7847913,1112460365,JBxANXe,0,FEM,25.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
2389282,1112246257,MVrxWWK,1,FEM,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
2162002,1111752538,kPL58DV,1,MASC,39.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,6.0
1893743,1112200639,xka1JBY,1,MASC,24.0,-,-,-,-,Graduado,...,False,False,False,True,False,False,False,False,False,NaN
8936405,1112267885,KBakeG2,0,FEM,19.0,-,-,-,-,En Curso,...,False,False,True,False,True,True,False,False,False,NaN
7498215,1112362725,GNZPB2e,0,FEM,34.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
2434646,1110478929,xk9zqqa,1,MASC,29.0,-,-,-,-,-,...,False,False,True,False,False,False,False,False,False,NaN
8243407,1112418661,96X00p1,0,FEM,21.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
7390055,1111455368,mzdlXR1,0,MASC,37.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,True,False,False,False,NaN
9170822,1112303392,JBeEQYE,0,FEM,30.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
4242326,1112425552,vV9NNRE,1,MASC,25.0,-,-,-,-,-,...,False,False,False,False,True,True,False,False,False,NaN

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
7577732,1112349077,JBdbXQ5,0,FEM,24.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,0.0
1754367,1112352347,ZDr6mK1,1,MASC,23.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
6419817,1112094756,8MPwLkx,0,FEM,25.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
2081376,1112362627,EzlXNmJ,1,FEM,49.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,1.0
4620012,1112354604,KBrXwPX,1,MASC,38.0,-,-,Graduado,Graduado,Graduado,...,False,True,False,False,False,True,False,False,False,0.0
10137361,1112366989,E8xJ1N,0,FEM,42.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
5236956,1111995554,akjaW2q,1,FEM,34.0,-,-,Graduado,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
10910256,1112420745,Yj539aY,0,MASC,21.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.0
925847,1112280868,YjrX6RX,1,MASC,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
1625603,1112393836,rmvrev1,1,MASC,27.0,-,-,-,-,Graduado,...,False,True,True,True,False,False,False,False,False,0.0
10070979,1112372095,QNrYbwe,0,MASC,24.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,0.0
8909437,1112341365,6V2mZr,0,FEM,42.0,-,-,-,-,-,...,False,False,True,False,False,False,False,False,False,0.0
8847344,1112366913,4rWzx4P,0,FEM,25.0,-,-,-,-,En Curso,...,False,False,False,False,False,False,False,False,False,0.0
8622883,1112293428,96XvpxY,0,FEM,19.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
4969481,1112429967,qe2VLPL,1,FEM,19.0,-,-,-,-,En Curso,...,False,True,False,False,False,False,False,False,False,4.0
11196030,1112433312,4rP0vM0,0,MASC,28.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,True,False,0.0
8530638,1112279014,6Oea3j,0,FEM,34.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,0.0
5737048,1112464175,pzjXxQb,1,MASC,30.0,-,-,En Curso,-,Graduado,...,False,False,False,False,False,False,False,False,False,1.0
821500,1112431304,JBrXlxp,1,FEM,20.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,1.0
6419810,1112094756,81RMp3,0,FEM,37.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,False,0.0

In [11]:
zonas=avisos['nombre_zona'].value_counts().index
postulaciones['nombre_zona']=postulaciones['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
postulaciones['tipo_de_trabajo']=postulaciones['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
postulaciones['nivel_laboral']=postulaciones['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
postulaciones['nombre_area']=postulaciones['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
postulaciones['Doctorado']=postulaciones['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
postulaciones['Master']=postulaciones['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
postulaciones['Otro']=postulaciones['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
postulaciones['Posgrado']=postulaciones['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
postulaciones['Secundario']=postulaciones['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
postulaciones['Terciario/Técnico']=postulaciones['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
postulaciones['Universitario']=postulaciones['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
postulaciones['sexo']=postulaciones['sexo'].replace(sexo, range(len(sexo)))
postulaciones.dtypes

idaviso                        int64
idpostulante                  object
sepostulo                      int64
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [12]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']

Train:  11098950 Test:  1233217

In [13]:
c=RandomForestClassifier(n_estimators=100,min_samples_split=100,n_jobs=-1,random_state=0)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl") 
dt=c.fit(x_train,y_train)

In [14]:
score=c.score(x_test,y_test)*100
print(score)

73.7946363048839

In [15]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/RF.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/RF.pkl']

In [16]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
537,71018,1112461994,E9BlVz,MASC,32.0,-,-,-,-,-,...,False,False,False,False,False,True,False,False,False,4.0
10229,89962,1112467175,LNKolNk,MASC,19.0,-,-,-,-,-,...,False,False,True,False,False,True,False,True,False,0.0
82030,29966,1112374943,YRBeP1,FEM,32.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.0
88501,45259,1112428081,YAWjZY,FEM,38.0,-,-,-,-,Graduado,...,False,False,False,False,True,False,False,False,False,0.0
33460,8072,1111753681,kPjOY9j,MASC,24.0,-,-,-,-,Graduado,...,False,False,False,True,False,False,False,False,False,0.0
46722,2300,1111234719,eZ3p,MASC,42.0,-,Graduado,-,-,Graduado,...,False,False,False,False,False,False,True,False,True,0.0
62326,78566,1112464512,rm2Rd4b,FEM,26.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,1.0
63675,40767,1112420109,E813J,MASC,49.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
53232,32181,1112392176,xkP3Prx,FEM,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,1.0
11073,25848,1112334806,0zPVmrv,MASC,200.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,1.0

In [17]:
zonas=avisos['nombre_zona'].value_counts().index
prediccion['nombre_zona']=prediccion['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
prediccion['tipo_de_trabajo']=prediccion['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
prediccion['nivel_laboral']=prediccion['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
prediccion['Doctorado']=prediccion['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
prediccion['Master']=prediccion['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
prediccion['Otro']=prediccion['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
prediccion['Posgrado']=prediccion['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
prediccion['Secundario']=prediccion['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
prediccion['Terciario/Técnico']=prediccion['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
prediccion['Universitario']=prediccion['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
prediccion['sexo']=prediccion['sexo'].replace(sexo, range(len(sexo)))
prediccion.dtypes

id                             int64
idaviso                        int64
idpostulante                  object
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [18]:
x_final=prediccion[features]
y_final=c.predict(x_final)
y_final

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [19]:
prediccion['sepostulo']=y_final

In [20]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,0,42.0,1,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0
1,1,739260,6v1xdL,1,30.0,0,0,1,0,1,...,False,False,False,False,False,False,False,False,0.0,0
2,2,739260,ezRKm9,0,36.0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0
3,3,758580,1Q35ej,1,68.0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,0.0,0
4,4,758580,EAN4J6,0,32.0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,0.0,0

In [21]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [22]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion4.csv",index=False)

In [23]:
prediccion.sepostulo.mean()

0.51894