In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,akjmXXq,0,FEM,28.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,MV6b6R9,0,FEM,30.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,zvxv1Rm,0,FEM,22.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,8oqJzL,0,MASC,34.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,ez533B,0,MASC,32.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [7]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,NM5M,1,FEM,47.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,1kJqGb,1,FEM,34.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,eOE9Rr,1,FEM,39.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,Zrx8Xz,1,FEM,39.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,ZrKNQY,1,FEM,32.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12332167

In [9]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
9464624,1111644946,96zGMPP,0,FEM,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,NaN
6593037,1112255594,Yj5zKaD,0,MASC,30.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
11637556,1112341662,4rPQvJq,0,MASC,23.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
11026987,1112161921,Eze9D52,0,FEM,19.0,-,-,-,-,-,...,False,False,False,True,False,False,False,False,False,NaN
6982689,1112334788,mzdWqb6,0,FEM,28.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,NaN
6680818,1112033906,55x5Bq,0,FEM,30.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,NaN
2142686,1112234599,MVr45Nx,1,FEM,34.0,-,-,Graduado,-,-,...,False,True,False,False,False,False,False,False,False,NaN
660824,1112340979,NWlxRx,1,MASC,26.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
5705974,1112432565,JBrLEek,1,MASC,25.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,2.0
6228248,1112334791,bOVz4od,0,MASC,29.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,NaN
11837004,1112281658,A3XKGXD,0,MASC,19.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
8112763,1112285124,e019D9,0,MASC,46.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
1796628,1112458730,vVkJbp5,1,MASC,28.0,-,-,-,-,Graduado,...,True,False,True,False,False,False,False,False,False,NaN
1661718,1112336556,qe6ma89,1,FEM,22.0,-,-,-,-,Graduado,...,False,False,False,False,True,False,False,False,False,NaN
5993101,1112292092,Dr6wW4Z,1,MASC,36.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
11360774,1112361534,qe2AQY1,0,FEM,26.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
8747937,1112397910,owjwP9e,0,FEM,28.0,-,-,-,-,Graduado,...,False,False,False,False,True,False,False,False,False,NaN
2456821,1112416484,EqPAvb,1,MASC,31.0,-,-,-,En Curso,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
10580002,1112452207,EEL9z,0,MASC,45.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
6723667,1112432822,dYjj3mX,0,MASC,46.0,-,-,-,-,-,...,False,True,False,False,False,False,False,True,False,NaN

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
8611289,1112233828,vVjW2Dx,0,FEM,23.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
3564085,1112235513,GNZ1QaE,1,FEM,49.0,-,-,-,-,-,...,True,False,False,False,False,False,False,False,False,0.0
3111938,1112268189,96XjjlZ,1,FEM,23.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.0
9423691,1112415468,zvPJ0N3,0,FEM,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
601585,1112319103,eNje9,1,MASC,44.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
9722362,1112224292,1MBR5B,0,MASC,32.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
11146135,1112378264,xk9XVkY,0,MASC,39.0,-,-,-,-,Abandonado,...,False,False,False,False,False,False,False,False,False,0.0
2066045,1112206678,Pmq1PRY,1,MASC,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
3910172,1112256350,owzq21e,1,FEM,27.0,-,-,-,-,Graduado,...,True,False,False,False,False,False,False,False,False,0.0
8003206,1112379261,5mPL5ov,0,MASC,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,True,False,True,0.0
8610492,1112233828,6r5BRkl,0,MASC,27.0,-,-,Abandonado,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
10364895,1112253469,8M2qxPz,0,MASC,30.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
8348606,1112309025,owjo1Ra,0,FEM,36.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
2781093,1112281392,NzeD0ZL,1,MASC,23.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
515763,1112267850,3N2OVMa,1,MASC,27.0,-,-,-,-,Graduado,...,False,True,True,False,False,False,False,False,False,0.0
9866941,1112338331,Yj5z3KY,0,FEM,22.0,-,-,-,-,-,...,False,True,True,False,False,False,False,True,False,0.0
6912451,1112364849,Ezeb8L0,0,FEM,23.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
4297051,1112427934,mzj9pOQ,1,FEM,28.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,3.0
9273845,1112384362,owEddbL,0,FEM,28.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
2237095,1112219986,5KBZJM,1,FEM,29.0,-,-,-,-,Graduado,...,False,False,False,True,False,False,True,False,True,1.0

In [11]:
zonas=avisos['nombre_zona'].value_counts().index
postulaciones['nombre_zona']=postulaciones['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
postulaciones['tipo_de_trabajo']=postulaciones['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
postulaciones['nivel_laboral']=postulaciones['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
postulaciones['nombre_area']=postulaciones['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
postulaciones['Doctorado']=postulaciones['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
postulaciones['Master']=postulaciones['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
postulaciones['Otro']=postulaciones['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
postulaciones['Posgrado']=postulaciones['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
postulaciones['Secundario']=postulaciones['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
postulaciones['Terciario/Técnico']=postulaciones['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
postulaciones['Universitario']=postulaciones['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
postulaciones['sexo']=postulaciones['sexo'].replace(sexo, range(len(sexo)))
postulaciones.dtypes

idaviso                        int64
idpostulante                  object
sepostulo                      int64
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [12]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']

Train:  11098950 Test:  1233217

In [36]:
c=XGBClassifier(objective='binary:logistic',max_depth=12,learning_rate=0.1,n_estimators=250,silent=False,n_jobs=-1)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl"
dt=c.fit(x_train,y_train)

In [37]:
score=c.score(x_test,y_test)*100
print(score)

74.08639355441905

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [38]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/XG1.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/XG1.pkl']

In [39]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
66051,56259,1112448524,zv8A6Pm,FEM,28.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,1.0
9699,748,1001457766,eAVkkE,FEM,28.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
19820,79752,1112464734,VNrRoBd,MASC,31.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,1.0
22117,14178,1112094756,8MPd0lx,MASC,36.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,5.0
11336,39435,1112417504,ZG5DBE,MASC,33.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
83701,32387,1112393571,111KmE,MASC,32.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
69817,22522,1112291389,8Lk6DO,MASC,57.0,-,-,-,-,-,...,False,True,False,False,False,False,False,True,False,0.0
98435,98276,1112505454,YQErYV,FEM,38.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,0.0
98628,98505,1112506439,EbRo14,FEM,31.0,-,-,-,En Curso,-,...,False,False,False,False,False,False,False,False,False,0.0
69539,34392,1112408635,5mX6M,MASC,41.0,-,En Curso,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0

In [40]:
zonas=avisos['nombre_zona'].value_counts().index
prediccion['nombre_zona']=prediccion['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
prediccion['tipo_de_trabajo']=prediccion['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
prediccion['nivel_laboral']=prediccion['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
prediccion['Doctorado']=prediccion['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
prediccion['Master']=prediccion['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
prediccion['Otro']=prediccion['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
prediccion['Posgrado']=prediccion['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
prediccion['Secundario']=prediccion['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
prediccion['Terciario/Técnico']=prediccion['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
prediccion['Universitario']=prediccion['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
prediccion['sexo']=prediccion['sexo'].replace(sexo, range(len(sexo)))
prediccion.dtypes

id                             int64
idaviso                        int64
idpostulante                  object
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [41]:
x_final=prediccion[features]
y_final=c.predict(x_final)
y_final

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [42]:
prediccion['sepostulo']=y_final

In [43]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,0,42.0,1,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0
1,1,739260,6v1xdL,1,30.0,0,0,1,0,1,...,False,False,False,False,False,False,False,False,0.0,1
2,2,739260,ezRKm9,0,36.0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0
3,3,758580,1Q35ej,1,68.0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,0.0,0
4,4,758580,EAN4J6,0,32.0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,0.0,0

In [44]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0          0
1   1          1
2   2          0
3   3          0
4   4          0

In [45]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion8.csv",index=False)

In [46]:
prediccion.sepostulo.mean()

0.54145

In [47]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
7461,89284,1112467020,3NkKNAq,FEM,24.0,-,-,Graduado,-,Graduado,...,False,False,True,False,False,False,False,True,False,1.0
28397,21146,1112269993,ZEQq01,MASC,38.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
78975,47196,1112431256,a4ae99,FEM,42.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,True,False,0.0
7394,88910,1112467020,ow2MYl0,FEM,22.0,-,-,-,-,En Curso,...,False,False,True,False,False,False,False,True,False,3.0
56245,48217,1112432694,VNr90l2,FEM,19.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,2.0
16174,68876,1112460892,ZrNJmz,FEM,33.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.0
49962,3274,1111363105,YG5E6X,FEM,32.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
28372,51431,1112441702,Z9r9AP,FEM,40.0,-,-,-,Abandonado,Graduado,...,False,False,False,False,False,False,False,True,False,2.0
740,73684,1112463429,12LMZb,MASC,40.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
1554,86561,1112466769,BmVY3Y2,MASC,28.0,-,-,Graduado,-,Graduado,...,False,True,False,False,False,True,False,False,False,1.0

In [48]:
zonas=avisos['nombre_zona'].value_counts().index
prediccion['nombre_zona']=prediccion['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
prediccion['tipo_de_trabajo']=prediccion['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
prediccion['nivel_laboral']=prediccion['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
prediccion['Doctorado']=prediccion['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
prediccion['Master']=prediccion['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
prediccion['Otro']=prediccion['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
prediccion['Posgrado']=prediccion['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
prediccion['Secundario']=prediccion['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
prediccion['Terciario/Técnico']=prediccion['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
prediccion['Universitario']=prediccion['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
prediccion['sexo']=prediccion['sexo'].replace(sexo, range(len(sexo)))
prediccion.dtypes

id                             int64
idaviso                        int64
idpostulante                  object
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [49]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.8283851 , 0.17161489],
       [0.48534966, 0.51465034],
       [0.63955516, 0.36044484],
       ...,
       [0.9723678 , 0.02763215],
       [0.7130018 , 0.2869982 ],
       [0.9654636 , 0.03453643]], dtype=float32)

In [50]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [51]:
prediccion['sepostulo']=y_final2

In [52]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,0,42.0,1,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0.171615
1,1,739260,6v1xdL,1,30.0,0,0,1,0,1,...,False,False,False,False,False,False,False,False,0.0,0.514650
2,2,739260,ezRKm9,0,36.0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0.360445
3,3,758580,1Q35ej,1,68.0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,0.0,0.117248
4,4,758580,EAN4J6,0,32.0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,0.0,0.311030

In [53]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.171615
1   1   0.514650
2   2   0.360445
3   3   0.117248
4   4   0.311030

In [54]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion9.csv",index=False)

In [55]:
prediccion.sepostulo.mean()

0.6008477204817586