In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,akjmXXq,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,MV6b6R9,0,30.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,zvxv1Rm,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,8oqJzL,0,34.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ez533B,0,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [7]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,NM5M,1,47.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,1kJqGb,1,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,eOE9Rr,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,Zrx8Xz,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ZrKNQY,1,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12332167

In [9]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
4768382,1112398577,vV3AzbX,1,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,2.0
12085329,1112297115,akjZ3K9,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
4401621,1112452799,YA9OBq,1,34.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,3.0
10429917,1112281717,zv8Gw3J,0,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
9546784,1112418975,eAM91o,0,37.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
346062,1112343194,6rQBxVj,1,28.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
4702675,1111953613,NzeBJox,1,28.0,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,2.0
6515478,1112334806,lDXLEqR,0,31.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
2283563,1112284291,X9kox8v,1,26.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
9218950,1112260942,NzP8YJl,0,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
2695143,1112309025,QNE5LVz,1,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
814295,1112355061,jk5NWY0,1,28.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
4845215,1112273169,969VQBZ,1,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
6698562,1112033906,X9xjBlO,0,50.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
1128744,1112255773,QNM9Zqe,1,23.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
11570193,1112451333,rm0AGwA,0,50.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
1347870,1112414466,YVoPXP,1,46.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,3.0
7298470,1112262197,PmGbwQE,0,21.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
6316690,1112318545,4rdJzD0,0,26.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
10730601,1112455942,ZDleJxY,0,24.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
3442406,1111322505,qeYmOvL,1,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,1.0
11803876,1112375786,ZDPkPQZ,0,23.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
1785835,1112205158,3NQOWkw,1,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,13.0
1652181,1112306344,8ML4Lwx,1,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
7380544,1112453077,X9x3qDJ,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
715830,1112299083,qe295Wb,1,31.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
221992,1112355399,akDmqOD,1,22.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
2090402,1112280912,Nz0X13V,1,27.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
5187894,1112441908,W9OPjN9,1,31.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
4930797,1112344991,EKbw20,1,29.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
1965209,1112278041,VNrQmwz,1,23.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
11232270,1112148951,qe28Mza,0,19.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
5651094,1112250927,A3AOKpm,1,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
10577036,1112443823,xkaWqRb,0,21.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
5712362,1112353582,ekNNR4p,1,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
3974351,1112351314,akbjNPm,1,26.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
4514472,1112327140,dYzWk3D,1,21.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
232034,1112280067,96ZxKBP,1,23.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
982542,1112204682,2zk5wAv,1,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
5852489,1112400239,96WEpLZ,1,27.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.0

In [11]:
areas=avisos['nombre_area'].value_counts().index
postulaciones['nombre_area']=postulaciones['nombre_area'].replace(areas, range(len(areas)))
postulaciones.dtypes

idaviso                                                 int64
idpostulante                                           object
sepostulo                                               int64
edad                                                  float64
sexo_FEM                                                 bool
sexo_MASC                                                bool
sexo_NO_DECLARA                                          bool
Doctorado_Abandonado                                     bool
Doctorado_En Curso                                       bool
Doctorado_Graduado                                       bool
Master_Abandonado                                        bool
Master_En Curso                                          bool
Master_Graduado                                          bool
Posgrado_Abandonado                                      bool
Posgrado_En Curso                                        bool
Posgrado_Graduado                                        bool
Secundario_Abandonado                                    bool
Secundario_En Curso                                      bool
Secundario_Graduado                                      bool
Terciario/Técnico_Abandonado                             bool
Terciario/Técnico_En Curso                               bool
Terciario/Técnico_Graduado                               bool
Universitario_Abandonado                                 bool
Universitario_En Curso                                   bool
Universitario_Graduado                                   bool
titulo                                                 object
nombre_area                                             int64
denominacion_empresa                                   object
titulo_uppercase                                         bool
pide_hombre                                              bool
                                                       ...
nombre_zona_Catamarca                                    bool
nombre_zona_Ciudad de Mendoza                            bool
nombre_zona_Cordoba                                      bool
nombre_zona_Corrientes                                   bool
nombre_zona_GBA Oeste                                    bool
nombre_zona_Gran Buenos Aires                            bool
nombre_zona_La Plata                                     bool
nombre_zona_Mendoza                                      bool
nombre_zona_Neuquen                                      bool
nombre_zona_Rosario                                      bool
nombre_zona_San Juan                                     bool
nombre_zona_Santa Cruz                                   bool
nombre_zona_Santa Fe                                     bool
nombre_zona_Tucuman                                      bool
tipo_de_trabajo_Fines de Semana                          bool
tipo_de_trabajo_Full-time                                bool
tipo_de_trabajo_Part-time                                bool
tipo_de_trabajo_Pasantia                                 bool
tipo_de_trabajo_Por Contrato                             bool
tipo_de_trabajo_Por Horas                                bool
tipo_de_trabajo_Primer empleo                            bool
tipo_de_trabajo_Teletrabajo                              bool
tipo_de_trabajo_Temporario                               bool
tipo_de_trabajo_Voluntario                               bool
nivel_laboral_Gerencia / Alta Gerencia / Dirección       bool
nivel_laboral_Jefe / Supervisor / Responsable            bool
nivel_laboral_Junior                                     bool
nivel_laboral_Otro                                       bool
nivel_laboral_Senior / Semi-Senior                       bool
cantidad                                              float64
Length: 77, dtype: object

In [12]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
postulaciones2=0

Train:  11098950 Test:  1233217

In [13]:
import gc
gc.collect()

135

In [14]:
c=RandomForestClassifier(n_estimators=100,min_samples_split=100,n_jobs=-1,random_state=0)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl") 
dt=c.fit(x_train,y_train)

In [15]:
score=c.score(x_test,y_test)*100
print(score)

73.48179598562135

In [16]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/RFONEHOT.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/RFVONEHOT.pkl']

In [17]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
27479,63012,1112456956,RzNz409,20.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
33832,46778,1112430574,8ZakRD,57.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
19843,80140,1112464788,DrpEZ1d,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0
76983,23241,1112303210,EJXq40,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.0
84267,33005,1112399632,61GkRO,27.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
85532,34574,1112408910,NkddBJ,35.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
90934,85506,1112466645,akjOWO0,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,4.0
61669,20815,1112263307,vVDmNrx,27.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.0
73991,91383,1112471375,6aLaoL,33.0,True,False,False,False,True,False,...,False,False,False,False,False,False,True,False,False,0.0
65186,74311,1112463693,aoebxE,38.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0

In [18]:
areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))
prediccion.dtypes

id                                                      int64
idaviso                                                 int64
idpostulante                                           object
edad                                                  float64
sexo_FEM                                                 bool
sexo_MASC                                                bool
sexo_NO_DECLARA                                          bool
Doctorado_Abandonado                                     bool
Doctorado_En Curso                                       bool
Doctorado_Graduado                                       bool
Master_Abandonado                                        bool
Master_En Curso                                          bool
Master_Graduado                                          bool
Posgrado_Abandonado                                      bool
Posgrado_En Curso                                        bool
Posgrado_Graduado                                        bool
Secundario_Abandonado                                    bool
Secundario_En Curso                                      bool
Secundario_Graduado                                      bool
Terciario/Técnico_Abandonado                             bool
Terciario/Técnico_En Curso                               bool
Terciario/Técnico_Graduado                               bool
Universitario_Abandonado                                 bool
Universitario_En Curso                                   bool
Universitario_Graduado                                   bool
titulo                                                 object
nombre_area                                             int64
denominacion_empresa                                   object
titulo_uppercase                                         bool
pide_hombre                                              bool
                                                       ...
nombre_zona_Catamarca                                    bool
nombre_zona_Ciudad de Mendoza                            bool
nombre_zona_Cordoba                                      bool
nombre_zona_Corrientes                                   bool
nombre_zona_GBA Oeste                                    bool
nombre_zona_Gran Buenos Aires                            bool
nombre_zona_La Plata                                     bool
nombre_zona_Mendoza                                      bool
nombre_zona_Neuquen                                      bool
nombre_zona_Rosario                                      bool
nombre_zona_San Juan                                     bool
nombre_zona_Santa Cruz                                   bool
nombre_zona_Santa Fe                                     bool
nombre_zona_Tucuman                                      bool
tipo_de_trabajo_Fines de Semana                          bool
tipo_de_trabajo_Full-time                                bool
tipo_de_trabajo_Part-time                                bool
tipo_de_trabajo_Pasantia                                 bool
tipo_de_trabajo_Por Contrato                             bool
tipo_de_trabajo_Por Horas                                bool
tipo_de_trabajo_Primer empleo                            bool
tipo_de_trabajo_Teletrabajo                              bool
tipo_de_trabajo_Temporario                               bool
tipo_de_trabajo_Voluntario                               bool
nivel_laboral_Gerencia / Alta Gerencia / Dirección       bool
nivel_laboral_Jefe / Supervisor / Responsable            bool
nivel_laboral_Junior                                     bool
nivel_laboral_Otro                                       bool
nivel_laboral_Senior / Semi-Senior                       bool
cantidad                                              float64
Length: 77, dtype: object

In [19]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.60959355, 0.39040645],
       [0.567324  , 0.432676  ],
       [0.58031447, 0.41968553],
       ...,
       [0.78992381, 0.21007619],
       [0.58332485, 0.41667515],
       [0.90279107, 0.09720893]])

In [20]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [21]:
prediccion['sepostulo']=y_final2

In [22]:
prediccion.head()

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad,sepostulo
0,0,739260,6M9ZQR,42.0,True,False,False,False,False,True,...,False,False,False,False,True,False,False,False,0.0,0.390406
1,1,739260,6v1xdL,30.0,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0.432676
2,2,739260,ezRKm9,36.0,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0.419686
3,3,758580,1Q35ej,68.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0.082840
4,4,758580,EAN4J6,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0.347555

In [23]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.390406
1   1   0.432676
2   2   0.419686
3   3   0.082840
4   4   0.347555

In [24]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion7_ONEHOT.csv",index=False)

In [25]:
prediccion.sepostulo.mean()

0.5927015134609176