In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc
from xgboost import XGBClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
areas=avisos['nombre_area'].value_counts()
avisos['nombre_area']=avisos['nombre_area'].replace(areas.index, areas.values)

avisos_no_one_hot= pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
avisos_no_one_hot=avisos_no_one_hot[['idaviso','tipo_de_trabajo','nivel_laboral','nombre_area']];
avisos_no_one_hot['tipo_de_trabajo']=avisos_no_one_hot['tipo_de_trabajo'].astype('category')
avisos_no_one_hot['nivel_laboral']=avisos_no_one_hot['nivel_laboral'].astype('category')
avisos_no_one_hot['nombre_area']=avisos_no_one_hot['nombre_area'].astype('category')
avisos_no_one_hot=avisos_no_one_hot.rename(columns={'nombre_area': 'nombre_area_aux'})

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas2=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2=vistas2.rename(columns={'idAviso': 'idaviso'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

  idpostulante  cantidad
0        0002q        15
1        0005E        58
2        000R8        14
3        001XE        26
4        003k9        32

In [7]:
vistas2=pd.merge(vistas2,vistas,on='idpostulante',how='left')

In [8]:
vistas2.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           2          28
1    48375       RwVdKR           1          15
2   169730        1KjXB           2          99
3   169730       2AKzxa           2           2
4   169730        6LJ64           1          23

In [9]:
vistas2['cantidad']=vistas2['cantidad_x']/vistas2['cantidad_y']
vistas2.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas=vistas2
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.071429
1    48375       RwVdKR  0.066667
2   169730        1KjXB  0.020202
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.043478

In [10]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/7.csv")
postulaciones2=postulaciones2.append(pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/8.csv").sample(len(postulaciones2)//2).reset_index(drop=True))
print(len(postulaciones2))
postulaciones2

9906801

            idaviso idpostulante  sepostulo
0        1112389495       5NbOjG          0
1        1112024109      1QP841b          0
2        1112490884      96XQ6N9          0
3        1111474259      qe2QJj1          0
4        1112211292      KBzbBJm          0
5        1112328485      3NzZv26          0
6        1112474766      akDjWwE          0
7        1112312385       aZpBJW          0
8        1112285628      akDWj55          0
9        1112322843      GNd0KNN          0
10       1112355899      DrXPRJX          0
11       1112461865      8MPoBDR          0
12       1111673413       a1NjRN          0
13       1112299006      jkVWXRQ          0
14       1112501771      owz0YGW          0
15       1002543409       Ej5AAb          0
16       1112425310      KBrpAO2          0
17       1112498569      pzNMppM          0
18       1111866251       ZKqL85          0
19       1112289529      ow2awXr          0
20       1112493109      5mP1DWM          0
21       1112326017      0zd9GZ9          0
22       1112242315      3NQKV6Q          0
23       1112452417      DrlVEwW          0
24       1112402816      mzdk9dZ          0
25       1112359100      3NP46xq          0
26       1112410555      bOVKA32          0
27       1112511403      mzdlAQO          0
28       1111272539      6rPpNM4          0
29       1111591317      6rP4K13          0
...             ...          ...        ...
3302237  1112160397      A3XJZz1          0
3302238  1112414499      akx1b3E          0
3302239  1112447905      akjWa5N          0
3302240  1111658002      6rBDXj4          0
3302241  1112409567      1QkVZzz          0
3302242  1112435842      xkvdkNb          0
3302243  1112361227       Y8KrPJ          0
3302244  1112356687       8xorXL          0
3302245  1112397889       N6KoqB          0
3302246  1112145421      dYo0NZA          0
3302247  1112381804       53B4mw          0
3302248  1112250031      A3RrLRj          0
3302249  1111422076      Eze94p4          0
3302250  1112202132       Y8ApjP          0
3302251  1111393842      dY5OOab          0
3302252  1112366078       aXBpzm          0
3302253  1112396215      VNPJLYd          0
3302254  1111773990      xkd6lxa          0
3302255  1112422950      A3DWLlG          0
3302256  1111785554      PmGV96J          0
3302257  1112487990      96X63Ew          0
3302258  1112475003       Y23lxZ          0
3302259  1112293815      wVkEYEd          0
3302260  1112477193       52KVjZ          0
3302261  1112361603       EPMYW9          0
3302262  1112355615      ow28410          0
3302263  1111235977      9696L1p          0
3302264  1112138272       6LxALR          0
3302265  1112428127       1oBPxL          0
3302266     1527720      xk9rBMV          0

[9906801 rows x 3 columns]

In [11]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [12]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

16511335
16502019

In [13]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,avisos_no_one_hot,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad
1820057,1112266459,KBr0kBd,0,19.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Mantenimiento,NaN
14947405,1112057618,A3XPxGD,0,36.0,False,True,False,False,False,False,...,False,False,False,True,False,False,Part-time,Junior,Telemarketing,NaN
2352269,1112245557,5JoMDq,0,31.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Tesorería,NaN
1863529,1112365308,KBe56VQ,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ingeniería Industrial,NaN
15941414,1112217861,zv8XxoD,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ingeniería Eléctrica y Electrónica,NaN
5146531,1112452139,6rZYVZl,1,22.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Almacén / Depósito / Expedición,0.008696
4559354,1112289711,ZD81W0V,1,33.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Mantenimiento,NaN
12032024,1112428442,EzewKbo,1,19.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Producción,0.006711
13696184,1112432674,W9P2MLl,0,52.0,False,True,False,False,False,False,...,False,False,False,False,True,False,Full-time,Otro,Ventas,NaN
14980730,1112416016,VNJRDB2,0,26.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Diseño Industrial,NaN
345544,1112212782,ekvkDa2,0,29.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Tecnologia / Sistemas,NaN
5361765,1112455867,QNPwJol,0,28.0,True,False,False,False,False,False,...,False,False,True,False,False,False,Full-time,Jefe / Supervisor / Responsable,Telecomunicaciones,NaN
15341623,1112010738,akRYpEW,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Producción,NaN
5814823,1112224962,3NkdDpJ,1,34.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Compras,NaN
3978552,1112260100,pzdozzp,0,32.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Administración,NaN
5417428,1112379049,VNrMzJj,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Part-time,Senior / Semi-Senior,Call Center,NaN
6053150,1112427186,ekNp8XB,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Tecnologia / Sistemas,NaN
2049899,1112438648,owjjlj4,0,26.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Administración,NaN
3334376,1112335406,EMz1E6,1,30.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Legal,0.019231
5966341,1112113517,alWK15,0,49.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ingeniería Civil,NaN

In [14]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad
3917317,1112437620,3NPJ30K,0,22.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Compras,0.00
983225,1111455368,VNr5ErD,1,19.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Atención al Cliente,0.00
2838936,1112402915,MVPdMlv,1,25.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ventas,0.00
5033232,1112280984,lDbmaA2,0,36.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Gastronomia,0.00
96184,1112348995,JBdD6b3,1,24.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Recepcionista,0.15
4398921,1112285511,8MZwYpM,1,28.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Ventas,0.00
15965110,1112405655,zv44DL6,1,24.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Medicina,1.00
15194088,1112297025,owa6NOe,1,34.0,False,True,False,False,False,False,...,False,False,False,False,True,False,Full-time,Otro,Ingeniería Oficina Técnica / Proyecto,0.00
7931845,1112269957,JBxQ9w5,1,27.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Comercial,0.00
14956965,1112245044,YjrwG3Z,0,53.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ingeniería Industrial,0.00
12082425,1111726535,qe2ZBw9,0,49.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Comercial,0.00
15281794,1111971838,Drp4dqL,0,20.0,False,True,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Atención al Cliente,0.00
4237926,1112351925,bOjVZRB,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Contabilidad,0.00
7861996,1112208206,ERKXV2,0,38.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Ventas,0.00
9287488,1112389241,JBrjXob,0,200.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Tecnologia / Sistemas,0.00
3620500,1112204023,8KQmBz,0,37.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Contabilidad,0.00
3421469,1112315833,8QA8px,1,29.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Legal,0.00
13466808,1112320395,lDLK1BG,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ingeniería Mecánica,0.00
10340345,1112359300,rmdmLP6,1,28.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Mantenimiento y Limpieza,0.00
9065563,1112370921,JBxOl3e,0,25.0,False,True,False,False,False,False,...,False,False,False,False,True,False,Part-time,Otro,Educación/ Docentes,0.00

In [15]:
postulaciones_por_area=postulaciones.copy()
postulaciones_por_area=postulaciones_por_area.groupby(by=['idpostulante','nombre_area_aux'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_area=postulaciones_por_area.rename(columns={'sepostulo':'postulaciones_misma_area'})
postulaciones_por_area.head()

  idpostulante                  nombre_area_aux  postulaciones_misma_area
0      0z5Dmrd                   Administración                         2
1      0z5Dmrd       Administración de Personal                         1
2      0z5Dmrd  Almacén / Depósito / Expedición                         1
3      0z5Dmrd              Atención al Cliente                         1
4      0z5Dmrd                        Auditoría                         1

In [16]:
postulaciones_por_nivel=postulaciones.copy()
postulaciones_por_nivel=postulaciones_por_nivel.groupby(by=['idpostulante','nivel_laboral'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_nivel=postulaciones_por_nivel.rename(columns={'sepostulo':'postulaciones_mismo_nivel'})
postulaciones_por_nivel.head()

,idpostulante,nivel_laboral,postulaciones_mismo_nivel
0,0z5Dmrd,-,1
1,0z5Dmrd,Gerencia / Alta Gerencia / Dirección,2
2,0z5Dmrd,Junior,4
3,0z5Dmrd,Otro,1
4,0z5Dmrd,Senior / Semi-Senior,16

In [17]:
postulaciones_por_tipo=postulaciones.copy()
postulaciones_por_tipo=postulaciones_por_tipo.groupby(by=['idpostulante','tipo_de_trabajo'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_tipo=postulaciones_por_tipo.rename(columns={'sepostulo':'postulaciones_mismo_tipo'})
postulaciones_por_tipo.head()

  idpostulante tipo_de_trabajo  postulaciones_mismo_tipo
0      0z5Dmrd       Full-time                        23
1      0z5Dmrd       Part-time                         1
2      0z5JW1r       Full-time                        27
3      0z5VvGv       Full-time                        58
4      0z5VvGv       Part-time                        11

In [18]:
postulaciones=pd.merge(postulaciones,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['postulaciones_misma_area']=postulaciones['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_nivel']=postulaciones['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_tipo']=postulaciones['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel
2535305,1112271407,xkp5KLV,0,23.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,0.000000,1,26,20
7823015,1112277176,OqdqBMW,1,22.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Ventas,0.000000,29,53,53
6344897,1112349612,YReqAw,1,45.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Soporte Técnico,0.012821,22,86,59
9763930,1112285298,NRdEBJ,0,31.0,False,True,False,False,False,False,...,False,True,False,Full-time,Otro,Oficios y Profesiones,0.000000,1,27,3
14597945,1112488733,GNdEmQ9,0,28.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Administración,0.000000,3,18,15
15614075,1112214749,Z2bOpR,0,34.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Mantenimiento,0.000000,0,14,12
479447,1112260584,5mdRWJX,1,24.0,False,True,False,False,False,False,...,False,False,True,Part-time,Senior / Semi-Senior,Recepcionista,0.000000,0,2,34
6962867,1112346591,8k1Grx,1,33.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Mantenimiento y Limpieza,0.000000,2,159,126
10559447,1112305190,6r28a9x,0,26.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Ventas,0.000000,4,67,49
6748193,1112406509,3N2ddXa,1,38.0,False,True,False,False,False,False,...,True,False,False,Full-time,Junior,Administración,0.000000,4,40,2
5213077,1112308989,JBdr0D3,1,25.0,False,True,False,False,False,False,...,True,False,False,Part-time,Junior,Atención al Cliente,0.000000,15,24,37
2439075,1112298966,EBvAA6,1,29.0,False,True,False,False,False,False,...,True,False,False,Full-time,Junior,Call Center,0.000000,10,45,16
4690144,1112490840,DrX21Aa,0,30.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,0.000000,56,92,61
6235619,1112094404,ZDrEK18,0,25.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Programación,0.000000,1,96,84
3017841,1112448418,Bm5JM4L,1,200.0,False,False,True,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Atención al Cliente,0.076923,0,21,20
11876604,1112423634,EzZJDjb,0,38.0,False,True,False,False,False,False,...,False,False,True,Part-time,Senior / Semi-Senior,Telemarketing,0.000000,1,2,19
15545330,1111171294,owzO1j3,0,23.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Mantenimiento,0.000000,0,17,14
7752962,1112208794,X9oldNv,0,31.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Almacén / Depósito / Expedición,0.000000,0,21,19
3850987,1112245800,0zPe1N9,0,22.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Soporte Técnico,0.000000,0,14,11
401085,1112284291,Nr2Ndl,1,30.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Finanzas,0.000000,0,29,25

In [19]:
train, test=train_test_split(postulaciones.sample(len(postulaciones)//2),test_size=0.05)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')
features.remove('nombre_area_aux')
features.remove('tipo_de_trabajo')
features.remove('nivel_laboral')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
vistas2=0

Train:  15281886 Test:  804310

In [20]:
c=0
gc.collect()

117

In [41]:
c=XGBClassifier(objective='binary:logistic',max_depth=20,learning_rate=0.01,subsample=0.8,colsample_bytree=0.8,n_estimators=100,silent=False,n_jobs=-1,verbose=1)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")
dt=c.fit(x_train,y_train,eval_set=[(x_test,y_test)],verbose=True,early_stopping_rounds=1)

MemoryError:

In [39]:
score=c.score(x_test,y_test)*100
print(score)

AttributeError: 'LGBMClassifier' object has no attribute 'roc_auc_score'

In [23]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/XGBoost v3.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/LGBMV18.pkl']

In [25]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos_no_one_hot,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion=pd.merge(prediccion,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['postulaciones_misma_area']=prediccion['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion['postulaciones_mismo_nivel']=prediccion['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion['postulaciones_mismo_tipo']=prediccion['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel
57149,62362,1112456072,N01KLJ,MASC,33.0,-,-,-,-,-,...,False,False,False,False,False,False,0.000000,0.0,13.0,9.0
41016,29541,1112372247,lDLGxo6,MASC,19.0,-,-,-,-,En Curso,...,False,False,False,False,False,False,0.000000,1.0,11.0,10.0
51666,20142,1112248723,8k0Kql,FEM,32.0,-,-,En Curso,-,-,...,False,True,False,False,False,False,0.000000,0.0,34.0,0.0
33704,45606,1112428517,wVkARkm,MASC,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,0.026316,16.0,49.0,39.0
47075,84361,1112466548,zv6BjOJ,MASC,33.0,-,-,Graduado,-,Graduado,...,False,False,False,True,False,True,0.000000,171.0,400.0,275.0
31622,34807,1112409290,xk94VO0,MASC,34.0,-,-,-,-,Graduado,...,False,False,False,True,False,True,0.000000,18.0,29.0,21.0
39804,63162,1112457309,wVYN9RZ,MASC,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,0.000000,1.0,8.0,7.0
67110,13280,1112034433,YWreBY,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,False,0.000000,0.0,1.0,2.0
68715,52102,1112442467,6krvp4,FEM,42.0,-,-,-,-,Graduado,...,False,False,False,False,True,False,0.000000,0.0,1.0,0.0
36661,85642,1112466646,kP6VEaQ,MASC,24.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,0.031250,0.0,13.0,3.0

In [26]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.98468452, 0.01531548],
       [0.91707531, 0.08292469],
       [0.99507161, 0.00492839],
       ...,
       [0.98484307, 0.01515693],
       [0.98797481, 0.01202519],
       [0.99410825, 0.00589175]])

In [27]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [28]:
prediccion['sepostulo']=y_final2

In [29]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,sepostulo
0,0,739260,6M9ZQR,FEM,42.0,Graduado,-,-,-,Graduado,...,False,False,False,False,False,0.0,0.0,13.0,0.0,0.015315
1,1,739260,6v1xdL,MASC,30.0,-,-,Graduado,-,-,...,False,False,False,False,False,0.0,5.0,55.0,0.0,0.082925
2,2,739260,ezRKm9,FEM,36.0,-,-,-,-,Graduado,...,False,False,False,False,False,0.0,2.0,10.0,0.0,0.004928
3,3,758580,1Q35ej,MASC,68.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,0.0,0.0,12.0,0.0,0.002338
4,4,758580,EAN4J6,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,0.0,0.0,10.0,0.0,0.000976

In [30]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.015315
1   1   0.082925
2   2   0.004928
3   3   0.002338
4   4   0.000976

In [31]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion37.csv",index=False)

In [32]:
prediccion.sepostulo.mean()

0.4772061416245788