In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
prediccion18 = pd.read_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion18.csv")
print(len(prediccion18))

100000

In [5]:
prediccion21 = pd.read_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion21.csv")
print(len(prediccion21))

100000

In [6]:
prediccion = pd.concat([prediccion18 , prediccion21], axis=0,ignore_index=True);
prediccion.head(10)

   id  sepostulo
0   0   0.298555
1   1   0.341531
2   2   0.341809
3   3   0.138538
4   4   0.319342
5   5   0.443051
6   6   0.627883
7   7   0.071232
8   8   0.582593
9   9   0.264582

In [10]:
prediccion.sort_values('id',inplace=True)
prediccion.head(10)

        id  sepostulo
0        0   0.298555
100000   0   0.149819
100001   1   0.260079
1        1   0.341531
100002   2   0.257904
2        2   0.341809
100003   3   0.057610
3        3   0.138538
100004   4   0.196804
4        4   0.319342

In [13]:
prediccion=prediccion.groupby('id',as_index=False).agg({'sepostulo':'mean'})
prediccion.head(10)

   id  sepostulo
0   0   0.224187
1   1   0.300805
2   2   0.299856
3   3   0.098074
4   4   0.258073
5   5   0.391017
6   6   0.554662
7   7   0.057390
8   8   0.472594
9   9   0.229256

In [15]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion22.csv",index=False)

In [14]:
prediccion.sepostulo.mean()

0.5174899445754415