In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

%matplotlib inline

In [82]:
postulantes = pd.read_csv('../data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')

In [83]:
postulantes.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [84]:
postulantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200888 entries, 0 to 200887
Data columns (total 3 columns):
idpostulante       200888 non-null object
fechanacimiento    196138 non-null object
sexo               200888 non-null object
dtypes: object(3)
memory usage: 4.6+ MB

In [85]:
postulaciones = pd.read_csv('../data/datos_navent_fiuba/fiuba_4_postulaciones.csv')

In [86]:
postulaciones.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [87]:
postulaciones_y_postulantes = pd.merge(postulantes, postulaciones, on='idpostulante', how='inner')

In [88]:
postulaciones_y_postulantes.head()

  idpostulante fechanacimiento sexo     idaviso     fechapostulacion
0         NM5M      1970-12-03  FEM  1112257047  2018-01-15 16:22:34
1         NM5M      1970-12-03  FEM  1111920714  2018-02-06 09:04:50
2         NM5M      1970-12-03  FEM  1112346945  2018-02-22 09:04:47
3         NM5M      1970-12-03  FEM  1112345547  2018-02-22 09:04:59
4         5awk      1962-12-04  FEM  1112237522  2018-01-25 18:55:03

In [89]:
#me quedo solo con lo que me interesa
postulaciones_y_postulantes = postulaciones_y_postulantes[['fechanacimiento']]

In [90]:
#postulaciones_y_postulantes = postulaciones_y_postulantes['fechanacimiento'].str.split(' ', 1, expand=True)
postulaciones_y_postulantes['fechanacimiento'] = pd.to_datetime(postulaciones_y_postulantes['fechanacimiento'], errors = 'coerce')
postulaciones_y_postulantes.head()

  fechanacimiento
0      1970-12-03
1      1970-12-03
2      1970-12-03
3      1970-12-03
4      1962-12-04

In [91]:
#postulaciones_y_postulantes['year'] = postulaciones_y_postulantes['fechanacimiento'].dt.year
#postulaciones_y_postulantes.head()
now = datetime.now()

In [92]:
postulaciones_y_postulantes['edad'] = now - postulaciones_y_postulantes['fechanacimiento']

In [ ]:
postulaciones_y_postulantes.head()

In [100]:
dias_vividos = postulaciones_y_postulantes['edad'].astype(str).str.split(' ', 1, expand=True)
dias_vividos

             0                        1
0        17293  days 22:29:04.010383000
1        17293  days 22:29:04.010383000
2        17293  days 22:29:04.010383000
3        17293  days 22:29:04.010383000
4        20214  days 22:29:04.010383000
5        20214  days 22:29:04.010383000
6        20214  days 22:29:04.010383000
7        20214  days 22:29:04.010383000
8        20214  days 22:29:04.010383000
9        20214  days 22:29:04.010383000
10       20214  days 22:29:04.010383000
11       20214  days 22:29:04.010383000
12       20214  days 22:29:04.010383000
13       20214  days 22:29:04.010383000
14       20214  days 22:29:04.010383000
15       20214  days 22:29:04.010383000
16       20214  days 22:29:04.010383000
17       20214  days 22:29:04.010383000
18       20214  days 22:29:04.010383000
19       20214  days 22:29:04.010383000
20       14486  days 22:29:04.010383000
21       14486  days 22:29:04.010383000
22       14486  days 22:29:04.010383000
23       14486  days 22:29:04.010383000
24       14486  days 22:29:04.010383000
25       14486  days 22:29:04.010383000
26       14486  days 22:29:04.010383000
27       14486  days 22:29:04.010383000
28       14486  days 22:29:04.010383000
29       14486  days 22:29:04.010383000
...        ...                      ...
3401593   9261  days 22:29:04.010383000
3401594   9261  days 22:29:04.010383000
3401595   7579  days 22:29:04.010383000
3401596   7579  days 22:29:04.010383000
3401597   7579  days 22:29:04.010383000
3401598    NaT                     None
3401599    NaT                     None
3401600    NaT                     None
3401601    NaT                     None
3401602   7594  days 22:29:04.010383000
3401603   7594  days 22:29:04.010383000
3401604   7594  days 22:29:04.010383000
3401605   7656  days 22:29:04.010383000
3401606   7656  days 22:29:04.010383000
3401607   7656  days 22:29:04.010383000
3401608  11049  days 22:29:04.010383000
3401609  11049  days 22:29:04.010383000
3401610  11049  days 22:29:04.010383000
3401611  11049  days 22:29:04.010383000
3401612  11049  days 22:29:04.010383000
3401613  11049  days 22:29:04.010383000
3401614  11049  days 22:29:04.010383000
3401615  11049  days 22:29:04.010383000
3401616  11049  days 22:29:04.010383000
3401617   7274  days 22:29:04.010383000
3401618   7274  days 22:29:04.010383000
3401619   7703  days 22:29:04.010383000
3401620   7580  days 22:29:04.010383000
3401621   7580  days 22:29:04.010383000
3401622    NaT                     None

[3401623 rows x 2 columns]

In [102]:
dias_vividos.columns = ['dias', 'trash']
dias_vividos = dias_vividos[['dias']]

In [ ]:
#limpio datos feos
dias_vividos = dias_vividos[dias_vividos'dias'] != 'NaT']

In [ ]:
dias_vividos.head()

In [ ]:
dias_vividos = dias_vividos['anio'].astype(int)
dias_vividos.head()

In [ ]:
anios_vividos.head()