In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,akjmXXq,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,MV6b6R9,0,30.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,zvxv1Rm,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,8oqJzL,0,34.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ez533B,0,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [7]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,NM5M,1,47.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,1kJqGb,1,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,eOE9Rr,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,Zrx8Xz,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ZrKNQY,1,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12332167

In [9]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
4191229,1112395313,jkj6zbj,1,28.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
9499415,1112467175,jkV5AqB,0,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
3068221,1112260111,DrXKdJ5,1,27.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
12206005,1112363253,kPXZBzj,0,35.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
9645411,1112461367,4rP0EWz,0,48.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
2036249,1112352240,xkaAj6V,1,21.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
447402,1112284174,6rZWka4,1,21.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
8819831,1112272757,EK9WR6,0,40.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
8864112,1112252542,W9OLPdl,0,46.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
7938854,1112290986,Eexm12,0,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
1976441,1112312312,NZkrJ4,1,31.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
5917209,1112327378,PmGoZwj,1,23.0,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
4704224,1112401597,kPjaQWQ,1,18.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,2.0
12180441,1112350393,kP0BNLW,0,44.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
1115025,1112263701,ZD2081P,1,25.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
3288755,1112421996,8MZD2Kz,1,38.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
9056685,1112269993,jkV2M30,0,37.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
1778867,1112396301,EzpRRO9,1,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
9024118,1112305897,96LpwJv,0,40.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
943756,1112406885,owjEp4k,1,33.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,2.0

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
2061784,1112370500,8MPk3aj,1,200.0,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,1.0
10678358,1112374709,eW1koW,0,28.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
6054012,1112215064,LNKxWXP,1,25.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
1283979,1112274765,e0N888,1,31.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
5247460,1112422145,PmGWwQj,1,30.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,4.0
2614255,1112231508,vVjQj9E,1,40.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
6744335,1112325383,jkdmZe6,0,27.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
4303569,1112346943,6r2Ojol,1,31.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
10286808,1112396755,JBXR39p,0,39.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
10737675,1112314853,DrXXoLK,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
9208147,1112412660,JBe82Lp,0,23.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
5614824,1112276969,GNZ3lOK,1,20.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
7270931,1112377120,X9l616L,0,23.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
9531565,1111870627,KBd3BKq,0,38.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
2101405,1112270563,VNJpE0d,1,27.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0
2810204,1112321927,KBr3GrA,1,29.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
48295,1112345900,5mdG2Vq,1,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
9451402,1112402904,Bm5J2aE,0,38.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
11599779,1112420503,mzd8pE6,0,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
8651841,1112363352,N0All5,0,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0

In [11]:
areas=avisos['nombre_area'].value_counts().index
postulaciones['nombre_area']=postulaciones['nombre_area'].replace(areas, range(len(areas)))
postulaciones.dtypes

idaviso                                                 int64
idpostulante                                           object
sepostulo                                               int64
edad                                                  float64
sexo_FEM                                                 bool
sexo_MASC                                                bool
sexo_NO_DECLARA                                          bool
Doctorado_Abandonado                                     bool
Doctorado_En Curso                                       bool
Doctorado_Graduado                                       bool
Master_Abandonado                                        bool
Master_En Curso                                          bool
Master_Graduado                                          bool
Posgrado_Abandonado                                      bool
Posgrado_En Curso                                        bool
Posgrado_Graduado                                        bool
Secundario_Abandonado                                    bool
Secundario_En Curso                                      bool
Secundario_Graduado                                      bool
Terciario/T√©cnico_Abandonado                             bool
Terciario/T√©cnico_En Curso                               bool
Terciario/T√©cnico_Graduado                               bool
Universitario_Abandonado                                 bool
Universitario_En Curso                                   bool
Universitario_Graduado                                   bool
titulo                                                 object
nombre_area                                             int64
denominacion_empresa                                   object
titulo_uppercase                                         bool
pide_hombre                                              bool
                                                       ...
nombre_zona_Catamarca                                    bool
nombre_zona_Ciudad de Mendoza                            bool
nombre_zona_Cordoba                                      bool
nombre_zona_Corrientes                                   bool
nombre_zona_GBA Oeste                                    bool
nombre_zona_Gran Buenos Aires                            bool
nombre_zona_La Plata                                     bool
nombre_zona_Mendoza                                      bool
nombre_zona_Neuquen                                      bool
nombre_zona_Rosario                                      bool
nombre_zona_San Juan                                     bool
nombre_zona_Santa Cruz                                   bool
nombre_zona_Santa Fe                                     bool
nombre_zona_Tucuman                                      bool
tipo_de_trabajo_Fines de Semana                          bool
tipo_de_trabajo_Full-time                                bool
tipo_de_trabajo_Part-time                                bool
tipo_de_trabajo_Pasantia                                 bool
tipo_de_trabajo_Por Contrato                             bool
tipo_de_trabajo_Por Horas                                bool
tipo_de_trabajo_Primer empleo                            bool
tipo_de_trabajo_Teletrabajo                              bool
tipo_de_trabajo_Temporario                               bool
tipo_de_trabajo_Voluntario                               bool
nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n       bool
nivel_laboral_Jefe / Supervisor / Responsable            bool
nivel_laboral_Junior                                     bool
nivel_laboral_Otro                                       bool
nivel_laboral_Senior / Semi-Senior                       bool
cantidad                                              float64
Length: 77, dtype: object

In [12]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
postulaciones2=0

Train:  11098950 Test:  1233217

In [13]:
import gc
gc.collect()

135

In [14]:
c=RandomForestClassifier(n_estimators=250,min_samples_split=100,max_features="log2",n_jobs=-1,random_state=0)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")
dt=c.fit(x_train,y_train)

In [15]:
score=c.score(x_test,y_test)*100
print(score)

73.40841068522408

In [16]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/RFV2ONEHOT.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/RFV2ONEHOT.pkl']

In [18]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
14410,63252,1112457358,Yj5aYkZ,29.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,4.0
51715,36780,1112412413,kPjozW0,35.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
16156,68882,1112460892,4rNzLje,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
89556,50791,1112440539,aPp6d9,25.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
14671,63971,1112457744,4rNzLje,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
68091,13947,1112084740,ZYkWoY,26.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
32468,51784,1112442076,bOj4mzd,31.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,4.0
83908,32620,1112396113,6q9WLL,38.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
15112,64740,1112458518,X95G2oO,26.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
74589,50890,1112440597,1Zv1mb,33.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0

In [19]:
areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))
prediccion.dtypes

id                                                      int64
idaviso                                                 int64
idpostulante                                           object
edad                                                  float64
sexo_FEM                                                 bool
sexo_MASC                                                bool
sexo_NO_DECLARA                                          bool
Doctorado_Abandonado                                     bool
Doctorado_En Curso                                       bool
Doctorado_Graduado                                       bool
Master_Abandonado                                        bool
Master_En Curso                                          bool
Master_Graduado                                          bool
Posgrado_Abandonado                                      bool
Posgrado_En Curso                                        bool
Posgrado_Graduado                                        bool
Secundario_Abandonado                                    bool
Secundario_En Curso                                      bool
Secundario_Graduado                                      bool
Terciario/T√©cnico_Abandonado                             bool
Terciario/T√©cnico_En Curso                               bool
Terciario/T√©cnico_Graduado                               bool
Universitario_Abandonado                                 bool
Universitario_En Curso                                   bool
Universitario_Graduado                                   bool
titulo                                                 object
nombre_area                                             int64
denominacion_empresa                                   object
titulo_uppercase                                         bool
pide_hombre                                              bool
                                                       ...
nombre_zona_Catamarca                                    bool
nombre_zona_Ciudad de Mendoza                            bool
nombre_zona_Cordoba                                      bool
nombre_zona_Corrientes                                   bool
nombre_zona_GBA Oeste                                    bool
nombre_zona_Gran Buenos Aires                            bool
nombre_zona_La Plata                                     bool
nombre_zona_Mendoza                                      bool
nombre_zona_Neuquen                                      bool
nombre_zona_Rosario                                      bool
nombre_zona_San Juan                                     bool
nombre_zona_Santa Cruz                                   bool
nombre_zona_Santa Fe                                     bool
nombre_zona_Tucuman                                      bool
tipo_de_trabajo_Fines de Semana                          bool
tipo_de_trabajo_Full-time                                bool
tipo_de_trabajo_Part-time                                bool
tipo_de_trabajo_Pasantia                                 bool
tipo_de_trabajo_Por Contrato                             bool
tipo_de_trabajo_Por Horas                                bool
tipo_de_trabajo_Primer empleo                            bool
tipo_de_trabajo_Teletrabajo                              bool
tipo_de_trabajo_Temporario                               bool
tipo_de_trabajo_Voluntario                               bool
nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n       bool
nivel_laboral_Jefe / Supervisor / Responsable            bool
nivel_laboral_Junior                                     bool
nivel_laboral_Otro                                       bool
nivel_laboral_Senior / Semi-Senior                       bool
cantidad                                              float64
Length: 77, dtype: object

In [20]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.57048607, 0.42951393],
       [0.54713497, 0.45286503],
       [0.55888262, 0.44111738],
       ...,
       [0.77304338, 0.22695662],
       [0.60594024, 0.39405976],
       [0.86787288, 0.13212712]])

In [21]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [22]:
prediccion['sepostulo']=y_final2

In [23]:
prediccion.head()

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad,sepostulo
0,0,739260,6M9ZQR,42.0,True,False,False,False,False,True,...,False,False,False,False,True,False,False,False,0.0,0.429514
1,1,739260,6v1xdL,30.0,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0.452865
2,2,739260,ezRKm9,36.0,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0.441117
3,3,758580,1Q35ej,68.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0.088127
4,4,758580,EAN4J6,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0.396988

In [24]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.429514
1   1   0.452865
2   2   0.441117
3   3   0.088127
4   4   0.396988

In [27]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion6_ONEHOT.csv",index=False)

In [26]:
prediccion.sepostulo.mean()

0.5914398903806428