In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,akjmXXq,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,MV6b6R9,0,30.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,zvxv1Rm,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,8oqJzL,0,34.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ez533B,0,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [7]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,NM5M,1,47.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,1kJqGb,1,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,eOE9Rr,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,Zrx8Xz,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ZrKNQY,1,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12332167

In [9]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
12263933,1112339786,ek482Ko,0,23.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
1555066,1112411604,ZDrVZQ5,1,23.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,2.0
9182946,1112463897,59LArk,0,33.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
9506494,1112277757,6rQ9Odx,0,26.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
8658668,1112359300,wVO02Np,0,38.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
620369,1112306443,DrlxDEP,1,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
8288959,1112376947,zvaV3Zk,0,19.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
12009901,1112277648,5JoPMk,0,33.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
1372667,1112437676,Yd0KAq,1,27.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
8935769,1112299038,EzE5Oo0,0,38.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
2980751,1112392476,ekOLZaW,1,25.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,2.0
9186921,1112274844,bOJ3xvb,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
3830868,1112363431,xkPYo6z,1,41.0,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,1.0
6363687,1112205158,6r5mj0M,0,21.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
4984521,1111948760,KBrJ59Y,1,23.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
6533406,1112393056,akbD0jW,0,36.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
10862059,1112402910,MVev1pp,0,46.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
1219723,1112297031,vVDbzlj,1,31.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
1659544,1112430722,Nzr54r4,1,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0
2326595,1112368915,E5Mk8b,1,42.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,3.0

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
9889505,1112293156,W9A4EmR,0,26.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
2860770,1112426068,JBxq4j3,1,46.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
8988621,1112457238,EzZ8qRN,0,23.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0.0
5635553,1112353121,VNPB5kl,1,26.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
2420006,1112171611,BmZDw12,1,23.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
10061528,1112299184,BmoWN4w,0,42.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
1293863,1112298982,8PJXAD,1,29.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
8091607,1112286978,KBdNE2X,0,37.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
3000608,1112339238,pzdJeeb,1,21.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0
6975025,1112334788,KBdLmpm,0,21.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
5658917,1112275810,ZDa5V9b,1,28.0,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,0.0
7297267,1112262197,6rQLQGM,0,31.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
7962385,1112423597,EjwJqN,0,31.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
5098757,1112356444,2zwevXV,1,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
6035610,1112345263,5EXd4w,1,41.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
8777685,1112314143,2zm2E9a,0,23.0,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,0.0
10720688,1112346571,6aej0v,0,37.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
4337371,1112359300,owPMql3,1,23.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0
3335797,1112291747,MVr1P4o,1,24.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
385496,1112356576,kP6Q2mj,1,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0

In [11]:
areas=avisos['nombre_area'].value_counts().index
postulaciones['nombre_area']=postulaciones['nombre_area'].replace(areas, range(len(areas)))

In [12]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
postulaciones2=0

Train:  11098950 Test:  1233217

In [13]:
import gc
gc.collect()

135

In [14]:
c=DecisionTreeClassifier(min_samples_split=100)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/arbol.pkl") 
dt=c.fit(x_train,y_train)

In [15]:
y_pred=c.predict(x_test)
score=accuracy_score(y_test,y_pred)*100
print(score)

72.89868693019963

In [16]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/arbolONEHOT.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/arbolONEHOT.pkl']

In [17]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
24693,2904,1111310458,6MXXJR,46.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.0
15777,67654,1112460365,6PJXQr,43.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
85817,35204,1112410051,6paA23,36.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
40801,44865,1112427345,5mkd4XZ,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
24705,41220,1112420600,61wJQL,26.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,2.0
64933,39198,1112417231,6L3eXj,42.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
59019,7735,1111733487,aLbOVq,26.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
26720,88775,1112467018,6rPl1o3,23.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
41768,24715,1112322511,qe24vpR,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0
94849,94207,1112483363,YOZR4Z,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.0

In [20]:
areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))

In [21]:
x_final=prediccion[features]
y_final=c.predict(x_final)
y_final

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [22]:
prediccion['sepostulo']=y_final

In [23]:
prediccion.head()

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad,sepostulo
0,0,739260,6M9ZQR,42.0,True,False,False,False,False,True,...,False,False,False,False,True,False,False,False,0.0,0
1,1,739260,6v1xdL,30.0,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0
2,2,739260,ezRKm9,36.0,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0
3,3,758580,1Q35ej,68.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0
4,4,758580,EAN4J6,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0

In [24]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [25]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion3_ONEHOT.csv",index=False)

In [26]:
prediccion.sepostulo.mean()

0.54426