In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
areas=avisos['nombre_area'].value_counts()
avisos['nombre_area']=avisos['nombre_area'].replace(areas.index, areas.values)

avisos_no_one_hot= pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
avisos_no_one_hot=avisos_no_one_hot[['idaviso','tipo_de_trabajo','nivel_laboral','nombre_area']];
avisos_no_one_hot['tipo_de_trabajo']=avisos_no_one_hot['tipo_de_trabajo'].astype('category')
avisos_no_one_hot['nivel_laboral']=avisos_no_one_hot['nivel_laboral'].astype('category')
avisos_no_one_hot['nombre_area']=avisos_no_one_hot['nombre_area'].astype('category')
avisos_no_one_hot=avisos_no_one_hot.rename(columns={'nombre_area': 'nombre_area_aux'})

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas2=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2=vistas2.rename(columns={'idAviso': 'idaviso'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

  idpostulante  cantidad
0        0002q        15
1        0005E        58
2        000R8        14
3        001XE        26
4        003k9        32

In [7]:
vistas3=pd.merge(vistas2,vistas,on='idpostulante',how='left')

In [8]:
vistas3.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           2          28
1    48375       RwVdKR           1          15
2   169730        1KjXB           2          99
3   169730       2AKzxa           2           2
4   169730        6LJ64           1          23

In [9]:
vistas3['cantidad']=vistas3['cantidad_x']/vistas3['cantidad_y']
vistas3.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas3.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.071429
1    48375       RwVdKR  0.066667
2   169730        1KjXB  0.020202
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.043478

In [10]:
vistas=vistas.rename(columns={'cantidad': 'vistas_postulante'})
vistas2=vistas2.rename(columns={'cantidad': 'vistas_al_aviso'})

In [11]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/7.csv")
postulaciones2=postulaciones2.append(pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/8.csv").sample(len(postulaciones2)//2).reset_index(drop=True))
print(len(postulaciones2))
postulaciones2

9906801

            idaviso idpostulante  sepostulo
0        1112389495       5NbOjG          0
1        1112024109      1QP841b          0
2        1112490884      96XQ6N9          0
3        1111474259      qe2QJj1          0
4        1112211292      KBzbBJm          0
5        1112328485      3NzZv26          0
6        1112474766      akDjWwE          0
7        1112312385       aZpBJW          0
8        1112285628      akDWj55          0
9        1112322843      GNd0KNN          0
10       1112355899      DrXPRJX          0
11       1112461865      8MPoBDR          0
12       1111673413       a1NjRN          0
13       1112299006      jkVWXRQ          0
14       1112501771      owz0YGW          0
15       1002543409       Ej5AAb          0
16       1112425310      KBrpAO2          0
17       1112498569      pzNMppM          0
18       1111866251       ZKqL85          0
19       1112289529      ow2awXr          0
20       1112493109      5mP1DWM          0
21       1112326017      0zd9GZ9          0
22       1112242315      3NQKV6Q          0
23       1112452417      DrlVEwW          0
24       1112402816      mzdk9dZ          0
25       1112359100      3NP46xq          0
26       1112410555      bOVKA32          0
27       1112511403      mzdlAQO          0
28       1111272539      6rPpNM4          0
29       1111591317      6rP4K13          0
...             ...          ...        ...
3302237  1112396499       EJAD0o          0
3302238  1112292957      mzb2O01          0
3302239  1112257016      5mPkLVq          0
3302240  1111844420      KBrYdkQ          0
3302241  1112259957      mzJL8Yd          0
3302242  1112428082      Rzrd6Nx          0
3302243  1112296317      VNxKl52          0
3302244  1112364935      YjV2lDV          0
3302245  1112471515      W9PAj09          0
3302246  1112339084       89A8zO          0
3302247  1112400829       1PBZkb          0
3302248  1112503974      rmdk0bQ          0
3302249  1112406667      akDz48m          0
3302250  1112256453      96Zm81P          0
3302251  1112420544      8MaoOGD          0
3302252  1112241678      ekNRj48          0
3302253  1111403886      RzrY5a6          0
3302254  1112309025      4rP8wqM          0
3302255  1112260541       55BPdZ          0
3302256  1112204188      8MaXP6O          0
3302257  1112112987      Oqrd9Nx          0
3302258  1112455515      1QrrEpR          0
3302259  1112453077      Dr6xoRa          0
3302260  1112268397       eMbZj4          0
3302261  1112215205      ow2Xo80          0
3302262  1112312078      vVeQNN1          0
3302263  1112203742      8MZe3oz          0
3302264  1112484514      bOzjpZ2          0
3302265  1112245414      0zPZzJd          0
3302266  1111558834      akjV0Y0          0

[9906801 rows x 3 columns]

In [12]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [13]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

16511335
16502032

In [14]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,avisos_no_one_hot,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas2,on=['idaviso','idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas3,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,vistas_postulante,vistas_al_aviso,cantidad
12338872,1112489903,0zNNJNY,0,27.0,False,True,False,False,False,False,...,False,True,False,False,Full-time,Junior,Recepcionista,8.0,NaN,NaN
8727112,1112261613,3N2OXXx,0,20.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Ventas,NaN,NaN,NaN
224353,1112104046,vVYbjAX,1,24.0,True,False,False,False,False,False,...,False,True,False,False,Part-time,Junior,Recepcionista,123.0,2.0,0.01626
15603476,1111588362,6DJZQl,0,43.0,False,True,False,False,False,True,...,False,False,False,True,Full-time,Senior / Semi-Senior,Administración,18.0,NaN,NaN
1072144,1112264539,ek4xM29,1,27.0,False,True,False,False,False,False,...,False,False,True,False,Full-time,Otro,Medicina,6.0,NaN,NaN
10467281,1112248823,ejKeqo,1,26.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Facturación,18.0,NaN,NaN
10004150,1112198838,kPjopaW,0,28.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Comercial,23.0,NaN,NaN
14675956,1111937604,vVkPjZQ,0,34.0,True,False,False,False,False,False,...,False,True,False,False,Full-time,Junior,Contabilidad,178.0,NaN,NaN
6321732,1112369269,GNoqQq8,1,32.0,False,True,False,False,False,False,...,False,True,False,False,Full-time,Junior,Soporte Técnico,15.0,NaN,NaN
5463005,1111962454,8MPePdj,0,53.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Transporte,78.0,NaN,NaN
14316496,1112038795,Nz0ZAVD,0,200.0,False,False,True,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Otros,8.0,NaN,NaN
14647939,1112301069,96XNKKw,0,28.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Mantenimiento,53.0,NaN,NaN
8214375,1111718179,pzdLK8M,0,19.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Ingeniería Automotriz,9.0,NaN,NaN
9196016,1112389343,LNK9oBB,0,21.0,False,True,False,False,False,False,...,False,True,False,False,Full-time,Junior,Ingeniería Mecánica,NaN,NaN,NaN
12497677,1111914090,vVjxoWP,0,18.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Control de Gestión,35.0,NaN,NaN
11108592,1111378749,2zrkXko,0,36.0,True,False,False,False,False,False,...,False,True,False,False,Full-time,Junior,Atención al Cliente,5.0,NaN,NaN
8877739,1112341621,A3XPJ5G,0,20.0,False,True,False,False,False,False,...,False,True,False,False,Full-time,Junior,Arquitectura,91.0,NaN,NaN
7081428,1112356661,NmAvR5,1,38.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Abastecimiento,107.0,NaN,NaN
10657243,1112454491,pzdWA5b,0,20.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Salud,159.0,NaN,NaN
1993005,1112378345,YmajpX,1,32.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Atención al Cliente,158.0,NaN,NaN

In [15]:
postulaciones['cantidad']=postulaciones['cantidad'].fillna(0)
postulaciones['vistas_postulante']=postulaciones['vistas_postulante'].fillna(0)
postulaciones['vistas_al_aviso']=postulaciones['vistas_al_aviso'].fillna(0)
postulaciones['lo_vio']=(postulaciones['vistas_al_aviso']>0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,vistas_postulante,vistas_al_aviso,cantidad,lo_vio
1312703,1112458590,xkd6kRa,1,43.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Almacén / Depósito / Expedición,116.0,0.0,0.000000,False
15622259,1112260888,2zmMXJ0,1,39.0,True,False,False,False,False,False,...,True,False,False,Part-time,Junior,Ventas,7.0,0.0,0.000000,False
1213390,1112498076,owj1xOe,0,23.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Administración de Personal,3.0,0.0,0.000000,False
8717686,1112316617,YYzO3Y,0,26.0,True,False,False,False,False,False,...,True,False,False,Full-time,Junior,Logística,11.0,0.0,0.000000,False
2752472,1112447810,6rQ3M5r,0,30.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Administración,0.0,0.0,0.000000,False
2181658,1112301106,dYjYvzD,1,26.0,True,False,False,False,False,False,...,False,False,True,Temporario,Senior / Semi-Senior,Atención al Cliente,25.0,0.0,0.000000,False
2542729,1112215441,ekOBYDp,0,19.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Administración de Personal,2.0,0.0,0.000000,False
11419458,1112293428,883DZL,0,53.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,1.0,0.0,0.000000,False
5661308,1112042381,xkdmwox,0,42.0,False,True,False,False,False,False,...,True,False,False,Full-time,Junior,Administración,0.0,0.0,0.000000,False
1283361,1112305527,BmD628a,1,43.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,209.0,1.0,0.004785,True
1201299,1112385543,DrzxoVK,1,39.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Otras áreas técnicas en salud,33.0,1.0,0.030303,True
221335,1112447465,MVr2QkL,0,18.0,False,True,False,False,False,False,...,False,False,False,Full-time,Gerencia / Alta Gerencia / Dirección,Asistente,0.0,0.0,0.000000,False
5696022,1112404044,zvPQom6,1,46.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,17.0,1.0,0.058824,True
6660683,1112422710,ow2zl2W,1,31.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,21.0,0.0,0.000000,False
5628197,1112237658,5mq49Zq,0,38.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Programación de producción,26.0,0.0,0.000000,False
10783731,1111547536,A36zJWj,0,23.0,True,False,False,False,False,False,...,False,False,True,Part-time,Senior / Semi-Senior,Ventas,87.0,0.0,0.000000,False
6887829,1111881145,Oqb9rBd,1,32.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Soporte Técnico,631.0,0.0,0.000000,False
8309794,1112242436,Yj5DZL1,1,24.0,True,False,False,False,False,False,...,True,False,False,Part-time,Junior,Administración,0.0,0.0,0.000000,False
5522842,1112440445,PmLO141,0,24.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Análisis de Riesgos,3.0,0.0,0.000000,False
6253915,1112406572,zvamjLJ,1,38.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Legal,20.0,0.0,0.000000,False

In [16]:
postulaciones_por_area=postulaciones.copy()
postulaciones_por_area=postulaciones_por_area.groupby(by=['idpostulante','nombre_area_aux'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_area=postulaciones_por_area.rename(columns={'sepostulo':'postulaciones_misma_area'})
postulaciones_por_area.head()

  idpostulante                  nombre_area_aux  postulaciones_misma_area
0      0z5Dmrd                   Abastecimiento                         1
1      0z5Dmrd                   Administración                         2
2      0z5Dmrd       Administración de Personal                         1
3      0z5Dmrd  Almacén / Depósito / Expedición                         1
4      0z5Dmrd              Atención al Cliente                         1

In [17]:
postulaciones_por_nivel=postulaciones.copy()
postulaciones_por_nivel=postulaciones_por_nivel.groupby(by=['idpostulante','nivel_laboral'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_nivel=postulaciones_por_nivel.rename(columns={'sepostulo':'postulaciones_mismo_nivel'})
postulaciones_por_nivel.head()

,idpostulante,nivel_laboral,postulaciones_mismo_nivel
0,0z5Dmrd,Gerencia / Alta Gerencia / Dirección,2
1,0z5Dmrd,Junior,3
2,0z5Dmrd,Otro,1
3,0z5Dmrd,Senior / Semi-Senior,16
4,0z5JW1r,Gerencia / Alta Gerencia / Dirección,2

In [18]:
postulaciones_por_tipo=postulaciones.copy()
postulaciones_por_tipo=postulaciones_por_tipo.groupby(by=['idpostulante','tipo_de_trabajo'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_tipo=postulaciones_por_tipo.rename(columns={'sepostulo':'postulaciones_mismo_tipo'})
postulaciones_por_tipo.head()

  idpostulante tipo_de_trabajo  postulaciones_mismo_tipo
0      0z5Dmrd       Full-time                        21
1      0z5Dmrd       Part-time                         1
2      0z5JW1r       Full-time                        26
3      0z5JW1r       Part-time                         1
4      0z5VvGv       Full-time                        57

In [19]:
postulaciones=pd.merge(postulaciones,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['postulaciones_misma_area']=postulaciones['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_nivel']=postulaciones['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_tipo']=postulaciones['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo,nivel_laboral,nombre_area_aux,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel
4228936,1112282919,2zP4ePV,0,26.0,False,True,False,False,False,False,...,Full-time,Senior / Semi-Senior,Tesorería,38.0,0.0,0.000000,False,1,69,49
2713995,1112204683,0zPxB28,1,200.0,False,False,True,False,False,False,...,Full-time,Senior / Semi-Senior,Farmacéutica,0.0,0.0,0.000000,False,0,25,17
2295463,1112262494,akb3w00,1,23.0,False,True,False,False,False,False,...,Part-time,Senior / Semi-Senior,Atención al Cliente,0.0,0.0,0.000000,False,4,20,47
576898,1112334784,jkj36EO,1,19.0,False,True,False,False,False,False,...,Part-time,Senior / Semi-Senior,Comercial,0.0,0.0,0.000000,False,8,31,71
7118799,1112361693,VNr3zvN,0,32.0,True,False,False,False,False,False,...,Full-time,Senior / Semi-Senior,Administración,0.0,0.0,0.000000,False,3,19,15
14196990,1112358683,NGm49B,1,27.0,True,False,False,False,False,False,...,Full-time,Senior / Semi-Senior,Otros,160.0,0.0,0.000000,False,6,214,189
137576,1112420290,ZDr32pb,0,22.0,False,True,False,False,False,False,...,Full-time,Senior / Semi-Senior,Secretaria,61.0,0.0,0.000000,False,0,222,224
13914026,1111113573,Eze9BJo,0,26.0,True,False,False,False,False,False,...,Full-time,Senior / Semi-Senior,Producción,126.0,0.0,0.000000,False,3,28,24
8235571,1112462846,vVjM82x,0,25.0,True,False,False,False,False,False,...,Part-time,Otro,Call Center,19.0,0.0,0.000000,False,0,2,4
7376804,1112303274,8MB94RW,0,22.0,False,True,False,False,False,False,...,Full-time,Junior,Transporte,253.0,0.0,0.000000,False,1,17,2
11609680,1112207795,6901pM,0,26.0,False,True,False,False,False,False,...,Full-time,Junior,Servicios,2.0,0.0,0.000000,False,1,23,8
7979110,1112458483,wVjmdMl,1,25.0,False,True,False,False,False,False,...,Full-time,Senior / Semi-Senior,Producción,11.0,1.0,0.090909,True,2,28,21
12861476,1112385430,5l9GPX,0,39.0,True,False,False,False,False,False,...,Full-time,Senior / Semi-Senior,Administración,1.0,0.0,0.000000,False,3,19,13
8668080,1112494026,A3v92z6,0,26.0,True,False,False,False,False,False,...,Full-time,Senior / Semi-Senior,Contabilidad,4.0,0.0,0.000000,False,2,17,13
2149112,1112196813,ZZVoDZ,1,28.0,True,False,False,False,False,False,...,Full-time,Junior,Tesorería,170.0,10.0,0.058824,True,3,75,19
1350954,1112355445,akjAGjq,0,30.0,False,True,False,False,False,False,...,Full-time,Senior / Semi-Senior,Oficios y Profesiones,31.0,0.0,0.000000,False,0,20,14
5449861,1112313165,Y8M4VZ,1,28.0,True,False,False,False,False,False,...,Full-time,Senior / Semi-Senior,Comunicaciones Internas,33.0,0.0,0.000000,False,0,28,21
15049393,1111460539,lDLqeZ8,0,22.0,True,False,False,False,False,False,...,Full-time,Senior / Semi-Senior,Contabilidad,2.0,0.0,0.000000,False,1,19,15
645202,1112359895,ow2XZka,1,61.0,True,False,False,False,False,False,...,Full-time,Junior,Selección,22.0,1.0,0.045455,True,1,32,7
2176507,1111753928,QNLmZpq,1,28.0,True,False,False,False,False,False,...,Full-time,Junior,Tesorería,259.0,6.0,0.023166,True,5,84,18

In [20]:
for i in range(0,len(postulaciones.columns)):
    print(postulaciones.columns[i])

idaviso
idpostulante
sepostulo
edad
sexo_FEM
sexo_MASC
sexo_NO_DECLARA
Doctorado_Abandonado
Doctorado_En Curso
Doctorado_Graduado
Master_Abandonado
Master_En Curso
Master_Graduado
Posgrado_Abandonado
Posgrado_En Curso
Posgrado_Graduado
Secundario_Abandonado
Secundario_En Curso
Secundario_Graduado
Terciario/Técnico_Abandonado
Terciario/Técnico_En Curso
Terciario/Técnico_Graduado
Universitario_Abandonado
Universitario_En Curso
Universitario_Graduado
titulo
nombre_area
denominacion_empresa
titulo_uppercase
pide_hombre
pide_mujer
ingles
experiencia
paquete_office
liderazgo
secundario
viajar
empresa_importante
capacitacion
remuneracion_pretendida
graduados
estudiantes
conocimientos_especificos
buen_ambiente
discriminacion
nombre_zona_Buenos Aires (fuera de GBA)
nombre_zona_Capital Federal
nombre_zona_Catamarca
nombre_zona_Ciudad de Mendoza
nombre_zona_Cordoba
nombre_zona_Corrientes
nombre_zona_GBA Oeste
nombre_zona_Gran Buenos Aires
nombre_zona_La Plata
nombre_zona_Mendoza
nombre_zona_Neuquen
nombre_zona_Rosario
nombre_zona_San Juan
nombre_zona_Santa Cruz
nombre_zona_Santa Fe
nombre_zona_Tucuman
tipo_de_trabajo_Fines de Semana
tipo_de_trabajo_Full-time
tipo_de_trabajo_Part-time
tipo_de_trabajo_Pasantia
tipo_de_trabajo_Por Contrato
tipo_de_trabajo_Por Horas
tipo_de_trabajo_Primer empleo
tipo_de_trabajo_Teletrabajo
tipo_de_trabajo_Temporario
tipo_de_trabajo_Voluntario
nivel_laboral_Gerencia / Alta Gerencia / Dirección
nivel_laboral_Jefe / Supervisor / Responsable
nivel_laboral_Junior
nivel_laboral_Otro
nivel_laboral_Senior / Semi-Senior
tipo_de_trabajo
nivel_laboral
nombre_area_aux
vistas_postulante
vistas_al_aviso
cantidad
lo_vio
postulaciones_misma_area
postulaciones_mismo_tipo
postulaciones_mismo_nivel

In [21]:
train, test=train_test_split(postulaciones.sample(2*(len(postulaciones)//3)),test_size=0.05)
print("Train: ",len(train),"Test: ",len(test))

Train:  10187921 Test:  536207

In [22]:
features=['edad','sexo_FEM', 'sexo_MASC','Doctorado_Abandonado',
'Doctorado_En Curso', 'Doctorado_Graduado', 'Master_Abandonado',
'Master_En Curso', 'Master_Graduado', 'Posgrado_Abandonado',
'Posgrado_En Curso', 'Posgrado_Graduado', 'Secundario_Abandonado',
'Secundario_En Curso', 'Secundario_Graduado', 'Terciario/Técnico_Abandonado',
'Terciario/Técnico_En Curso', 'Terciario/Técnico_Graduado', 'Universitario_Abandonado',
'Universitario_En Curso', 'Universitario_Graduado', 'pide_hombre',
'pide_mujer', 'ingles', 'experiencia', 'paquete_office', 'liderazgo', 'secundario',
'viajar', 'empresa_importante', 'capacitacion', 'remuneracion_pretendida', 'graduados',
'estudiantes', 'conocimientos_especificos', 'buen_ambiente', 'discriminacion',
'tipo_de_trabajo_Fines de Semana', 'tipo_de_trabajo_Full-time', 'tipo_de_trabajo_Part-time',
'tipo_de_trabajo_Pasantia', 'tipo_de_trabajo_Por Contrato', 'tipo_de_trabajo_Por Horas',
'tipo_de_trabajo_Primer empleo', 'tipo_de_trabajo_Teletrabajo', 'tipo_de_trabajo_Temporario',
'tipo_de_trabajo_Voluntario', 'nivel_laboral_Gerencia / Alta Gerencia / Dirección',
'nivel_laboral_Jefe / Supervisor / Responsable', 'nivel_laboral_Junior',
'nivel_laboral_Otro', 'nivel_laboral_Senior / Semi-Senior', 'vistas_postulante',
'vistas_al_aviso', 'cantidad', 'postulaciones_misma_area', 'postulaciones_mismo_tipo', 
'postulaciones_mismo_nivel','lo_vio']

In [23]:
x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']

In [24]:
postulaciones=0
c=0
gc.collect()

302

In [25]:
c=MLPClassifier(activation='tanh', alpha=0.0001, batch_size='auto',epsilon=1e-08, hidden_layer_sizes=(len(features), 5), learning_rate='constant',learning_rate_init=0.001, max_iter=200,nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,solver='sgd', tol=0.0001, validation_fraction=0.1, verbose=True,warm_start=False)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/NN.pkl")
dt=c.fit(x_train,y_train)

Iteration 1, loss = 0.31698840
Iteration 2, loss = 0.29666825
Iteration 3, loss = 0.29180522
Iteration 4, loss = 0.28886406
Iteration 5, loss = 0.28706320
Iteration 6, loss = 0.28626790
Iteration 7, loss = 0.28491471
Iteration 8, loss = 0.28416663
Iteration 9, loss = 0.28350588
Iteration 10, loss = 0.28258125
Iteration 11, loss = 0.28180536
Iteration 12, loss = 0.28122897
Iteration 13, loss = 0.28077098
Iteration 14, loss = 0.28036320
Iteration 15, loss = 0.28006594
Iteration 16, loss = 0.27956851
Iteration 17, loss = 0.27945398
Iteration 18, loss = 0.27893359
Iteration 19, loss = 0.27895098
Iteration 20, loss = 0.27879068
Iteration 21, loss = 0.27852646
Iteration 22, loss = 0.27818936
Iteration 23, loss = 0.27802454
Iteration 24, loss = 0.27806731
Iteration 25, loss = 0.27793201
Iteration 26, loss = 0.27835532
Training loss did not improve more than tol=0.000100 for two consecutive epochs. Stopping.

In [26]:
from sklearn.metrics import roc_auc_score
x_final=x_test[features]
y_final=c.predict_proba(x_final)
y_pred=[]
for elem in y_final:
    y_pred.append(elem[1])
score=roc_auc_score(y_test, y_pred)
print(score)

0.9480807990902493

In [27]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/NN v5.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/NN v5.pkl']

In [28]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos_no_one_hot,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas2,on=['idaviso','idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas3,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion['vistas_postulante']=prediccion['vistas_postulante'].fillna(0)
prediccion['vistas_al_aviso']=prediccion['vistas_al_aviso'].fillna(0)
prediccion['lo_vio']=(prediccion['vistas_al_aviso']>0)
prediccion=pd.merge(prediccion,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['postulaciones_misma_area']=prediccion['postulaciones_misma_area'].fillna(0)
prediccion['postulaciones_mismo_nivel']=prediccion['postulaciones_mismo_nivel'].fillna(0)
prediccion['postulaciones_mismo_tipo']=prediccion['postulaciones_mismo_tipo'].fillna(0)
prediccion.sample(10)

100000
100000
100000
100000

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo,nivel_laboral,nombre_area_aux,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel
48077,2839,1111305816,ZZP6Nz,37.0,True,False,False,False,False,False,...,Full-time,Gerencia / Alta Gerencia / Dirección,Comercial,62.0,0.0,0.000000,False,2.0,26.0,1.0
38424,7432,1111709950,akbRmaZ,23.0,True,False,False,False,False,False,...,Part-time,Senior / Semi-Senior,Call Center,85.0,0.0,0.000000,False,13.0,30.0,110.0
56635,6101,1111625740,5KKz,40.0,False,True,False,False,False,False,...,Full-time,Senior / Semi-Senior,Impuestos,62.0,0.0,0.000000,False,0.0,14.0,10.0
51979,54593,1112446779,DrJNWJ5,23.0,False,True,False,False,False,False,...,Full-time,-,Comercial,0.0,0.0,0.000000,False,2.0,17.0,0.0
18444,75064,1112463951,lDXP3eM,28.0,False,True,False,False,False,False,...,Full-time,Jefe / Supervisor / Responsable,Créditos y Cobranzas,0.0,0.0,0.000000,False,1.0,45.0,0.0
12029,80066,1112464787,lD2kMJ3,22.0,True,False,False,False,False,False,...,Full-time,-,Administración,399.0,1.0,0.002506,True,10.0,147.0,13.0
5844,30915,1112382244,A3RJaBl,26.0,True,False,False,False,False,False,...,Full-time,Senior / Semi-Senior,Ventas,59.0,2.0,0.033898,True,6.0,33.0,24.0
37846,22118,1112283175,1MNkvR,37.0,False,True,False,False,False,False,...,Full-time,Otro,Ingeniería Electromecánica,77.0,1.0,0.012987,True,3.0,74.0,6.0
49171,2933,1111314837,xkaM8PK,23.0,False,True,False,False,False,False,...,Full-time,Senior / Semi-Senior,Mantenimiento,30.0,3.0,0.100000,True,0.0,17.0,11.0
39134,54102,1112445738,xkdGkmY,37.0,False,True,False,False,False,False,...,Full-time,Otro,Mantenimiento y Limpieza,11.0,1.0,0.090909,True,0.0,22.0,0.0

In [29]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.87754074, 0.12245926],
       [0.4498152 , 0.5501848 ],
       [0.70239273, 0.29760727],
       ...,
       [0.92155971, 0.07844029],
       [0.94375524, 0.05624476],
       [0.98508011, 0.01491989]])

In [30]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [31]:
prediccion['sepostulo']=y_final2

In [32]:
prediccion.head()

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral,nombre_area_aux,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,sepostulo
0,0,739260,6M9ZQR,42.0,True,False,False,False,False,True,...,Jefe / Supervisor / Responsable,Comercial,33.0,0.0,0.0,False,1.0,21.0,1.0,0.122459
1,1,739260,6v1xdL,30.0,False,True,False,False,False,False,...,Jefe / Supervisor / Responsable,Comercial,8.0,0.0,0.0,False,6.0,64.0,0.0,0.550185
2,2,739260,ezRKm9,36.0,True,False,False,False,False,False,...,Jefe / Supervisor / Responsable,Comercial,12.0,0.0,0.0,False,3.0,18.0,2.0,0.297607
3,3,758580,1Q35ej,68.0,False,True,False,False,False,False,...,Otro,Tecnologia / Sistemas,0.0,0.0,0.0,False,1.0,20.0,2.0,0.104351
4,4,758580,EAN4J6,32.0,True,False,False,False,False,False,...,Otro,Tecnologia / Sistemas,3.0,0.0,0.0,False,1.0,17.0,2.0,0.014945

In [33]:
prediccion=prediccion[['id','sepostulo']]
prediccion.head()

   id  sepostulo
0   0   0.122459
1   1   0.550185
2   2   0.297607
3   3   0.104351
4   4   0.014945

In [34]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion52.csv",index=False)

In [35]:
prediccion.sepostulo.mean()

0.49174567917322415