In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')
avisos['denominacion_empresa']=avisos['denominacion_empresa'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

      idaviso idpostulante
0  1111780242      YjVJQ6Z
1  1112263876      BmVpYoR
2  1112327963      wVkBzZd
3  1112318643      OqmP9pv
4  1111903673      DrpbXDP

In [5]:
vistas_por_area=vistas.copy()
vistas_por_area['vistas_por_area']=0;
vistas_por_area=pd.merge(vistas_por_area,avisos,on='idaviso', how='left')
vistas_por_area=vistas_por_area.groupby(['idpostulante','nombre_area'],as_index=False).agg({'vistas_por_area':'count'})
vistas_por_area.head()

  idpostulante            nombre_area  vistas_por_area
0        0005E  Tecnologia / Sistemas                2
1        00Lkv      Comercio Exterior                2
2        00dMd      Comercio Exterior                4
3        01QAq           Contabilidad                1
4        021OM      Comercio Exterior                5

In [6]:
vistas_por_nivel=vistas.copy()
vistas_por_nivel['vistas_por_nivel']=0;
vistas_por_nivel=pd.merge(vistas_por_nivel,avisos,on='idaviso', how='left')
vistas_por_nivel=vistas_por_nivel.groupby(['idpostulante','nivel_laboral'],as_index=False).agg({'vistas_por_nivel':'count'})
vistas_por_nivel.head()

  idpostulante nivel_laboral  vistas_por_nivel
0        0005E          Otro                 2
1        00Lkv          Otro                 2
2        00dMd          Otro                 4
3        01QAq          Otro                 1
4        021OM          Otro                 5

In [7]:
vistas_por_tipo=vistas.copy()
vistas_por_tipo['vistas_por_tipo']=0;
vistas_por_tipo=pd.merge(vistas_por_tipo,avisos,on='idaviso', how='left')
vistas_por_tipo=vistas_por_tipo.groupby(['idpostulante','tipo_de_trabajo'],as_index=False).agg({'vistas_por_tipo':'count'})
vistas_por_tipo.head()

  idpostulante tipo_de_trabajo  vistas_por_tipo
0        0005E       Full-time                2
1        00Lkv       Full-time                2
2        00dMd       Full-time                4
3        01QAq       Full-time                1
4        021OM       Full-time                5

In [8]:
vistas['cantidad']=0
vistas2=vistas.groupby(['idaviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [9]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas.head()

  idpostulante  cantidad
0        0002q        15
1        0005E        58
2        000R8        14
3        001XE        26
4        003k9        32

In [10]:
vistas3=pd.merge(vistas2,vistas,on='idpostulante',how='left')

In [11]:
vistas3.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           2          28
1    48375       RwVdKR           1          15
2   169730        1KjXB           2          99
3   169730       2AKzxa           2           2
4   169730        6LJ64           1          23

In [12]:
vistas3['cantidad']=vistas3['cantidad_x']/vistas3['cantidad_y']
vistas3.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas3.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.071429
1    48375       RwVdKR  0.066667
2   169730        1KjXB  0.020202
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.043478

In [13]:
vistas=vistas.rename(columns={'cantidad': 'vistas_postulante'})
vistas2=vistas2.rename(columns={'cantidad': 'vistas_al_aviso'})

In [14]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/7.csv")
postulaciones2=postulaciones2.append(pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/8.csv").sample(len(postulaciones2)//4).reset_index(drop=True))
print(len(postulaciones2))
postulaciones2

8255667

            idaviso idpostulante  sepostulo
0        1112389495       5NbOjG          0
1        1112024109      1QP841b          0
2        1112490884      96XQ6N9          0
3        1111474259      qe2QJj1          0
4        1112211292      KBzbBJm          0
5        1112328485      3NzZv26          0
6        1112474766      akDjWwE          0
7        1112312385       aZpBJW          0
8        1112285628      akDWj55          0
9        1112322843      GNd0KNN          0
10       1112355899      DrXPRJX          0
11       1112461865      8MPoBDR          0
12       1111673413       a1NjRN          0
13       1112299006      jkVWXRQ          0
14       1112501771      owz0YGW          0
15       1002543409       Ej5AAb          0
16       1112425310      KBrpAO2          0
17       1112498569      pzNMppM          0
18       1111866251       ZKqL85          0
19       1112289529      ow2awXr          0
20       1112493109      5mP1DWM          0
21       1112326017      0zd9GZ9          0
22       1112242315      3NQKV6Q          0
23       1112452417      DrlVEwW          0
24       1112402816      mzdk9dZ          0
25       1112359100      3NP46xq          0
26       1112410555      bOVKA32          0
27       1112511403      mzdlAQO          0
28       1111272539      6rPpNM4          0
29       1111591317      6rP4K13          0
...             ...          ...        ...
1651103  1112354695      jkMb6qe          0
1651104  1111345821      KBr3raX          0
1651105  1112486747      ow52kRZ          0
1651106  1112485083      A36e06l          0
1651107  1112226175      qevBV2R          0
1651108  1112385790      LNwAZq5          0
1651109  1112469033      QNEdRA4          0
1651110  1112285920       5wMalz          0
1651111  1112256117      BmZRWwz          0
1651112  1112305311      akjeJPZ          0
1651113  1112249335       eJ1d98          0
1651114  1112293110      owP96q0          0
1651115  1112509342       Y9D3ZJ          0
1651116  1112087089      3NP3Bl6          0
1651117  1112454407        Ywe3Y          0
1651118  1112379162      EzejRW2          0
1651119  1112260714      MV6a6Dr          0
1651120  1112291981      VNr3BoM          0
1651121  1112028771      2zPzxJQ          0
1651122  1112295920      ekObLXB          0
1651123  1112503179       eGGvRB          0
1651124  1112394743      VNPNm2d          0
1651125  1112479210      5mkKMMq          0
1651126  1112509132      ekN0j28          0
1651127  1112489680      mzdOJ06          0
1651128  1112410415      bOjBpLE          0
1651129  1111872359      6rQlADr          0
1651130  1112483691       YVdzrP          0
1651131  1112232975       aJ3GLN          0
1651132  1112412872      BmB8Npw          0

[8255667 rows x 3 columns]

In [15]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [16]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

14860201
14852772

In [17]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas2,on=['idaviso','idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas3,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,vistas_postulante,vistas_al_aviso,cantidad
14054628,1112496031,rmdwdxb,0,FEM,19.0,-,-,-,-,En Curso,...,False,False,False,False,False,False,False,2.0,NaN,NaN
8439511,1112257940,Z93AK5,1,FEM,43.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,33.0,NaN,NaN
13084559,1112274204,Drp0dBL,0,FEM,24.0,-,-,-,-,Graduado,...,True,False,True,True,False,False,False,1.0,NaN,NaN
7295174,1112273596,NKx94z,1,MASC,35.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,NaN,NaN,NaN
832060,1112296354,xkaa49j,1,MASC,39.0,-,-,-,-,Graduado,...,False,False,True,True,False,False,False,25.0,1.0,0.040000
8353429,1112445305,EX3xW9,0,FEM,31.0,-,-,-,-,Graduado,...,False,False,False,False,True,False,True,6.0,NaN,NaN
12826355,1112390296,6r2zwex,0,FEM,31.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,NaN,NaN,NaN
715593,1112393208,969jq3a,0,FEM,26.0,-,-,-,-,Graduado,...,True,False,True,True,False,True,False,43.0,NaN,NaN
8973755,1112379097,8MPezox,1,NO_DECLARA,200.0,-,-,-,-,En Curso,...,True,True,False,False,False,False,False,68.0,NaN,NaN
6058740,1112322830,ZDr3zz5,0,FEM,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,2.0,NaN,NaN
1611572,1112421491,akjQBJD,0,FEM,39.0,-,-,-,-,-,...,False,False,False,False,False,False,False,28.0,NaN,NaN
12561096,1112353640,Drl00p5,1,MASC,34.0,-,-,-,-,-,...,False,False,False,False,False,False,False,9.0,4.0,0.444444
3530076,1112322349,QNEBA6V,1,MASC,22.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,4.0,NaN,NaN
8621137,1112336089,bOzYDod,1,MASC,29.0,-,-,-,-,Graduado,...,False,False,True,True,False,False,False,3.0,NaN,NaN
13570800,1112513686,QNLrbGe,0,MASC,28.0,-,-,Graduado,-,Graduado,...,False,False,True,True,False,False,False,NaN,NaN,NaN
850926,1112457663,zvaRajJ,0,FEM,20.0,-,-,-,-,-,...,False,False,False,False,False,False,False,13.0,NaN,NaN
11421133,1111859851,xke0q3Y,0,FEM,26.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,4.0,NaN,NaN
5572652,1111948825,zv8Wxb3,1,FEM,23.0,-,-,-,-,-,...,False,False,False,False,False,False,False,81.0,NaN,NaN
12747086,1112479276,vVjxzwP,0,MASC,48.0,-,-,-,-,Graduado,...,False,False,False,True,False,True,False,60.0,NaN,NaN
5642776,1112325902,4rWk3mR,0,FEM,22.0,-,-,-,-,-,...,False,False,False,False,False,False,False,26.0,NaN,NaN

In [18]:
postulaciones['cantidad']=postulaciones['cantidad'].fillna(0)
postulaciones['vistas_postulante']=postulaciones['vistas_postulante'].fillna(0)
postulaciones['vistas_al_aviso']=postulaciones['vistas_al_aviso'].fillna(0)
postulaciones['lo_vio']=(postulaciones['vistas_al_aviso']>0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,vistas_postulante,vistas_al_aviso,cantidad,lo_vio
10548260,1112447001,8MraRZx,0,FEM,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,2.0,0.0,0.000000,False
187218,1112377249,lDw603R,1,FEM,31.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,9.0,0.0,0.000000,False
12850041,1112397590,zvxjEz3,0,MASC,19.0,-,-,-,-,Graduado,...,False,False,False,False,True,False,7.0,0.0,0.000000,False
427734,1112260584,ow2EXqW,1,FEM,19.0,-,-,-,-,Graduado,...,False,False,False,True,False,True,0.0,0.0,0.000000,False
11492214,1491320,xkP1mWx,0,MASC,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,22.0,0.0,0.000000,False
2751990,1112392372,5mqojpq,0,MASC,52.0,-,-,-,-,Graduado,...,False,False,True,True,False,True,2.0,0.0,0.000000,False
12805449,1112443820,NzrGbNB,0,MASC,42.0,-,-,-,-,-,...,False,False,False,False,False,False,3.0,0.0,0.000000,False
1556385,1112359843,PmGwG1a,1,MASC,24.0,-,-,-,-,-,...,False,False,False,False,False,False,10.0,2.0,0.200000,True
2493888,1112293412,8MBZN6j,1,MASC,24.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,0.0,0.0,0.000000,False
4093771,1112283554,jkjvkzB,1,FEM,21.0,-,-,-,-,En Curso,...,False,False,False,False,False,False,0.0,0.0,0.000000,False
1898546,1112196813,YjVroJ1,1,FEM,26.0,-,-,-,-,Graduado,...,False,True,True,False,False,False,44.0,5.0,0.113636,True
9325706,1112211354,8KXZEx,1,MASC,44.0,-,-,-,-,-,...,False,False,False,False,False,False,191.0,0.0,0.000000,False
13640109,1112420142,JBx40oE,0,FEM,32.0,-,-,Graduado,-,-,...,False,False,True,False,False,False,137.0,0.0,0.000000,False
3207865,1112369123,MVr0V0L,0,MASC,33.0,-,-,-,-,-,...,False,False,False,False,False,False,2.0,0.0,0.000000,False
4730461,1112285718,VNkloGR,1,FEM,24.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,631.0,0.0,0.000000,False
12622318,1112402997,OqP3Yed,0,NO_DECLARA,200.0,-,-,-,-,-,...,False,False,False,True,False,True,2.0,0.0,0.000000,False
3259338,1112260747,RzrEWOo,0,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,False,1.0,0.0,0.000000,False
7082981,1112213724,Nz06B5l,1,FEM,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,11.0,0.0,0.000000,False
11717461,1111365009,PmL5YMZ,0,MASC,22.0,-,-,-,-,Graduado,...,False,False,False,False,True,False,33.0,0.0,0.000000,False
7738117,1112266288,GNX13D9,1,MASC,37.0,-,-,-,-,Graduado,...,False,False,False,True,False,True,68.0,0.0,0.000000,False

In [19]:
postulaciones_por_area=postulaciones.copy()
postulaciones_por_area=postulaciones_por_area.groupby(by=['idpostulante','nombre_area'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_area=postulaciones_por_area.rename(columns={'sepostulo':'postulaciones_misma_area'})
postulaciones_por_area.head()

  idpostulante                      nombre_area  postulaciones_misma_area
0      0z5Dmrd                   Abastecimiento                         1
1      0z5Dmrd                   Administración                         1
2      0z5Dmrd  Almacén / Depósito / Expedición                         1
3      0z5Dmrd              Atención al Cliente                         1
4      0z5Dmrd                        Auditoría                         1

In [20]:
postulaciones_por_nivel=postulaciones.copy()
postulaciones_por_nivel=postulaciones_por_nivel.groupby(by=['idpostulante','nivel_laboral'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_nivel=postulaciones_por_nivel.rename(columns={'sepostulo':'postulaciones_mismo_nivel'})
postulaciones_por_nivel.head()

,idpostulante,nivel_laboral,postulaciones_mismo_nivel
0,0z5Dmrd,Gerencia / Alta Gerencia / Dirección,1
1,0z5Dmrd,Junior,2
2,0z5Dmrd,Otro,1
3,0z5Dmrd,Senior / Semi-Senior,14
4,0z5JW1r,Gerencia / Alta Gerencia / Dirección,2

In [21]:
postulaciones_por_tipo=postulaciones.copy()
postulaciones_por_tipo=postulaciones_por_tipo.groupby(by=['idpostulante','tipo_de_trabajo'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_tipo=postulaciones_por_tipo.rename(columns={'sepostulo':'postulaciones_mismo_tipo'})
postulaciones_por_tipo.head()

  idpostulante tipo_de_trabajo  postulaciones_mismo_tipo
0      0z5Dmrd       Full-time                        17
1      0z5Dmrd       Part-time                         1
2      0z5JW1r       Full-time                        24
3      0z5JW1r       Part-time                         1
4      0z5JW1r     Teletrabajo                         1

In [22]:
postulaciones=pd.merge(postulaciones,postulaciones_por_area,on=['idpostulante','nombre_area'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['postulaciones_misma_area']=postulaciones['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_nivel']=postulaciones['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_tipo']=postulaciones['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones=pd.merge(postulaciones,vistas_por_area,on=['idpostulante','nombre_area'],how='left')
postulaciones=pd.merge(postulaciones,vistas_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,vistas_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['vistas_por_area']=postulaciones['vistas_por_area'].fillna(0)
postulaciones['vistas_por_tipo']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones['vistas_por_nivel']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel
7042184,1112442348,8JY4BR,1,FEM,42.0,-,-,-,-,-,...,233.0,2.0,0.008584,True,24,14,36,110.0,81.0,81.0
9043836,1111926163,A3RNlzl,0,FEM,20.0,-,-,-,-,-,...,12.0,0.0,0.000000,False,1,14,4,4.0,6.0,6.0
4502691,1111959242,lDLZQW2,1,MASC,41.0,-,-,-,-,Graduado,...,35.0,1.0,0.028571,True,3,0,6,4.0,1.0,1.0
12916165,1112410690,NzPV8Px,0,FEM,33.0,-,-,-,-,Graduado,...,1.0,0.0,0.000000,False,3,11,9,0.0,0.0,0.0
3353119,1112463443,Ejb554,1,MASC,28.0,-,-,Graduado,-,Graduado,...,1553.0,1.0,0.000644,True,13,1488,1071,8.0,1186.0,1186.0
1548435,1112327106,eoO8rW,1,MASC,39.0,-,-,-,-,-,...,37.0,0.0,0.000000,False,21,77,20,10.0,25.0,25.0
10213234,1112470631,VNrw0kj,0,FEM,26.0,-,-,-,-,-,...,72.0,0.0,0.000000,False,0,22,12,0.0,69.0,69.0
2857701,1112410555,KBvY8Jj,1,MASC,28.0,-,-,Graduado,-,Graduado,...,21.0,7.0,0.333333,True,0,14,12,12.0,21.0,21.0
11606429,1112152855,akjB4RJ,0,FEM,25.0,-,-,-,-,-,...,2.0,0.0,0.000000,False,0,14,11,0.0,0.0,0.0
11521109,1112480127,EzEvmJ9,0,FEM,23.0,-,-,-,-,Graduado,...,8.0,0.0,0.000000,False,1,16,1,0.0,2.0,2.0
5971849,1112419972,zvaP2b3,1,NO_DECLARA,36.0,-,-,-,-,Graduado,...,54.0,1.0,0.018519,True,11,29,20,46.0,48.0,48.0
4223678,1112412414,2zPPr9o,1,FEM,20.0,-,-,-,-,Graduado,...,207.0,0.0,0.000000,False,58,111,33,86.0,155.0,155.0
9425277,1112235926,8MPqZGx,0,NO_DECLARA,200.0,-,-,-,-,-,...,2.0,0.0,0.000000,False,0,1,3,0.0,0.0,0.0
9132572,1112222154,6P9jMM,0,MASC,39.0,-,-,-,-,-,...,3.0,0.0,0.000000,False,2,0,3,0.0,0.0,0.0
11453864,1112219357,1aa4B,0,FEM,39.0,-,-,-,Graduado,Graduado,...,0.0,0.0,0.000000,False,3,16,13,0.0,0.0,0.0
3952596,1112326068,wVY9aQL,1,MASC,25.0,-,-,-,-,Graduado,...,48.0,0.0,0.000000,False,95,668,80,6.0,47.0,47.0
10198814,1112372693,ekmrpP4,0,MASC,24.0,-,-,-,-,-,...,0.0,0.0,0.000000,False,2,15,1,0.0,0.0,0.0
3742142,1112267710,rmdGekz,0,MASC,24.0,-,-,-,-,Graduado,...,21.0,0.0,0.000000,False,0,14,9,0.0,21.0,21.0
2757951,1112156805,VNl0XKl,1,MASC,26.0,-,-,-,-,Graduado,...,41.0,0.0,0.000000,False,0,7,0,0.0,18.0,18.0
3726541,1112259741,vV9RvRx,0,MASC,21.0,-,Graduado,-,-,Graduado,...,0.0,0.0,0.000000,False,0,16,14,0.0,0.0,0.0

In [23]:
train, test=train_test_split(postulaciones,test_size=0.05)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0

Train:  13715101 Test:  721848

In [24]:
gc.collect()

312

In [25]:
c=lgb.LGBMClassifier(learning_rate=0.05,objective='binary',num_leaves=12000,max_depth=18,n_estimators=1200,colsample_bytree=0.8,n_jobs=-1,random_state=0,silent=False,subsample=0.8,sumsample_freq=0.5)

dt=c.fit(x_train,y_train,eval_set=[(x_test,y_test)],verbose=True,early_stopping_rounds=1)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")

[1]	valid_0's binary_logloss: 0.65893
Training until validation scores don't improve for 1 rounds.
[2]	valid_0's binary_logloss: 0.62792
[3]	valid_0's binary_logloss: 0.598668
[4]	valid_0's binary_logloss: 0.570931
[5]	valid_0's binary_logloss: 0.545758
[6]	valid_0's binary_logloss: 0.523402
[7]	valid_0's binary_logloss: 0.502651
[8]	valid_0's binary_logloss: 0.48264
[9]	valid_0's binary_logloss: 0.464919
[10]	valid_0's binary_logloss: 0.448535
[11]	valid_0's binary_logloss: 0.43244
[12]	valid_0's binary_logloss: 0.417502
[13]	valid_0's binary_logloss: 0.403706
[14]	valid_0's binary_logloss: 0.392306
[15]	valid_0's binary_logloss: 0.381196
[16]	valid_0's binary_logloss: 0.371401
[17]	valid_0's binary_logloss: 0.360608
[18]	valid_0's binary_logloss: 0.351581
[19]	valid_0's binary_logloss: 0.341987
[20]	valid_0's binary_logloss: 0.334051
[21]	valid_0's binary_logloss: 0.325651
[22]	valid_0's binary_logloss: 0.317704
[23]	valid_0's binary_logloss: 0.311103
[24]	valid_0's binary_logloss: 0.305207
[25]	valid_0's binary_logloss: 0.298463
[26]	valid_0's binary_logloss: 0.292154
[27]	valid_0's binary_logloss: 0.286247
[28]	valid_0's binary_logloss: 0.281828
[29]	valid_0's binary_logloss: 0.277206
[30]	valid_0's binary_logloss: 0.272138
[31]	valid_0's binary_logloss: 0.268194
[32]	valid_0's binary_logloss: 0.263846
[33]	valid_0's binary_logloss: 0.260228
[34]	valid_0's binary_logloss: 0.256392
[35]	valid_0's binary_logloss: 0.252886
[36]	valid_0's binary_logloss: 0.249741
[37]	valid_0's binary_logloss: 0.246827
[38]	valid_0's binary_logloss: 0.24413
[39]	valid_0's binary_logloss: 0.241001
[40]	valid_0's binary_logloss: 0.238126
[41]	valid_0's binary_logloss: 0.235443
[42]	valid_0's binary_logloss: 0.232665
[43]	valid_0's binary_logloss: 0.230088
[44]	valid_0's binary_logloss: 0.227597
[45]	valid_0's binary_logloss: 0.225311
[46]	valid_0's binary_logloss: 0.22327
[47]	valid_0's binary_logloss: 0.221053
[48]	valid_0's binary_logloss: 0.219057
[49]	valid_0's binary_logloss: 0.217231
[50]	valid_0's binary_logloss: 0.215452
[51]	valid_0's binary_logloss: 0.21371
[52]	valid_0's binary_logloss: 0.212007
[53]	valid_0's binary_logloss: 0.21058
[54]	valid_0's binary_logloss: 0.209022
[55]	valid_0's binary_logloss: 0.207708
[56]	valid_0's binary_logloss: 0.206416
[57]	valid_0's binary_logloss: 0.205263
[58]	valid_0's binary_logloss: 0.204377
[59]	valid_0's binary_logloss: 0.203151
[60]	valid_0's binary_logloss: 0.202199
[61]	valid_0's binary_logloss: 0.201116
[62]	valid_0's binary_logloss: 0.20022
[63]	valid_0's binary_logloss: 0.199236
[64]	valid_0's binary_logloss: 0.198372
[65]	valid_0's binary_logloss: 0.197731
[66]	valid_0's binary_logloss: 0.197121
[67]	valid_0's binary_logloss: 0.196349
[68]	valid_0's binary_logloss: 0.19545
[69]	valid_0's binary_logloss: 0.194799
[70]	valid_0's binary_logloss: 0.194074
[71]	valid_0's binary_logloss: 0.193303
[72]	valid_0's binary_logloss: 0.192566
[73]	valid_0's binary_logloss: 0.191955
[74]	valid_0's binary_logloss: 0.191349
[75]	valid_0's binary_logloss: 0.190944
[76]	valid_0's binary_logloss: 0.190418
[77]	valid_0's binary_logloss: 0.189911
[78]	valid_0's binary_logloss: 0.189336
[79]	valid_0's binary_logloss: 0.188867
[80]	valid_0's binary_logloss: 0.188489
[81]	valid_0's binary_logloss: 0.188134
[82]	valid_0's binary_logloss: 0.187721
[83]	valid_0's binary_logloss: 0.187157
[84]	valid_0's binary_logloss: 0.186721
[85]	valid_0's binary_logloss: 0.186372
[86]	valid_0's binary_logloss: 0.185942
[87]	valid_0's binary_logloss: 0.185553
[88]	valid_0's binary_logloss: 0.18507
[89]	valid_0's binary_logloss: 0.184758
[90]	valid_0's binary_logloss: 0.184349
[91]	valid_0's binary_logloss: 0.184086
[92]	valid_0's binary_logloss: 0.183799
[93]	valid_0's binary_logloss: 0.183521
[94]	valid_0's binary_logloss: 0.183275
[95]	valid_0's binary_logloss: 0.182886
[96]	valid_0's binary_logloss: 0.182454
[97]	valid_0's binary_logloss: 0.182239
[98]	valid_0's binary_logloss: 0.182046
[99]	valid_0's binary_logloss: 0.181859
[100]	valid_0's binary_logloss: 0.181685
[101]	valid_0's binary_logloss: 0.18146
[102]	valid_0's binary_logloss: 0.181303
[103]	valid_0's binary_logloss: 0.181157
[104]	valid_0's binary_logloss: 0.180826
[105]	valid_0's binary_logloss: 0.180643
[106]	valid_0's binary_logloss: 0.1805
[107]	valid_0's binary_logloss: 0.180403
[108]	valid_0's binary_logloss: 0.180292
[109]	valid_0's binary_logloss: 0.180153
[110]	valid_0's binary_logloss: 0.18007
[111]	valid_0's binary_logloss: 0.179959
[112]	valid_0's binary_logloss: 0.179738
[113]	valid_0's binary_logloss: 0.179652
[114]	valid_0's binary_logloss: 0.179464
[115]	valid_0's binary_logloss: 0.17939
[116]	valid_0's binary_logloss: 0.1791
[117]	valid_0's binary_logloss: 0.178999
[118]	valid_0's binary_logloss: 0.178929
[119]	valid_0's binary_logloss: 0.178575
[120]	valid_0's binary_logloss: 0.178499
[121]	valid_0's binary_logloss: 0.178097
[122]	valid_0's binary_logloss: 0.177809
[123]	valid_0's binary_logloss: 0.17777
[124]	valid_0's binary_logloss: 0.177732
[125]	valid_0's binary_logloss: 0.177701
[126]	valid_0's binary_logloss: 0.177671
[127]	valid_0's binary_logloss: 0.177643
[128]	valid_0's binary_logloss: 0.177614
[129]	valid_0's binary_logloss: 0.177579
[130]	valid_0's binary_logloss: 0.177554
[131]	valid_0's binary_logloss: 0.177531
[132]	valid_0's binary_logloss: 0.177507
[133]	valid_0's binary_logloss: 0.177211
[134]	valid_0's binary_logloss: 0.177188
[135]	valid_0's binary_logloss: 0.177165
[136]	valid_0's binary_logloss: 0.177127
[137]	valid_0's binary_logloss: 0.177091
[138]	valid_0's binary_logloss: 0.177068
[139]	valid_0's binary_logloss: 0.177043
[140]	valid_0's binary_logloss: 0.176865
[141]	valid_0's binary_logloss: 0.176846
[142]	valid_0's binary_logloss: 0.176661
[143]	valid_0's binary_logloss: 0.176489
[144]	valid_0's binary_logloss: 0.17647
[145]	valid_0's binary_logloss: 0.17645
[146]	valid_0's binary_logloss: 0.176431
[147]	valid_0's binary_logloss: 0.176265
[148]	valid_0's binary_logloss: 0.176248
[149]	valid_0's binary_logloss: 0.176231
[150]	valid_0's binary_logloss: 0.176204
[151]	valid_0's binary_logloss: 0.175862
[152]	valid_0's binary_logloss: 0.175842
[153]	valid_0's binary_logloss: 0.175762
[154]	valid_0's binary_logloss: 0.175748
[155]	valid_0's binary_logloss: 0.175709
[156]	valid_0's binary_logloss: 0.175687
[157]	valid_0's binary_logloss: 0.175622
[158]	valid_0's binary_logloss: 0.175607
[159]	valid_0's binary_logloss: 0.175567
[160]	valid_0's binary_logloss: 0.175547
[161]	valid_0's binary_logloss: 0.17553
[162]	valid_0's binary_logloss: 0.175476
[163]	valid_0's binary_logloss: 0.175454
[164]	valid_0's binary_logloss: 0.175381
[165]	valid_0's binary_logloss: 0.175222
[166]	valid_0's binary_logloss: 0.175198
[167]	valid_0's binary_logloss: 0.175086
[168]	valid_0's binary_logloss: 0.175041
[169]	valid_0's binary_logloss: 0.175025
[170]	valid_0's binary_logloss: 0.174996
[171]	valid_0's binary_logloss: 0.174967
[172]	valid_0's binary_logloss: 0.174848
[173]	valid_0's binary_logloss: 0.174792
[174]	valid_0's binary_logloss: 0.174705
[175]	valid_0's binary_logloss: 0.174693
[176]	valid_0's binary_logloss: 0.174668
[177]	valid_0's binary_logloss: 0.174514
[178]	valid_0's binary_logloss: 0.174498
[179]	valid_0's binary_logloss: 0.174276
[180]	valid_0's binary_logloss: 0.174126
[181]	valid_0's binary_logloss: 0.173933
[182]	valid_0's binary_logloss: 0.173913
[183]	valid_0's binary_logloss: 0.173902
[184]	valid_0's binary_logloss: 0.17389
[185]	valid_0's binary_logloss: 0.173877
[186]	valid_0's binary_logloss: 0.173857
[187]	valid_0's binary_logloss: 0.173842
[188]	valid_0's binary_logloss: 0.173777
[189]	valid_0's binary_logloss: 0.173766
[190]	valid_0's binary_logloss: 0.173724
[191]	valid_0's binary_logloss: 0.17371
[192]	valid_0's binary_logloss: 0.173692
[193]	valid_0's binary_logloss: 0.173648
[194]	valid_0's binary_logloss: 0.173558
[195]	valid_0's binary_logloss: 0.173534
[196]	valid_0's binary_logloss: 0.173509
[197]	valid_0's binary_logloss: 0.173275
[198]	valid_0's binary_logloss: 0.173261
[199]	valid_0's binary_logloss: 0.173248
[200]	valid_0's binary_logloss: 0.173239
[201]	valid_0's binary_logloss: 0.17323
[202]	valid_0's binary_logloss: 0.173207
[203]	valid_0's binary_logloss: 0.173124
[204]	valid_0's binary_logloss: 0.173093
[205]	valid_0's binary_logloss: 0.173043
[206]	valid_0's binary_logloss: 0.172841
[207]	valid_0's binary_logloss: 0.172826
[208]	valid_0's binary_logloss: 0.172792
[209]	valid_0's binary_logloss: 0.17277
[210]	valid_0's binary_logloss: 0.17276
[211]	valid_0's binary_logloss: 0.172606
[212]	valid_0's binary_logloss: 0.172487
[213]	valid_0's binary_logloss: 0.172471
[214]	valid_0's binary_logloss: 0.17246
[215]	valid_0's binary_logloss: 0.172404
[216]	valid_0's binary_logloss: 0.172221
[217]	valid_0's binary_logloss: 0.172211
[218]	valid_0's binary_logloss: 0.172181
[219]	valid_0's binary_logloss: 0.172162
[220]	valid_0's binary_logloss: 0.172087
[221]	valid_0's binary_logloss: 0.171886
[222]	valid_0's binary_logloss: 0.171861
[223]	valid_0's binary_logloss: 0.171846
[224]	valid_0's binary_logloss: 0.171827
[225]	valid_0's binary_logloss: 0.171816
[226]	valid_0's binary_logloss: 0.171804
[227]	valid_0's binary_logloss: 0.171736
[228]	valid_0's binary_logloss: 0.171535
[229]	valid_0's binary_logloss: 0.171518
[230]	valid_0's binary_logloss: 0.171511
[231]	valid_0's binary_logloss: 0.171294
[232]	valid_0's binary_logloss: 0.171258
[233]	valid_0's binary_logloss: 0.171124
[234]	valid_0's binary_logloss: 0.171091
[235]	valid_0's binary_logloss: 0.17108
[236]	valid_0's binary_logloss: 0.171069
[237]	valid_0's binary_logloss: 0.170982
[238]	valid_0's binary_logloss: 0.170902
[239]	valid_0's binary_logloss: 0.170877
[240]	valid_0's binary_logloss: 0.170832
[241]	valid_0's binary_logloss: 0.170808
[242]	valid_0's binary_logloss: 0.170774
[243]	valid_0's binary_logloss: 0.170746
[244]	valid_0's binary_logloss: 0.170739
[245]	valid_0's binary_logloss: 0.170716
[246]	valid_0's binary_logloss: 0.170576
[247]	valid_0's binary_logloss: 0.170539
[248]	valid_0's binary_logloss: 0.170429
[249]	valid_0's binary_logloss: 0.170348
[250]	valid_0's binary_logloss: 0.170236
[251]	valid_0's binary_logloss: 0.170226
[252]	valid_0's binary_logloss: 0.170104
[253]	valid_0's binary_logloss: 0.170093
[254]	valid_0's binary_logloss: 0.169997
[255]	valid_0's binary_logloss: 0.169949
[256]	valid_0's binary_logloss: 0.169922
[257]	valid_0's binary_logloss: 0.169908
[258]	valid_0's binary_logloss: 0.169681
[259]	valid_0's binary_logloss: 0.169664
[260]	valid_0's binary_logloss: 0.169567
[261]	valid_0's binary_logloss: 0.169545
[262]	valid_0's binary_logloss: 0.169471
[263]	valid_0's binary_logloss: 0.1694
[264]	valid_0's binary_logloss: 0.169289
[265]	valid_0's binary_logloss: 0.169265
[266]	valid_0's binary_logloss: 0.169202
[267]	valid_0's binary_logloss: 0.169135
[268]	valid_0's binary_logloss: 0.169124
[269]	valid_0's binary_logloss: 0.169106
[270]	valid_0's binary_logloss: 0.169068
[271]	valid_0's binary_logloss: 0.169064
[272]	valid_0's binary_logloss: 0.169055
[273]	valid_0's binary_logloss: 0.168972
[274]	valid_0's binary_logloss: 0.16871
[275]	valid_0's binary_logloss: 0.168592
[276]	valid_0's binary_logloss: 0.168562
[277]	valid_0's binary_logloss: 0.168537
[278]	valid_0's binary_logloss: 0.168341
[279]	valid_0's binary_logloss: 0.168325
[280]	valid_0's binary_logloss: 0.168298
[281]	valid_0's binary_logloss: 0.168288
[282]	valid_0's binary_logloss: 0.168224
[283]	valid_0's binary_logloss: 0.16818
[284]	valid_0's binary_logloss: 0.16814
[285]	valid_0's binary_logloss: 0.168114
[286]	valid_0's binary_logloss: 0.168084
[287]	valid_0's binary_logloss: 0.168037
[288]	valid_0's binary_logloss: 0.16803
[289]	valid_0's binary_logloss: 0.168007
[290]	valid_0's binary_logloss: 0.167962
[291]	valid_0's binary_logloss: 0.167948
[292]	valid_0's binary_logloss: 0.167901
[293]	valid_0's binary_logloss: 0.167895
[294]	valid_0's binary_logloss: 0.167866
[295]	valid_0's binary_logloss: 0.167717
[296]	valid_0's binary_logloss: 0.167603
[297]	valid_0's binary_logloss: 0.167524
[298]	valid_0's binary_logloss: 0.167513
[299]	valid_0's binary_logloss: 0.167489
[300]	valid_0's binary_logloss: 0.16748
[301]	valid_0's binary_logloss: 0.167469
[302]	valid_0's binary_logloss: 0.167336
[303]	valid_0's binary_logloss: 0.167322
[304]	valid_0's binary_logloss: 0.167217
[305]	valid_0's binary_logloss: 0.167195
[306]	valid_0's binary_logloss: 0.167134
[307]	valid_0's binary_logloss: 0.167116
[308]	valid_0's binary_logloss: 0.167102
[309]	valid_0's binary_logloss: 0.167073
[310]	valid_0's binary_logloss: 0.166993
[311]	valid_0's binary_logloss: 0.166978
[312]	valid_0's binary_logloss: 0.166969
[313]	valid_0's binary_logloss: 0.166873
[314]	valid_0's binary_logloss: 0.166851
[315]	valid_0's binary_logloss: 0.166837
[316]	valid_0's binary_logloss: 0.166798
[317]	valid_0's binary_logloss: 0.166784
[318]	valid_0's binary_logloss: 0.166769
[319]	valid_0's binary_logloss: 0.16662
[320]	valid_0's binary_logloss: 0.166511
[321]	valid_0's binary_logloss: 0.166496
[322]	valid_0's binary_logloss: 0.166376
[323]	valid_0's binary_logloss: 0.166349
[324]	valid_0's binary_logloss: 0.166312
[325]	valid_0's binary_logloss: 0.166278
[326]	valid_0's binary_logloss: 0.166246
[327]	valid_0's binary_logloss: 0.166233
[328]	valid_0's binary_logloss: 0.166226
[329]	valid_0's binary_logloss: 0.1662
[330]	valid_0's binary_logloss: 0.166189
[331]	valid_0's binary_logloss: 0.166145
[332]	valid_0's binary_logloss: 0.166134
[333]	valid_0's binary_logloss: 0.166109
[334]	valid_0's binary_logloss: 0.166099
[335]	valid_0's binary_logloss: 0.166083
[336]	valid_0's binary_logloss: 0.166048
[337]	valid_0's binary_logloss: 0.166015
[338]	valid_0's binary_logloss: 0.166
[339]	valid_0's binary_logloss: 0.165969
[340]	valid_0's binary_logloss: 0.165953
[341]	valid_0's binary_logloss: 0.165947
[342]	valid_0's binary_logloss: 0.165846
[343]	valid_0's binary_logloss: 0.165828
[344]	valid_0's binary_logloss: 0.165801
[345]	valid_0's binary_logloss: 0.165776
[346]	valid_0's binary_logloss: 0.165731
[347]	valid_0's binary_logloss: 0.165698
[348]	valid_0's binary_logloss: 0.165603
[349]	valid_0's binary_logloss: 0.165543
[350]	valid_0's binary_logloss: 0.165512
[351]	valid_0's binary_logloss: 0.165506
[352]	valid_0's binary_logloss: 0.165485
[353]	valid_0's binary_logloss: 0.165459
[354]	valid_0's binary_logloss: 0.1654
[355]	valid_0's binary_logloss: 0.165389
[356]	valid_0's binary_logloss: 0.165371
[357]	valid_0's binary_logloss: 0.165347
[358]	valid_0's binary_logloss: 0.165194
[359]	valid_0's binary_logloss: 0.165152
[360]	valid_0's binary_logloss: 0.16513
[361]	valid_0's binary_logloss: 0.165122
[362]	valid_0's binary_logloss: 0.165095
[363]	valid_0's binary_logloss: 0.165072
[364]	valid_0's binary_logloss: 0.165038
[365]	valid_0's binary_logloss: 0.165029
[366]	valid_0's binary_logloss: 0.165014
[367]	valid_0's binary_logloss: 0.16501
[368]	valid_0's binary_logloss: 0.164935
[369]	valid_0's binary_logloss: 0.16489
[370]	valid_0's binary_logloss: 0.164856
[371]	valid_0's binary_logloss: 0.164816
[372]	valid_0's binary_logloss: 0.164803
[373]	valid_0's binary_logloss: 0.164775
[374]	valid_0's binary_logloss: 0.164736
[375]	valid_0's binary_logloss: 0.164667
[376]	valid_0's binary_logloss: 0.164662
[377]	valid_0's binary_logloss: 0.164454
[378]	valid_0's binary_logloss: 0.164413
[379]	valid_0's binary_logloss: 0.16436
[380]	valid_0's binary_logloss: 0.16434
[381]	valid_0's binary_logloss: 0.164323
[382]	valid_0's binary_logloss: 0.164239
[383]	valid_0's binary_logloss: 0.164216
[384]	valid_0's binary_logloss: 0.164096
[385]	valid_0's binary_logloss: 0.164054
[386]	valid_0's binary_logloss: 0.16404
[387]	valid_0's binary_logloss: 0.164025
[388]	valid_0's binary_logloss: 0.164011
[389]	valid_0's binary_logloss: 0.163998
[390]	valid_0's binary_logloss: 0.163979
[391]	valid_0's binary_logloss: 0.163935
[392]	valid_0's binary_logloss: 0.163894
[393]	valid_0's binary_logloss: 0.163861
[394]	valid_0's binary_logloss: 0.16385
[395]	valid_0's binary_logloss: 0.163841
[396]	valid_0's binary_logloss: 0.163774
[397]	valid_0's binary_logloss: 0.163769
[398]	valid_0's binary_logloss: 0.163751
[399]	valid_0's binary_logloss: 0.16363
[400]	valid_0's binary_logloss: 0.16361
[401]	valid_0's binary_logloss: 0.163593
[402]	valid_0's binary_logloss: 0.163577
[403]	valid_0's binary_logloss: 0.163572
[404]	valid_0's binary_logloss: 0.163566
[405]	valid_0's binary_logloss: 0.16355
[406]	valid_0's binary_logloss: 0.163523
[407]	valid_0's binary_logloss: 0.163514
[408]	valid_0's binary_logloss: 0.163497
[409]	valid_0's binary_logloss: 0.163456
[410]	valid_0's binary_logloss: 0.163382
[411]	valid_0's binary_logloss: 0.163329
[412]	valid_0's binary_logloss: 0.163313
[413]	valid_0's binary_logloss: 0.163255
[414]	valid_0's binary_logloss: 0.163208
[415]	valid_0's binary_logloss: 0.163121
[416]	valid_0's binary_logloss: 0.163104
[417]	valid_0's binary_logloss: 0.163069
[418]	valid_0's binary_logloss: 0.163055
[419]	valid_0's binary_logloss: 0.163036
[420]	valid_0's binary_logloss: 0.163027
[421]	valid_0's binary_logloss: 0.162969
[422]	valid_0's binary_logloss: 0.162851
[423]	valid_0's binary_logloss: 0.162837
[424]	valid_0's binary_logloss: 0.162815
[425]	valid_0's binary_logloss: 0.162769
[426]	valid_0's binary_logloss: 0.162761
[427]	valid_0's binary_logloss: 0.162747
[428]	valid_0's binary_logloss: 0.162737
[429]	valid_0's binary_logloss: 0.162714
[430]	valid_0's binary_logloss: 0.162708
[431]	valid_0's binary_logloss: 0.162694
[432]	valid_0's binary_logloss: 0.162631
[433]	valid_0's binary_logloss: 0.162573
[434]	valid_0's binary_logloss: 0.162568
[435]	valid_0's binary_logloss: 0.16251
[436]	valid_0's binary_logloss: 0.162494
[437]	valid_0's binary_logloss: 0.162491
[438]	valid_0's binary_logloss: 0.162483
[439]	valid_0's binary_logloss: 0.16247
[440]	valid_0's binary_logloss: 0.162462
[441]	valid_0's binary_logloss: 0.162424
[442]	valid_0's binary_logloss: 0.16241
[443]	valid_0's binary_logloss: 0.162399
[444]	valid_0's binary_logloss: 0.162378
[445]	valid_0's binary_logloss: 0.162334
[446]	valid_0's binary_logloss: 0.16224
[447]	valid_0's binary_logloss: 0.162228
[448]	valid_0's binary_logloss: 0.162212
[449]	valid_0's binary_logloss: 0.162192
[450]	valid_0's binary_logloss: 0.162181
[451]	valid_0's binary_logloss: 0.16216
[452]	valid_0's binary_logloss: 0.162149
[453]	valid_0's binary_logloss: 0.162142
[454]	valid_0's binary_logloss: 0.162132
[455]	valid_0's binary_logloss: 0.162119
[456]	valid_0's binary_logloss: 0.162092
[457]	valid_0's binary_logloss: 0.162075
[458]	valid_0's binary_logloss: 0.162045
[459]	valid_0's binary_logloss: 0.16202
[460]	valid_0's binary_logloss: 0.161949
[461]	valid_0's binary_logloss: 0.161937
[462]	valid_0's binary_logloss: 0.16193
[463]	valid_0's binary_logloss: 0.161921
[464]	valid_0's binary_logloss: 0.161907
[465]	valid_0's binary_logloss: 0.161899
[466]	valid_0's binary_logloss: 0.161869
[467]	valid_0's binary_logloss: 0.161846
[468]	valid_0's binary_logloss: 0.161827
[469]	valid_0's binary_logloss: 0.16181
[470]	valid_0's binary_logloss: 0.161789
[471]	valid_0's binary_logloss: 0.161755
[472]	valid_0's binary_logloss: 0.161679
[473]	valid_0's binary_logloss: 0.161611
[474]	valid_0's binary_logloss: 0.161597
[475]	valid_0's binary_logloss: 0.161586
[476]	valid_0's binary_logloss: 0.161553
[477]	valid_0's binary_logloss: 0.161506
[478]	valid_0's binary_logloss: 0.161484
[479]	valid_0's binary_logloss: 0.16148
[480]	valid_0's binary_logloss: 0.161464
[481]	valid_0's binary_logloss: 0.161454
[482]	valid_0's binary_logloss: 0.161436
[483]	valid_0's binary_logloss: 0.161428
[484]	valid_0's binary_logloss: 0.161407
[485]	valid_0's binary_logloss: 0.161391
[486]	valid_0's binary_logloss: 0.161364
[487]	valid_0's binary_logloss: 0.161336
[488]	valid_0's binary_logloss: 0.161311
[489]	valid_0's binary_logloss: 0.161305
[490]	valid_0's binary_logloss: 0.161282

In [26]:
from sklearn.metrics import roc_auc_score
x_final=x_test[features]
y_final=c.predict_proba(x_final)
y_pred=[]
for elem in y_final:
    y_pred.append(elem[1])
score=roc_auc_score(y_test, y_pred)
print(score)

0.9838807544482505

In [35]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/LGBMV29.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/LGBMV29.pkl']

In [27]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas2,on=['idaviso','idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas3,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion['lo_vio']=(prediccion['cantidad']>0)
prediccion=pd.merge(prediccion,postulaciones_por_area,on=['idpostulante','nombre_area'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['postulaciones_misma_area']=prediccion['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion['postulaciones_mismo_nivel']=prediccion['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion['postulaciones_mismo_tipo']=prediccion['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion=pd.merge(prediccion,vistas_por_area,on=['idpostulante','nombre_area'],how='left')
prediccion=pd.merge(prediccion,vistas_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,vistas_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['vistas_por_area']=prediccion['vistas_por_area'].fillna(0)
prediccion['vistas_por_tipo']=prediccion['vistas_por_tipo'].fillna(0)
prediccion['vistas_por_nivel']=prediccion['vistas_por_tipo'].fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel
7823,89618,1112467034,GNX3b8v,MASC,21.0,-,-,-,-,Graduado,...,216.0,1.0,0.004630,True,17.0,36.0,47.0,17.0,45.0,45.0
12852,46566,1112430193,1QraqqR,FEM,26.0,-,-,Graduado,-,Graduado,...,27.0,2.0,0.074074,True,1.0,20.0,17.0,5.0,12.0,12.0
39282,83816,1112466410,4rPY4N5,FEM,21.0,-,-,-,-,Graduado,...,183.0,1.0,0.005464,True,48.0,103.0,175.0,33.0,80.0,80.0
22684,18392,1112213212,kPjDdvm,FEM,21.0,-,-,-,-,Graduado,...,4.0,NaN,0.000000,False,0.0,36.0,0.0,0.0,4.0,4.0
12208,54749,1112446968,56XeZX,FEM,46.0,En Curso,-,-,Graduado,Graduado,...,6.0,NaN,0.000000,False,0.0,15.0,0.0,0.0,4.0,4.0
63411,10796,1111926843,e4rxlr,FEM,37.0,-,-,Graduado,-,Graduado,...,1.0,NaN,0.000000,False,0.0,17.0,13.0,0.0,1.0,1.0
90581,91966,1112473393,8KljOO,MASC,42.0,-,-,-,-,Graduado,...,8.0,NaN,0.000000,False,0.0,16.0,1.0,0.0,8.0,8.0
57535,69151,1112461125,8PL3KR,FEM,33.0,-,-,-,-,-,...,54.0,NaN,0.000000,False,1.0,34.0,25.0,0.0,42.0,42.0
99675,99639,1112513109,NmZM0V,FEM,45.0,-,-,-,-,-,...,NaN,NaN,0.000000,False,0.0,8.0,0.0,0.0,0.0,0.0
79936,27396,1112350157,Y0m81J,FEM,44.0,-,En Curso,-,-,Graduado,...,NaN,NaN,0.000000,False,0.0,13.0,10.0,0.0,0.0,0.0

In [28]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[9.92020452e-01, 7.97954761e-03],
       [9.91404663e-01, 8.59533741e-03],
       [9.98815507e-01, 1.18449256e-03],
       ...,
       [9.98491955e-01, 1.50804533e-03],
       [9.98925622e-01, 1.07437792e-03],
       [9.99580496e-01, 4.19503931e-04]])

In [29]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [30]:
prediccion['sepostulo']=y_final2

In [31]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel,sepostulo
0,0,739260,6M9ZQR,FEM,42.0,Graduado,-,-,-,Graduado,...,NaN,0.0,False,0.0,17.0,0.0,4.0,24.0,24.0,0.007980
1,1,739260,6v1xdL,MASC,30.0,-,-,Graduado,-,-,...,NaN,0.0,False,5.0,58.0,0.0,0.0,6.0,6.0,0.008595
2,2,739260,ezRKm9,FEM,36.0,-,-,-,-,Graduado,...,NaN,0.0,False,2.0,11.0,0.0,1.0,7.0,7.0,0.001184
3,3,758580,1Q35ej,MASC,68.0,-,-,-,Graduado,Graduado,...,NaN,0.0,False,0.0,14.0,0.0,0.0,0.0,0.0,0.000408
4,4,758580,EAN4J6,FEM,32.0,-,-,-,-,-,...,NaN,0.0,False,0.0,11.0,0.0,0.0,3.0,3.0,0.000084

In [32]:
prediccion=prediccion[['id','sepostulo']]
prediccion.head()

   id  sepostulo
0   0   0.007980
1   1   0.008595
2   2   0.001184
3   3   0.000408
4   4   0.000084

In [33]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion60.csv",index=False)

In [34]:
prediccion.sepostulo.mean()

0.4618903067183211