In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,akjmXXq,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,MV6b6R9,0,30.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,zvxv1Rm,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,8oqJzL,0,34.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ez533B,0,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [7]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,NM5M,1,47.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,1kJqGb,1,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,eOE9Rr,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,Zrx8Xz,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ZrKNQY,1,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12332167

In [9]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
6292961,1111926908,Yj8RRJ,0,33.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
4336449,1112347101,MVrM8wv,1,37.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
10134116,1112370885,8oKM6j,0,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
8871435,1112312729,vVe4JZP,0,36.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
8990861,1111959242,8VN9Gl,0,29.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
6995167,1112339930,JBmbqbJ,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
10217019,1112281481,dYj3bB0,0,27.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
11790758,1112466842,LNK3Yeq,0,29.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
10681485,1112377938,NKPjEM,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
3358867,1112347329,EzEDVw6,1,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,3.0
9347981,1112407297,4rPde8e,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
1108984,1112339374,8M2GAYR,1,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
1114958,1112263701,owa0Pze,1,52.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
9808653,1112261907,8K3eaM,0,43.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
2899898,1112396755,e80Ovj,1,29.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
12144336,1112339769,X9k3mRv,0,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
2413458,1112112513,BmoJWoz,1,30.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
6062056,1112464601,rmv92w6,1,25.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0
3750921,1112224054,8MZaOGz,1,27.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
11694530,1112302253,8x12jL,0,41.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
401150,1112368447,4rlBmEP,1,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
1427697,1111903673,zva5DNE,1,22.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.0
7060745,1112204682,ZOG82Z,0,53.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
12054202,1112032305,DrXbEmW,0,29.0,True,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,0.0
5581537,1112220120,8VXdzx,1,35.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
2834477,1112191071,4rLwP5E,1,25.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
598858,1112421938,KBe0Lk0,1,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,2.0
6387912,1111970596,MVP4r0v,0,28.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
10991726,1112336931,6kKqrj,0,42.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
10175500,1112308258,JBrDjmp,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
11275500,1112424009,PmV4Wq0,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.0
9709179,1112347196,4rPzKWR,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
4690091,1112403378,6r5rQAx,1,35.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,10.0
6428768,1112368214,ZqxLRV,0,31.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
9671015,1112268696,0zkXr6a,0,31.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
3152196,1112423240,bOzNEaB,1,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,0.0
8182572,1112277245,EE1qlo,0,35.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
10471334,1112455785,eJMOK4,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
9574871,1112423636,ajkRK5,0,37.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
1397816,1112455332,lDbwXe8,1,27.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0

In [11]:
areas=avisos['nombre_area'].value_counts().index
postulaciones['nombre_area']=postulaciones['nombre_area'].replace(areas, range(len(areas)))
postulaciones.dtypes

idaviso                                                 int64
idpostulante                                           object
sepostulo                                               int64
edad                                                  float64
sexo_FEM                                                 bool
sexo_MASC                                                bool
sexo_NO_DECLARA                                          bool
Doctorado_Abandonado                                     bool
Doctorado_En Curso                                       bool
Doctorado_Graduado                                       bool
Master_Abandonado                                        bool
Master_En Curso                                          bool
Master_Graduado                                          bool
Posgrado_Abandonado                                      bool
Posgrado_En Curso                                        bool
Posgrado_Graduado                                        bool
Secundario_Abandonado                                    bool
Secundario_En Curso                                      bool
Secundario_Graduado                                      bool
Terciario/T√©cnico_Abandonado                             bool
Terciario/T√©cnico_En Curso                               bool
Terciario/T√©cnico_Graduado                               bool
Universitario_Abandonado                                 bool
Universitario_En Curso                                   bool
Universitario_Graduado                                   bool
titulo                                                 object
nombre_area                                             int64
denominacion_empresa                                   object
titulo_uppercase                                         bool
pide_hombre                                              bool
                                                       ...
nombre_zona_Catamarca                                    bool
nombre_zona_Ciudad de Mendoza                            bool
nombre_zona_Cordoba                                      bool
nombre_zona_Corrientes                                   bool
nombre_zona_GBA Oeste                                    bool
nombre_zona_Gran Buenos Aires                            bool
nombre_zona_La Plata                                     bool
nombre_zona_Mendoza                                      bool
nombre_zona_Neuquen                                      bool
nombre_zona_Rosario                                      bool
nombre_zona_San Juan                                     bool
nombre_zona_Santa Cruz                                   bool
nombre_zona_Santa Fe                                     bool
nombre_zona_Tucuman                                      bool
tipo_de_trabajo_Fines de Semana                          bool
tipo_de_trabajo_Full-time                                bool
tipo_de_trabajo_Part-time                                bool
tipo_de_trabajo_Pasantia                                 bool
tipo_de_trabajo_Por Contrato                             bool
tipo_de_trabajo_Por Horas                                bool
tipo_de_trabajo_Primer empleo                            bool
tipo_de_trabajo_Teletrabajo                              bool
tipo_de_trabajo_Temporario                               bool
tipo_de_trabajo_Voluntario                               bool
nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n       bool
nivel_laboral_Jefe / Supervisor / Responsable            bool
nivel_laboral_Junior                                     bool
nivel_laboral_Otro                                       bool
nivel_laboral_Senior / Semi-Senior                       bool
cantidad                                              float64
Length: 77, dtype: object

In [12]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
postulaciones2=0

Train:  11098950 Test:  1233217

In [13]:
import gc
gc.collect()

135

In [14]:
c=RandomForestClassifier(n_estimators=100,min_samples_split=100,n_jobs=-1,random_state=0,max_features=None)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl") 
dt=c.fit(x_train,y_train)

In [15]:
score=c.score(x_test,y_test)*100
print(score)

73.80866465512558

In [16]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/RFV4ONEHOT.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/RFV4ONEHOT.pkl']

In [17]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
5391,42003,1112422206,8Qe5vx,31.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
40029,56036,1112448324,QNrar9N,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0
70256,15679,1112144973,8k5o5W,36.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
48517,33720,1112404156,akj1vdm,25.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
56742,6188,1111632598,18wO,200.0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
28467,23727,1112309025,xkvlz10,39.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
85942,35559,1112410399,1pvvQE,34.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
36642,85669,1112466646,5ZXdoG,35.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0
92790,91879,1112473295,1lKR3L,81.0,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,True,0.0
1691,86525,1112466769,6Y6GJR,38.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1.0

In [18]:
areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))
prediccion.dtypes

id                                                      int64
idaviso                                                 int64
idpostulante                                           object
edad                                                  float64
sexo_FEM                                                 bool
sexo_MASC                                                bool
sexo_NO_DECLARA                                          bool
Doctorado_Abandonado                                     bool
Doctorado_En Curso                                       bool
Doctorado_Graduado                                       bool
Master_Abandonado                                        bool
Master_En Curso                                          bool
Master_Graduado                                          bool
Posgrado_Abandonado                                      bool
Posgrado_En Curso                                        bool
Posgrado_Graduado                                        bool
Secundario_Abandonado                                    bool
Secundario_En Curso                                      bool
Secundario_Graduado                                      bool
Terciario/T√©cnico_Abandonado                             bool
Terciario/T√©cnico_En Curso                               bool
Terciario/T√©cnico_Graduado                               bool
Universitario_Abandonado                                 bool
Universitario_En Curso                                   bool
Universitario_Graduado                                   bool
titulo                                                 object
nombre_area                                             int64
denominacion_empresa                                   object
titulo_uppercase                                         bool
pide_hombre                                              bool
                                                       ...
nombre_zona_Catamarca                                    bool
nombre_zona_Ciudad de Mendoza                            bool
nombre_zona_Cordoba                                      bool
nombre_zona_Corrientes                                   bool
nombre_zona_GBA Oeste                                    bool
nombre_zona_Gran Buenos Aires                            bool
nombre_zona_La Plata                                     bool
nombre_zona_Mendoza                                      bool
nombre_zona_Neuquen                                      bool
nombre_zona_Rosario                                      bool
nombre_zona_San Juan                                     bool
nombre_zona_Santa Cruz                                   bool
nombre_zona_Santa Fe                                     bool
nombre_zona_Tucuman                                      bool
tipo_de_trabajo_Fines de Semana                          bool
tipo_de_trabajo_Full-time                                bool
tipo_de_trabajo_Part-time                                bool
tipo_de_trabajo_Pasantia                                 bool
tipo_de_trabajo_Por Contrato                             bool
tipo_de_trabajo_Por Horas                                bool
tipo_de_trabajo_Primer empleo                            bool
tipo_de_trabajo_Teletrabajo                              bool
tipo_de_trabajo_Temporario                               bool
tipo_de_trabajo_Voluntario                               bool
nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n       bool
nivel_laboral_Jefe / Supervisor / Responsable            bool
nivel_laboral_Junior                                     bool
nivel_laboral_Otro                                       bool
nivel_laboral_Senior / Semi-Senior                       bool
cantidad                                              float64
Length: 77, dtype: object

In [19]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.56218861, 0.43781139],
       [0.59026958, 0.40973042],
       [0.5499709 , 0.4500291 ],
       ...,
       [0.7796837 , 0.2203163 ],
       [0.55154557, 0.44845443],
       [0.94244725, 0.05755275]])

In [20]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [21]:
prediccion['sepostulo']=y_final2

In [22]:
prediccion.head()

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Direcci√≥n,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad,sepostulo
0,0,739260,6M9ZQR,42.0,True,False,False,False,False,True,...,False,False,False,False,True,False,False,False,0.0,0.437811
1,1,739260,6v1xdL,30.0,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0.409730
2,2,739260,ezRKm9,36.0,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0.450029
3,3,758580,1Q35ej,68.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0.102453
4,4,758580,EAN4J6,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0.391498

In [23]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.437811
1   1   0.409730
2   2   0.450029
3   3   0.102453
4   4   0.391498

In [24]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion13.csv",index=False)

In [25]:
prediccion.sepostulo.mean()

0.5902974113233757