In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc
from xgboost import XGBClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
areas=avisos['nombre_area'].value_counts()
avisos['nombre_area']=avisos['nombre_area'].replace(areas.index, areas.values)

avisos_no_one_hot= pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
avisos_no_one_hot=avisos_no_one_hot[['idaviso','tipo_de_trabajo','nivel_laboral','nombre_area']];
avisos_no_one_hot['tipo_de_trabajo']=avisos_no_one_hot['tipo_de_trabajo'].astype('category')
avisos_no_one_hot['nivel_laboral']=avisos_no_one_hot['nivel_laboral'].astype('category')
avisos_no_one_hot['nombre_area']=avisos_no_one_hot['nombre_area'].astype('category')
avisos_no_one_hot=avisos_no_one_hot.rename(columns={'nombre_area': 'nombre_area_aux'})

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas2=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2=vistas2.rename(columns={'idAviso': 'idaviso'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

  idpostulante  cantidad
0        0002q        15
1        0005E        58
2        000R8        14
3        001XE        26
4        003k9        32

In [7]:
vistas2=pd.merge(vistas2,vistas,on='idpostulante',how='left')

In [8]:
vistas2.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           2          28
1    48375       RwVdKR           1          15
2   169730        1KjXB           2          99
3   169730       2AKzxa           2           2
4   169730        6LJ64           1          23

In [9]:
vistas2['cantidad']=vistas2['cantidad_x']/vistas2['cantidad_y']
vistas2.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas=vistas2
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.071429
1    48375       RwVdKR  0.066667
2   169730        1KjXB  0.020202
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.043478

In [10]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/7.csv")
postulaciones2=postulaciones2.append(pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/8.csv").sample(len(postulaciones2)//2).reset_index(drop=True))
print(len(postulaciones2))
postulaciones2

9906801

            idaviso idpostulante  sepostulo
0        1112389495       5NbOjG          0
1        1112024109      1QP841b          0
2        1112490884      96XQ6N9          0
3        1111474259      qe2QJj1          0
4        1112211292      KBzbBJm          0
5        1112328485      3NzZv26          0
6        1112474766      akDjWwE          0
7        1112312385       aZpBJW          0
8        1112285628      akDWj55          0
9        1112322843      GNd0KNN          0
10       1112355899      DrXPRJX          0
11       1112461865      8MPoBDR          0
12       1111673413       a1NjRN          0
13       1112299006      jkVWXRQ          0
14       1112501771      owz0YGW          0
15       1002543409       Ej5AAb          0
16       1112425310      KBrpAO2          0
17       1112498569      pzNMppM          0
18       1111866251       ZKqL85          0
19       1112289529      ow2awXr          0
20       1112493109      5mP1DWM          0
21       1112326017      0zd9GZ9          0
22       1112242315      3NQKV6Q          0
23       1112452417      DrlVEwW          0
24       1112402816      mzdk9dZ          0
25       1112359100      3NP46xq          0
26       1112410555      bOVKA32          0
27       1112511403      mzdlAQO          0
28       1111272539      6rPpNM4          0
29       1111591317      6rP4K13          0
...             ...          ...        ...
3302237  1112242501       Zzr3pE          0
3302238  1112438693      MVeDDXK          0
3302239  1112226967      zvP5N88          0
3302240  1112439099      ekmANwo          0
3302241     1804810       68w5Wv          0
3302242  1112490274      A3Xe4W6          0
3302243  1112253765      Nzj3KmL          0
3302244  1112323882      Yj52pB1          0
3302245  1112464649       EK5DGb          0
3302246  1112296354      qe2jQ89          0
3302247  1112412224      QNEOZP5          0
3302248  1112165361       YVaEAY          0
3302249  1112212854      bOj6MLE          0
3302250  1111897081      BmVoedv          0
3302251  1112334947      pzdrdxZ          0
3302252  1112464811      akjap99          0
3302253  1112413502      lD2wAGG          0
3302254  1112433738      dY5ljB2          0
3302255  1112249527       Z90O3V          0
3302256  1111426140      MVdD2Xp          0
3302257  1112228604      6rBJdrL          0
3302258  1112292454      RzNZRY9          0
3302259  1112403180      LNMMloq          0
3302260  1112264483       Z0DpwP          0
3302261  1112158665       8Eq44L          0
3302262  1112479230      X9PzV0Q          0
3302263  1112458705      96ZNkOp          0
3302264  1112242560      KBzplLd          0
3302265  1112378542      LNKvAz5          0
3302266  1112404582      6rPerBM          0

[9906801 rows x 3 columns]

In [11]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [12]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

16511335
16501883

In [13]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,avisos_no_one_hot,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad
4031862,1112311269,rmRA369,0,32.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Seguros,NaN
15382236,1112330666,JBXOK5J,0,29.0,False,True,False,False,False,False,...,False,False,False,False,True,False,Full-time,Otro,Transporte,NaN
1030799,1112346478,zv48e6m,1,32.0,True,False,False,False,False,False,...,False,False,True,False,False,False,Full-time,Jefe / Supervisor / Responsable,Recursos Humanos,NaN
7093980,1112348556,ekO5pR8,0,18.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Mantenimiento,NaN
5327896,1112368325,aZWPk9,1,32.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Camareros,0.045455
7506901,1112443823,1MXdNE,0,46.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Part-time,Senior / Semi-Senior,Mantenimiento y Limpieza,NaN
10704917,1112389598,qe6EbWN,1,25.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Producción,NaN
13467844,1112342762,mzdzm41,0,200.0,False,False,True,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Tecnologia / Sistemas,NaN
12213297,1112510747,6p3lLR,0,33.0,False,True,False,False,False,False,...,False,False,True,False,False,False,Full-time,Jefe / Supervisor / Responsable,Marketing,NaN
14571137,1111941852,Bm5Jb4z,0,61.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Part-time,Senior / Semi-Senior,Ventas,NaN
12781992,1112198541,MVdj32r,0,24.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Producción,NaN
3042982,1112381111,jkMqkW6,1,24.0,False,True,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Programación,NaN
15007317,1112211143,JBr1N4p,1,28.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Comercial,NaN
10594285,1112385040,qe2LYP1,0,26.0,False,True,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Servicios,NaN
2644675,1112480083,6r5Ooqj,0,19.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Recepcionista,NaN
14790590,1112438931,vV3o1ao,0,23.0,False,True,False,False,False,False,...,False,False,True,False,False,False,Full-time,Jefe / Supervisor / Responsable,Producción,NaN
4281275,1112264709,bOVXxP4,1,24.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Marketing,NaN
10895098,1112463003,6PaOWO,0,43.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Finanzas,NaN
5709365,1112222035,ekN9GVW,0,28.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Camareros,NaN
2826104,1112346996,2zQjG6Q,1,22.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Recursos Humanos,NaN

In [14]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad
6864190,1112367869,EzpxQk6,0,30.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Tecnologia / Sistemas,0.000000
9390691,1112347437,LNMzVKb,1,29.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ingeniería de Producto,0.000000
14960307,1112257032,96zL1v9,0,30.0,True,False,False,False,False,False,...,False,False,False,False,True,False,Full-time,Otro,Otros,0.000000
151564,1112387625,ZDrkleV,1,19.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Recepcionista,0.169811
10549276,1112221375,GNddEBK,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Calidad,0.000000
2792750,1112349899,8MZEKPj,0,40.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Comercial,0.000000
1612230,1112369470,8v5jl3,1,31.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ventas,0.000000
6468644,1112334925,a0JpXJ,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Business Intelligence,0.000000
2325517,1112377689,PmVoaWR,1,27.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ventas,0.000000
10102385,1112280277,2zmqN6o,0,34.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Arquitectura,0.000000
4053827,1112302804,ak4pQOZ,0,58.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Dirección de Obra,0.000000
542520,1112307266,LNKmNN5,1,19.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Call Center,0.002309
4993865,1112047966,lDLNOk8,0,19.0,True,False,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Diseño Industrial,0.000000
8884175,1112346957,8MZ0EBz,0,27.0,False,True,False,False,False,False,...,False,False,False,True,False,False,Full-time,Junior,Cadetería,0.000000
2265043,1111727473,QNEQB64,1,40.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Organización y Métodos,0.007371
12425612,1112302462,DrXV3zL,0,19.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ventas,0.000000
14352080,1112367972,xkdDDwb,0,36.0,True,False,False,False,False,False,...,False,False,True,False,False,False,Full-time,Jefe / Supervisor / Responsable,Producción,0.000000
1251437,1112246796,EAp8kz,1,44.0,False,True,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Ventas,0.000000
15713298,1112253469,bOzbkAE,0,24.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Distribución,0.000000
1224949,1111925654,xkaaXOa,0,37.0,True,False,False,False,False,False,...,False,False,False,False,False,True,Full-time,Senior / Semi-Senior,Liderazgo de Proyecto,0.000000

In [15]:
postulaciones_por_area=postulaciones.copy()
postulaciones_por_area=postulaciones_por_area.groupby(by=['idpostulante','nombre_area_aux'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_area=postulaciones_por_area.rename(columns={'sepostulo':'postulaciones_misma_area'})
postulaciones_por_area.head()

  idpostulante                  nombre_area_aux  postulaciones_misma_area
0      0z5Dmrd                   Abastecimiento                         1
1      0z5Dmrd                   Administración                         1
2      0z5Dmrd  Almacén / Depósito / Expedición                         2
3      0z5Dmrd              Atención al Cliente                         1
4      0z5Dmrd                        Auditoría                         1

In [16]:
postulaciones_por_nivel=postulaciones.copy()
postulaciones_por_nivel=postulaciones_por_nivel.groupby(by=['idpostulante','nivel_laboral'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_nivel=postulaciones_por_nivel.rename(columns={'sepostulo':'postulaciones_mismo_nivel'})
postulaciones_por_nivel.head()

,idpostulante,nivel_laboral,postulaciones_mismo_nivel
0,0z5Dmrd,Gerencia / Alta Gerencia / Dirección,1
1,0z5Dmrd,Junior,2
2,0z5Dmrd,Otro,1
3,0z5Dmrd,Senior / Semi-Senior,18
4,0z5JW1r,Gerencia / Alta Gerencia / Dirección,2

In [17]:
postulaciones_por_tipo=postulaciones.copy()
postulaciones_por_tipo=postulaciones_por_tipo.groupby(by=['idpostulante','tipo_de_trabajo'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_tipo=postulaciones_por_tipo.rename(columns={'sepostulo':'postulaciones_mismo_tipo'})
postulaciones_por_tipo.head()

  idpostulante tipo_de_trabajo  postulaciones_mismo_tipo
0      0z5Dmrd       Full-time                        20
1      0z5Dmrd       Part-time                         1
2      0z5Dmrd     Teletrabajo                         1
3      0z5JW1r       Full-time                        28
4      0z5JW1r       Part-time                         1

In [18]:
postulaciones=pd.merge(postulaciones,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['postulaciones_misma_area']=postulaciones['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_nivel']=postulaciones['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_tipo']=postulaciones['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel
313221,1112432931,mzVAOAZ,1,22.0,True,False,False,False,False,False,...,False,False,True,Part-time,Senior / Semi-Senior,Telemarketing,0.004386,8,43,107
2037486,1111807983,6rPZd1O,0,29.0,True,False,False,False,False,False,...,False,True,False,Full-time,Otro,Salud,0.000000,1,15,2
10096379,1112205245,ekoYPqr,0,34.0,False,True,False,False,False,False,...,False,False,False,Full-time,Gerencia / Alta Gerencia / Dirección,Dirección de Obra,0.000000,0,16,0
13987034,1112413716,qe2Kdr9,1,24.0,False,True,False,False,False,False,...,True,False,False,Full-time,Junior,Producción,0.000000,4,19,3
4403421,1112305874,owaABEk,1,21.0,False,True,False,False,False,False,...,False,True,False,Part-time,Otro,Call Center,0.000000,15,45,22
864176,1112345417,OqmrAkv,1,31.0,False,True,False,False,False,False,...,True,False,False,Full-time,Junior,Impuestos,0.000000,0,46,6
10258717,1111378669,YjQlV4D,1,21.0,True,False,False,False,False,False,...,False,False,True,Part-time,Senior / Semi-Senior,Ventas,0.016129,48,60,102
9217156,1112388994,ErDZY0,0,37.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,0.000000,3,17,15
8088501,1112365546,jkV4Rz6,0,28.0,True,False,False,False,False,False,...,True,False,False,Full-time,Junior,Producción,0.000000,1,17,2
2570780,1112442076,Rz96Jo6,1,27.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Comercial,0.047619,2,24,17
5588256,1111781239,pzd23qw,0,30.0,False,True,False,False,False,False,...,True,False,False,Part-time,Junior,Call Center,0.000000,0,1,4
6098051,1111623385,KBzAONX,0,26.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Mantenimiento,0.000000,0,14,7
5006034,1111006809,vVjqL0P,0,20.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Gastronomia,0.000000,0,24,17
4551679,1112158499,YKk84V,0,29.0,True,False,False,False,False,False,...,False,True,False,Full-time,Otro,Mantenimiento,0.000000,1,28,2
6375280,1111301974,Rz6BeMR,1,24.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,0.007859,13,87,61
5337917,1112398843,Oqj5kKv,1,32.0,False,True,False,False,False,False,...,True,False,False,Part-time,Junior,Call Center,0.000000,4,12,8
2802104,1112262197,PmLAB2v,1,21.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Atención al Cliente,0.000000,22,147,115
13504216,1112496139,JBrGAN5,0,22.0,False,True,False,False,False,False,...,True,False,False,Full-time,Junior,Contabilidad,0.000000,0,17,4
10016343,1112453432,969DRjP,1,30.0,True,False,False,False,False,False,...,False,False,False,Full-time,Jefe / Supervisor / Responsable,Ventas,0.000000,59,158,2
8798661,1112445344,E6KkqN,0,48.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Ventas,0.000000,4,20,13

In [19]:
train, test=train_test_split(postulaciones.sample(len(postulaciones)//2),test_size=0.05)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')
features.remove('nombre_area_aux')
features.remove('tipo_de_trabajo')
features.remove('nivel_laboral')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
vistas2=0

Train:  7640878 Test:  402152

In [20]:
c=0
gc.collect()

95

In [21]:
c=XGBClassifier(objective='binary:logistic',max_depth=20,learning_rate=0.01,subsample=0.8,colsample_bytree=0.8,n_estimators=100,silent=False,n_jobs=-1,verbose=1)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")
dt=c.fit(x_train,y_train,eval_set=[(x_test,y_test)],verbose=True,early_stopping_rounds=1)

[0]	validation_0-error:0.122441
Will train until validation_0-error hasn't improved in 1 rounds.
[1]	validation_0-error:0.093756
[2]	validation_0-error:0.091538
[3]	validation_0-error:0.090978
[4]	validation_0-error:0.090918
[5]	validation_0-error:0.089782
[6]	validation_0-error:0.090167
Stopping. Best iteration:
[5]	validation_0-error:0.089782

In [22]:
score=c.score(x_test,y_test)*100
print(score)

90.98326006087251

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [23]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/XGBoost v3.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/XGBoost v3.pkl']

In [24]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos_no_one_hot,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion=pd.merge(prediccion,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['postulaciones_misma_area']=prediccion['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion['postulaciones_mismo_nivel']=prediccion['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion['postulaciones_mismo_tipo']=prediccion['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
prediccion.sample(10)

100000
100000
100000
100000

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel
48529,85119,1112466595,ak5xOL5,26.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Comercial,0.006098,26.0,106.0,87.0
8506,75493,1112464131,ZOvk1b,33.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,0.006061,0.0,15.0,14.0
95947,95464,1112489531,Zao0qY,61.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Compras,0.000000,0.0,18.0,14.0
85429,34325,1112408072,5lRvz,43.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Telecomunicaciones,0.000000,0.0,14.0,10.0
26877,88821,1112467018,A3v9Kq6,24.0,True,False,False,False,False,False,...,False,False,True,Part-time,Senior / Semi-Senior,Comercial,0.018868,6.0,5.0,16.0
38695,55405,1112447754,VNPDbJN,46.0,True,False,False,False,False,False,...,True,False,False,Full-time,Junior,Producción,0.045977,4.0,39.0,3.0
23279,60291,1112454905,bOVvvN9,26.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Contabilidad,0.142857,0.0,16.0,11.0
65217,80172,1112464808,ErlJA2,53.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Programación,0.000000,0.0,23.0,15.0
11074,25894,1112334806,DrzJjXL,28.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Farmacéutica,0.033708,0.0,35.0,32.0
52578,4152,1111437068,aWJQ9q,30.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Soporte Técnico,0.000000,0.0,18.0,14.0

In [25]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.5304942 , 0.46950582],
       [0.5006796 , 0.49932036],
       [0.52957326, 0.47042674],
       ...,
       [0.532808  , 0.467192  ],
       [0.5318267 , 0.46817333],
       [0.5330041 , 0.4669959 ]], dtype=float32)

In [26]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [27]:
prediccion['sepostulo']=y_final2

In [28]:
prediccion.head()

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,cantidad,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,sepostulo
0,0,739260,6M9ZQR,42.0,True,False,False,False,False,True,...,False,False,Full-time,Jefe / Supervisor / Responsable,Comercial,0.0,0.0,20.0,0.0,0.469506
1,1,739260,6v1xdL,30.0,False,True,False,False,False,False,...,False,False,Full-time,Jefe / Supervisor / Responsable,Comercial,0.0,5.0,62.0,0.0,0.499320
2,2,739260,ezRKm9,36.0,True,False,False,False,False,False,...,False,False,Full-time,Jefe / Supervisor / Responsable,Comercial,0.0,3.0,19.0,1.0,0.470427
3,3,758580,1Q35ej,68.0,False,True,False,False,False,False,...,True,False,Full-time,Otro,Tecnologia / Sistemas,0.0,1.0,22.0,0.0,0.472731
4,4,758580,EAN4J6,32.0,True,False,False,False,False,False,...,True,False,Full-time,Otro,Tecnologia / Sistemas,0.0,0.0,13.0,0.0,0.466561

In [30]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.drop(['tipo_de_trabajo','nivel_laboral','nombre_area_aux'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.469506
1   1   0.499320
2   2   0.470427
3   3   0.472731
4   4   0.466561

In [31]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion37.csv",index=False)

In [32]:
prediccion.sepostulo.mean()

0.49742738867282865