In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
light=pd.read_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion60.csv")
light.sepostulo.mean()

0.4618903067183211

In [4]:
naive=pd.read_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion55.csv")
naive.sepostulo.mean()

0.4980318388909141

In [5]:
seleccion=naive[naive['sepostulo']==1.0]
print(len(seleccion))

16489

In [6]:
nueva=pd.concat([light, seleccion], ignore_index=True)
nueva.head()

   id  sepostulo
0   0   0.007980
1   1   0.008595
2   2   0.001184
3   3   0.000408
4   4   0.000084

In [7]:
nueva.tail()

           id  sepostulo
116484  98857        1.0
116485  99432        1.0
116486  99470        1.0
116487  99676        1.0
116488  99855        1.0

In [8]:
nueva.drop_duplicates('id',inplace=True, keep='last')
nueva.sample(10)

           id  sepostulo
13367   60117   0.030972
115457  54610   1.000000
91638   90506   0.023278
106679  85327   1.000000
56488    6019   0.001667
11361   49214   0.008282
21591   83302   0.999554
115571  56288   1.000000
38297   48552   0.009113
94070   93305   0.016970

In [9]:
print(len(nueva))

100000

In [10]:
nueva.sepostulo.mean()

0.4628801388941688

In [11]:
knn=pd.read_csv("../../Data/fiuba_entrenamiento/gian/predicciones/uri/prediccion131.csv")
knn.sepostulo.mean()

0.48579615913400065

In [12]:
seleccion=knn[knn['sepostulo']==1.0]
print(len(seleccion))

28756

In [13]:
nueva=pd.concat([light, seleccion], ignore_index=True)
nueva.head()

   id  sepostulo
0   0   0.007980
1   1   0.008595
2   2   0.001184
3   3   0.000408
4   4   0.000084

In [14]:
nueva.tail()

           id  sepostulo
128751  99079        1.0
128752  99208        1.0
128753  99541        1.0
128754  99894        1.0
128755  99920        1.0

In [15]:
nueva.drop_duplicates('id',inplace=True, keep='last')
nueva.sample(10)

           id  sepostulo
81350   29020   0.100622
12976   57917   0.504469
108891  73347   1.000000
45864    1931   0.000218
33115   84030   0.434648
81646   29390   0.003052
19590   79122   0.043749
121110  52002   1.000000
81332   28996   0.001634
96535   96151   0.005174

In [16]:
print(len(nueva))

100000

In [17]:
nueva.sepostulo.mean()

0.4683559501859874

In [18]:
nueva.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/uri/ensamble1.csv",index=False)