In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,akjmXXq,0,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,MV6b6R9,0,30.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,zvxv1Rm,0,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,8oqJzL,0,34.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ez533B,0,32.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [7]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Por Horas,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior
0,1112257047,NM5M,1,47.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1112257047,1kJqGb,1,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,1112257047,eOE9Rr,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1112257047,Zrx8Xz,1,39.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,1112257047,ZrKNQY,1,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12332167

In [9]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
4881589,1112414894,BmDEvW2,1,37.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
1542534,1112340866,6r5Yaal,1,19.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
2671925,1112241055,ZREKd5,1,33.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
7960396,1112179207,4rN5w3e,0,40.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
10684290,1112411615,1QPoAZb,0,25.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
10063049,1112244630,2zPeaJx,0,26.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,NaN
5198572,1112411439,EzOM290,1,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
12325826,1112377817,jkM2G0B,0,30.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
169355,1112261212,aLeL9J,1,31.0,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
5195443,1112390898,86lYDl,1,42.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
3867544,1112281164,bOJMGLq,1,24.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,NaN
5430349,1112304139,vVDzJxx,1,45.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,1.0
1905228,1112410652,ZDrQBM8,1,26.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
4470781,1112453552,0zk88mv,1,20.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1.0
11271843,1112373907,1QPNZMB,0,48.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
6087054,1112215643,LNKLjjQ,1,27.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
6699492,1112374587,exEZm8,0,47.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
7389962,1111455368,1QPZl4z,0,20.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
9663760,1112271846,6z2xL4,0,34.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN
9114214,1112401984,Y0OxZ1,0,45.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,NaN

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
5670925,1112362278,QNEeZVN,1,34.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
4554709,1112404044,0zkjq4q,1,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,2.0
1087173,1112282953,W9WZrqN,1,31.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
9972466,1112300306,qe28jGR,0,21.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
11364085,1112442093,pzMPxrN,0,43.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
3422482,1112259370,0zPzJZE,1,200.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
5680780,1112407183,6r2LXZx,1,39.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,2.0
3425368,1112425807,6rPo4Vr,1,20.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,4.0
11332741,1112297276,X95mBwK,0,23.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
9879397,1111590903,4rWA3lP,0,29.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
1173083,1112299531,xkdA45P,1,31.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
2611534,1112253155,mzGV3d3,1,23.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
6707033,1112317212,xkdql9K,0,29.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
2783824,1112281113,bOjM4AE,1,45.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
1797774,1112458730,GNZrpmK,1,26.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,4.0
5860393,1112301272,mzb5231,1,29.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
9355079,1112298976,owzxB9a,0,34.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
3759476,1112264510,X9lo9KK,1,23.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
2941831,1112268758,pzdA5R3,1,34.0,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,0.0
11483088,1112254572,eRzXG2,0,48.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0

In [11]:
areas=avisos['nombre_area'].value_counts().index
postulaciones['nombre_area']=postulaciones['nombre_area'].replace(areas, range(len(areas)))
postulaciones.dtypes

idaviso                                                 int64
idpostulante                                           object
sepostulo                                               int64
edad                                                  float64
sexo_FEM                                                 bool
sexo_MASC                                                bool
sexo_NO_DECLARA                                          bool
Doctorado_Abandonado                                     bool
Doctorado_En Curso                                       bool
Doctorado_Graduado                                       bool
Master_Abandonado                                        bool
Master_En Curso                                          bool
Master_Graduado                                          bool
Posgrado_Abandonado                                      bool
Posgrado_En Curso                                        bool
Posgrado_Graduado                                        bool
Secundario_Abandonado                                    bool
Secundario_En Curso                                      bool
Secundario_Graduado                                      bool
Terciario/Técnico_Abandonado                             bool
Terciario/Técnico_En Curso                               bool
Terciario/Técnico_Graduado                               bool
Universitario_Abandonado                                 bool
Universitario_En Curso                                   bool
Universitario_Graduado                                   bool
titulo                                                 object
nombre_area                                             int64
denominacion_empresa                                   object
titulo_uppercase                                         bool
pide_hombre                                              bool
                                                       ...
nombre_zona_Catamarca                                    bool
nombre_zona_Ciudad de Mendoza                            bool
nombre_zona_Cordoba                                      bool
nombre_zona_Corrientes                                   bool
nombre_zona_GBA Oeste                                    bool
nombre_zona_Gran Buenos Aires                            bool
nombre_zona_La Plata                                     bool
nombre_zona_Mendoza                                      bool
nombre_zona_Neuquen                                      bool
nombre_zona_Rosario                                      bool
nombre_zona_San Juan                                     bool
nombre_zona_Santa Cruz                                   bool
nombre_zona_Santa Fe                                     bool
nombre_zona_Tucuman                                      bool
tipo_de_trabajo_Fines de Semana                          bool
tipo_de_trabajo_Full-time                                bool
tipo_de_trabajo_Part-time                                bool
tipo_de_trabajo_Pasantia                                 bool
tipo_de_trabajo_Por Contrato                             bool
tipo_de_trabajo_Por Horas                                bool
tipo_de_trabajo_Primer empleo                            bool
tipo_de_trabajo_Teletrabajo                              bool
tipo_de_trabajo_Temporario                               bool
tipo_de_trabajo_Voluntario                               bool
nivel_laboral_Gerencia / Alta Gerencia / Dirección       bool
nivel_laboral_Jefe / Supervisor / Responsable            bool
nivel_laboral_Junior                                     bool
nivel_laboral_Otro                                       bool
nivel_laboral_Senior / Semi-Senior                       bool
cantidad                                              float64
Length: 77, dtype: object

In [12]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
postulaciones2=0

Train:  11098950 Test:  1233217

In [13]:
import gc
gc.collect()

135

In [14]:
c=RandomForestClassifier(n_estimators=250,min_samples_split=100,n_jobs=-1,random_state=0)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl") 
dt=c.fit(x_train,y_train)

In [15]:
score=c.score(x_test,y_test)*100
print(score)

73.47303840281151

In [16]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/RFV3ONEHOT.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/RFV3ONEHOT.pkl']

In [17]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Primer empleo,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad
83616,44389,1112426253,ZOQj1Z,30.0,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,0.0
20408,81897,1112466114,5Pz33v,30.0,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,False,1.0
13953,61270,1112455332,Rzrbjaq,28.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
48103,62698,1112456333,vV3aDlX,23.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
73909,20031,1112245617,12v8zN,33.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
3651,82495,1112466202,NzrlOa5,54.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,2.0
40239,40100,1112418587,aGpW1q,33.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.0
89740,58205,1112452415,3NdEwqK,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,2.0
80527,28019,1112356904,YO3YVY,29.0,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.0
27203,63881,1112457663,W9W32Xa,22.0,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,2.0

In [18]:
areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))
prediccion.dtypes

id                                                      int64
idaviso                                                 int64
idpostulante                                           object
edad                                                  float64
sexo_FEM                                                 bool
sexo_MASC                                                bool
sexo_NO_DECLARA                                          bool
Doctorado_Abandonado                                     bool
Doctorado_En Curso                                       bool
Doctorado_Graduado                                       bool
Master_Abandonado                                        bool
Master_En Curso                                          bool
Master_Graduado                                          bool
Posgrado_Abandonado                                      bool
Posgrado_En Curso                                        bool
Posgrado_Graduado                                        bool
Secundario_Abandonado                                    bool
Secundario_En Curso                                      bool
Secundario_Graduado                                      bool
Terciario/Técnico_Abandonado                             bool
Terciario/Técnico_En Curso                               bool
Terciario/Técnico_Graduado                               bool
Universitario_Abandonado                                 bool
Universitario_En Curso                                   bool
Universitario_Graduado                                   bool
titulo                                                 object
nombre_area                                             int64
denominacion_empresa                                   object
titulo_uppercase                                         bool
pide_hombre                                              bool
                                                       ...
nombre_zona_Catamarca                                    bool
nombre_zona_Ciudad de Mendoza                            bool
nombre_zona_Cordoba                                      bool
nombre_zona_Corrientes                                   bool
nombre_zona_GBA Oeste                                    bool
nombre_zona_Gran Buenos Aires                            bool
nombre_zona_La Plata                                     bool
nombre_zona_Mendoza                                      bool
nombre_zona_Neuquen                                      bool
nombre_zona_Rosario                                      bool
nombre_zona_San Juan                                     bool
nombre_zona_Santa Cruz                                   bool
nombre_zona_Santa Fe                                     bool
nombre_zona_Tucuman                                      bool
tipo_de_trabajo_Fines de Semana                          bool
tipo_de_trabajo_Full-time                                bool
tipo_de_trabajo_Part-time                                bool
tipo_de_trabajo_Pasantia                                 bool
tipo_de_trabajo_Por Contrato                             bool
tipo_de_trabajo_Por Horas                                bool
tipo_de_trabajo_Primer empleo                            bool
tipo_de_trabajo_Teletrabajo                              bool
tipo_de_trabajo_Temporario                               bool
tipo_de_trabajo_Voluntario                               bool
nivel_laboral_Gerencia / Alta Gerencia / Dirección       bool
nivel_laboral_Jefe / Supervisor / Responsable            bool
nivel_laboral_Junior                                     bool
nivel_laboral_Otro                                       bool
nivel_laboral_Senior / Semi-Senior                       bool
cantidad                                              float64
Length: 77, dtype: object

In [19]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.60608565, 0.39391435],
       [0.54745793, 0.45254207],
       [0.61298236, 0.38701764],
       ...,
       [0.81203029, 0.18796971],
       [0.61555504, 0.38444496],
       [0.86587397, 0.13412603]])

In [20]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [21]:
prediccion['sepostulo']=y_final2

In [23]:
prediccion.head()

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,tipo_de_trabajo_Teletrabajo,tipo_de_trabajo_Temporario,tipo_de_trabajo_Voluntario,nivel_laboral_Gerencia / Alta Gerencia / Dirección,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,cantidad,sepostulo
0,0,739260,6M9ZQR,42.0,True,False,False,False,False,True,...,False,False,False,False,True,False,False,False,0.0,0.393914
1,1,739260,6v1xdL,30.0,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0.452542
2,2,739260,ezRKm9,36.0,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,0.0,0.387018
3,3,758580,1Q35ej,68.0,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0.088975
4,4,758580,EAN4J6,32.0,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,0.0,0.387839

In [24]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.393914
1   1   0.452542
2   2   0.387018
3   3   0.088975
4   4   0.387839

In [25]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion12.csv",index=False)

In [26]:
prediccion.sepostulo.mean()

0.5929410290726623