In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisosONEHOT.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantesONEHOT.csv")
areas=avisos['nombre_area'].value_counts()
avisos['nombre_area']=avisos['nombre_area'].replace(areas.index, areas.values)

avisos_no_one_hot= pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
avisos_no_one_hot=avisos_no_one_hot[['idaviso','tipo_de_trabajo','nivel_laboral','nombre_area']];
avisos_no_one_hot['tipo_de_trabajo']=avisos_no_one_hot['tipo_de_trabajo'].astype('category')
avisos_no_one_hot['nivel_laboral']=avisos_no_one_hot['nivel_laboral'].astype('category')
avisos_no_one_hot['nombre_area']=avisos_no_one_hot['nombre_area'].astype('category')
avisos_no_one_hot=avisos_no_one_hot.rename(columns={'nombre_area': 'nombre_area_aux'})

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

      idaviso idpostulante
0  1111780242      YjVJQ6Z
1  1112263876      BmVpYoR
2  1112327963      wVkBzZd
3  1112318643      OqmP9pv
4  1111903673      DrpbXDP

In [5]:
vistas_por_area=vistas.copy()
vistas_por_area['vistas_por_area']=0;
vistas_por_area=pd.merge(vistas_por_area,avisos_no_one_hot,on='idaviso', how='left')
vistas_por_area=vistas_por_area.groupby(['idpostulante','nombre_area_aux'],as_index=False).agg({'vistas_por_area':'count'})
vistas_por_area.head()

  idpostulante        nombre_area_aux  vistas_por_area
0        0005E  Tecnologia / Sistemas                2
1        00Lkv      Comercio Exterior                2
2        00dMd      Comercio Exterior                4
3        01QAq           Contabilidad                1
4        021OM      Comercio Exterior                5

In [6]:
vistas_por_nivel=vistas.copy()
vistas_por_nivel['vistas_por_nivel']=0;
vistas_por_nivel=pd.merge(vistas_por_nivel,avisos_no_one_hot,on='idaviso', how='left')
vistas_por_nivel=vistas_por_nivel.groupby(['idpostulante','nivel_laboral'],as_index=False).agg({'vistas_por_nivel':'count'})
vistas_por_nivel.head()

  idpostulante nivel_laboral  vistas_por_nivel
0        0005E          Otro                 2
1        00Lkv          Otro                 2
2        00dMd          Otro                 4
3        01QAq          Otro                 1
4        021OM          Otro                 5

In [7]:
vistas_por_tipo=vistas.copy()
vistas_por_tipo['vistas_por_tipo']=0;
vistas_por_tipo=pd.merge(vistas_por_tipo,avisos_no_one_hot,on='idaviso', how='left')
vistas_por_tipo=vistas_por_tipo.groupby(['idpostulante','tipo_de_trabajo'],as_index=False).agg({'vistas_por_tipo':'count'})
vistas_por_tipo.head()

  idpostulante tipo_de_trabajo  vistas_por_tipo
0        0005E       Full-time                2
1        00Lkv       Full-time                2
2        00dMd       Full-time                4
3        01QAq       Full-time                1
4        021OM       Full-time                5

In [8]:
vistas['cantidad']=0
vistas2=vistas.groupby(['idaviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [9]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas.head()

  idpostulante  cantidad
0        0002q        15
1        0005E        58
2        000R8        14
3        001XE        26
4        003k9        32

In [10]:
vistas3=pd.merge(vistas2,vistas,on='idpostulante',how='left')

In [11]:
vistas3.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           2          28
1    48375       RwVdKR           1          15
2   169730        1KjXB           2          99
3   169730       2AKzxa           2           2
4   169730        6LJ64           1          23

In [12]:
vistas3['cantidad']=vistas3['cantidad_x']/vistas3['cantidad_y']
vistas3.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas3.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.071429
1    48375       RwVdKR  0.066667
2   169730        1KjXB  0.020202
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.043478

In [13]:
vistas=vistas.rename(columns={'cantidad': 'vistas_postulante'})
vistas2=vistas2.rename(columns={'cantidad': 'vistas_al_aviso'})

In [14]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/12.csv").sample(len(postulaciones)//100)
print(len(postulaciones2))
postulaciones2

66045

            idaviso idpostulante  sepostulo
1690822  1112297991       8o3bNx          0
6048260  1112342513      Nz0ZoLJ          0
2479405  1112472340      96X30eP          0
6573059  1112303836      YjVG1KY          0
3353651  1112297714      4rdqZKz          0
1509670  1112256010      bOjAbD4          0
1575085  1112464787      8MPEYNL          0
1393999  1112238424      kPLp9Za          0
924721   1112474200      bO4mRMB          0
2669957  1112421137      4rdY3lz          0
53677    1112266565      4rPXGxe          0
1242968  1112247076      0zP2Zrr          0
4710579  1112346347      LNKkWZw          0
4459681  1112423997       aEzkeJ          0
1398080  1112468044      mzV6239          0
1260128  1112369165      3NPoRwr          0
1207899  1112345215      3N2B1B6          0
4069005  1112507545      8MPq52x          0
5327147  1112457622      jkjmJ3Y          0
3029279  1112279512      0zrW49M          0
1260739  1112371477      Oqjq8lx          0
3241575  1112254814       64k3l4          0
4349643  1111214749      YjARNLr          0
4135794  1112456674      W9WM0r9          0
3807377  1112373458      dYozrb0          0
6296061  1112307299      qe2qpPw          0
5721753  1112340185      qekZBKa          0
4731902  1112342210      YjQVjPD          0
5918555  1112260046      Oqr85dW          0
6490750  1112099355      2zQOq9a          0
...             ...          ...        ...
5441979  1112271187      OqPvmE6          0
1478819  1112284417      VNrj11l          0
5494052  1112418355      5mloRNZ          0
3675406  1112221646      qe2bdRX          0
2670676  1112393995      xkP4jlj          0
2901436  1112319211      pz9wmMb          0
5551927  1112337841      Eze1KA8          0
4037152  1112141274      W9OELae          0
5428260  1112483361      6rP6vVL          0
4367041  1112348391      ekOlvd8          0
5600591  1112259468      JBrpxL5          0
5743830  1112166607      Rz9KeG9          0
2547497  1112485004      bO4Rp10          0
6125945  1112040720      Dr6VW1P          0
5115531  1112296402      A3Xk1aG          0
1251135  1112440660      rmd0w21          0
5341565  1111877147      rm0ajPd          0
5361017  1112464737      2zwl5m1          0
6438558  1112452758      8MPBPlO          0
4394685  1112373844      wVkJGPw          0
1781813  1112428364      YjALkMV          0
6462088  1112349024      4rmzPq0          0
2284619  1112277794      6rQveWM          0
3579471  1111810611        Zv391          0
2737573  1112505371      3NPY54a          0
804061   1112458858      2zrrWNv          0
3336235  1112256006      MVdNPLv          0
986009   1112196209      Bm5BMaR          0
3397783  1112366139      96zqeRp          0
2996945     1801240      VNJp4eR          0

[66045 rows x 3 columns]

In [15]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [16]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

6670579
6669757

In [17]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,avisos_no_one_hot,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas2,on=['idaviso','idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas3,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Jefe / Supervisor / Responsable,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,vistas_postulante,vistas_al_aviso,cantidad
5397086,1112345184,RzrxVrx,1,32.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Camareros,130.0,NaN,NaN
5156298,1111469635,lDbpjG1,1,46.0,True,False,False,False,False,False,...,False,True,False,False,Full-time,Junior,Salud,11.0,NaN,NaN
4066663,1112452620,2zPavk6,1,19.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Ventas,580.0,2.0,0.003448
5142635,1112254122,Nz0XA9l,1,44.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Gastronomia,102.0,NaN,NaN
6045147,1112448310,PmGWAa0,1,21.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Tesorería,21.0,2.0,0.095238
4296296,1112418593,6rQGbmx,1,28.0,True,False,False,False,False,False,...,False,True,False,False,Full-time,Junior,Atención al Cliente,106.0,1.0,0.009434
4872818,1112307101,8MBYmzx,1,31.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Telecomunicaciones,45.0,NaN,NaN
683364,1112281263,EzZ06E0,1,24.0,True,False,False,False,False,False,...,False,False,False,True,Por Contrato,Senior / Semi-Senior,Selección,77.0,NaN,NaN
2665292,1112419006,Y2el8Y,1,28.0,True,False,False,False,False,False,...,False,True,False,False,Full-time,Junior,Jóvenes Profesionales,7.0,2.0,0.285714
3995827,1112376163,4rPY850,1,39.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Comercial,111.0,NaN,NaN
3901501,1112387086,bOjKk40,1,32.0,False,True,False,False,False,False,...,False,False,False,True,Part-time,Senior / Semi-Senior,Mantenimiento y Limpieza,4.0,4.0,1.000000
419023,1112377084,eGkxQ8,1,34.0,True,False,False,False,False,False,...,False,True,False,False,Full-time,Junior,Recepcionista,266.0,NaN,NaN
3878380,1112016155,W9OppvN,1,40.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Tecnologia / Sistemas,93.0,NaN,NaN
3388458,1112371731,MVrLq5p,1,32.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Ventas,129.0,NaN,NaN
2442367,1112459934,rm23rMA,1,35.0,False,True,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Recepcionista,94.0,3.0,0.031915
266481,1112304044,jk5m52G,1,23.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Recepcionista,NaN,NaN,NaN
2292201,1112281655,VNl4z6R,1,29.0,True,False,False,False,False,False,...,False,True,False,False,Full-time,Junior,Atención al Cliente,119.0,NaN,NaN
774510,1112442107,RzP6aMO,1,24.0,False,True,False,False,False,False,...,True,False,False,False,Full-time,Jefe / Supervisor / Responsable,Facturación,56.0,1.0,0.017857
894362,1110391074,vVj1K0o,1,20.0,False,True,False,False,False,False,...,False,False,False,False,Full-time,-,Ingeniería Industrial,102.0,NaN,NaN
1053540,1112322693,Y22OVY,1,27.0,True,False,False,False,False,False,...,False,False,False,True,Full-time,Senior / Semi-Senior,Call Center,18.0,NaN,NaN

In [18]:
postulaciones['cantidad']=postulaciones['cantidad'].fillna(0)
postulaciones['vistas_postulante']=postulaciones['vistas_postulante'].fillna(0)
postulaciones['vistas_al_aviso']=postulaciones['vistas_al_aviso'].fillna(0)
postulaciones['lo_vio']=(postulaciones['vistas_al_aviso']>0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,nivel_laboral_Junior,nivel_laboral_Otro,nivel_laboral_Senior / Semi-Senior,tipo_de_trabajo,nivel_laboral,nombre_area_aux,vistas_postulante,vistas_al_aviso,cantidad,lo_vio
3000012,1112351502,qek1WQx,1,28.0,False,True,False,False,False,False,...,False,True,False,Full-time,Otro,Atención al Cliente,1.0,0.0,0.000000,False
5195319,1112382252,ekmDZ1B,1,33.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Almacén / Depósito / Expedición,73.0,1.0,0.013699,True
2360973,1112268555,Y3Doxw,1,25.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Corporate Finance / Banca Inversión,65.0,2.0,0.030769,True
2816166,1112309742,e9GKxp,1,32.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Producción,0.0,0.0,0.000000,False
1658191,1112306344,qe22dm9,1,20.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Recepcionista,0.0,0.0,0.000000,False
4300556,1112409128,E6alE0,1,33.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Tesorería,286.0,4.0,0.013986,True
5835115,1112249063,ZD2bXRE,1,40.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Laboratorio,2.0,0.0,0.000000,False
5358732,1112320563,QNrJev2,1,26.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Testing / QA / QC,4.0,0.0,0.000000,False
5476592,1112247517,Oqrx0ZB,1,22.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Comercial,104.0,0.0,0.000000,False
4751801,1112328640,6Evbzj,1,30.0,False,True,False,False,False,False,...,False,False,True,Por Horas,Senior / Semi-Senior,Educación/ Docentes,8.0,0.0,0.000000,False
3946380,1112345111,2zkV2D0,1,41.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Tesorería,0.0,0.0,0.000000,False
1423346,1112326950,ZDrOEob,1,27.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Atención al Cliente,0.0,0.0,0.000000,False
576821,1112094756,QNMkA4l,1,25.0,True,False,False,False,False,False,...,False,False,True,Part-time,Senior / Semi-Senior,Call Center,178.0,0.0,0.000000,False
2758913,1112352366,owarwkW,1,22.0,True,False,False,False,False,False,...,True,False,False,Pasantia,Junior,Community Management,35.0,0.0,0.000000,False
5792727,1112290034,3NPPd8J,1,30.0,False,True,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Ventas,0.0,0.0,0.000000,False
1358775,1112418765,W9W4eeN,1,23.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Recepcionista,30.0,1.0,0.033333,True
5962118,1112355320,RzM2JXR,1,35.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Contabilidad,20.0,1.0,0.050000,True
467258,1112369318,1O9O4j,1,31.0,True,False,False,False,False,False,...,False,False,True,Full-time,Senior / Semi-Senior,Administración,1275.0,0.0,0.000000,False
5833283,1112466636,xkpaZVP,1,24.0,False,True,False,False,False,False,...,True,False,False,Full-time,Junior,Comercial,3.0,0.0,0.000000,False
1004716,1112196813,lD2p9mR,1,21.0,True,False,False,False,False,False,...,True,False,False,Full-time,Junior,Tesorería,160.0,0.0,0.000000,False

In [19]:
postulaciones_por_area=postulaciones.copy()
postulaciones_por_area=postulaciones_por_area.groupby(by=['idpostulante','nombre_area_aux'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_area=postulaciones_por_area.rename(columns={'sepostulo':'postulaciones_misma_area'})
postulaciones_por_area.head()

  idpostulante                  nombre_area_aux  postulaciones_misma_area
0      0z5Dmrd                 Recursos Humanos                         2
1      0z5JW1r  Almacén / Depósito / Expedición                         1
2      0z5JW1r                        Comercial                         1
3      0z5JW1r           Desarrollo de Negocios                         1
4      0z5JW1r                      Gastronomia                         1

In [20]:
postulaciones_por_nivel=postulaciones.copy()
postulaciones_por_nivel=postulaciones_por_nivel.groupby(by=['idpostulante','nivel_laboral'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_nivel=postulaciones_por_nivel.rename(columns={'sepostulo':'postulaciones_mismo_nivel'})
postulaciones_por_nivel.head()

,idpostulante,nivel_laboral,postulaciones_mismo_nivel
0,0z5Dmrd,Senior / Semi-Senior,2
1,0z5JW1r,Gerencia / Alta Gerencia / Dirección,2
2,0z5JW1r,Jefe / Supervisor / Responsable,1
3,0z5JW1r,Senior / Semi-Senior,4
4,0z5VvGv,-,1

In [21]:
postulaciones_por_tipo=postulaciones.copy()
postulaciones_por_tipo=postulaciones_por_tipo.groupby(by=['idpostulante','tipo_de_trabajo'],as_index=False).agg({'sepostulo':'count'})
postulaciones_por_tipo=postulaciones_por_tipo.rename(columns={'sepostulo':'postulaciones_mismo_tipo'})
postulaciones_por_tipo.head()

  idpostulante tipo_de_trabajo  postulaciones_mismo_tipo
0      0z5Dmrd       Full-time                         2
1      0z5JW1r       Full-time                         7
2      0z5VvGv       Full-time                        39
3      0z5VvGv       Part-time                         8
4      0z5VvGv      Temporario                         1

In [22]:
postulaciones=pd.merge(postulaciones,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['postulaciones_misma_area']=postulaciones['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_nivel']=postulaciones['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_tipo']=postulaciones['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones=pd.merge(postulaciones,vistas_por_area,on=['idpostulante','nombre_area_aux'],how='left')
postulaciones=pd.merge(postulaciones,vistas_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,vistas_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['vistas_por_area']=postulaciones['vistas_por_area'].fillna(0)
postulaciones['vistas_por_tipo']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones['vistas_por_nivel']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel
3141143,1112335686,8MlNLdD,1,24.0,True,False,False,False,False,False,...,837.0,0.0,0.000000,False,6,487,352,8.0,644.0,644.0
111091,1112421437,PmGOOwj,1,28.0,True,False,False,False,False,False,...,355.0,2.0,0.005634,True,35,82,63,66.0,284.0,284.0
4577406,1112431556,ZD8qYEV,1,22.0,True,False,False,False,False,False,...,172.0,0.0,0.000000,False,5,66,1,4.0,115.0,115.0
4624458,1112407528,LNwkWk5,1,36.0,True,False,False,False,False,False,...,10.0,0.0,0.000000,False,8,43,23,1.0,8.0,8.0
4266991,1112369238,MV6B20x,1,21.0,False,True,False,False,False,False,...,3.0,0.0,0.000000,False,51,61,11,1.0,3.0,3.0
5427296,1112314997,BmolMPL,1,26.0,False,True,False,False,False,False,...,108.0,0.0,0.000000,False,1,20,12,2.0,96.0,96.0
3763411,1112408962,2zQVv66,1,31.0,True,False,False,False,False,False,...,11.0,0.0,0.000000,False,21,66,0,5.0,10.0,10.0
992534,1112305277,pzMJBbN,1,20.0,True,False,False,False,False,False,...,0.0,0.0,0.000000,False,1,22,11,0.0,0.0,0.0
166484,1112458756,PmG8qJ1,1,35.0,True,False,False,False,False,False,...,364.0,1.0,0.002747,True,15,217,178,20.0,264.0,264.0
2211021,1112280941,MVdVjA9,1,24.0,False,True,False,False,False,False,...,103.0,1.0,0.009709,True,18,30,8,50.0,97.0,97.0
3929136,1112419243,JBdLJQ5,1,42.0,False,True,False,False,False,False,...,10.0,1.0,0.100000,True,2,13,10,2.0,10.0,10.0
980011,1112246225,ekNjJRj,1,23.0,True,False,False,False,False,False,...,0.0,0.0,0.000000,False,4,10,10,0.0,0.0,0.0
900977,1112342525,VNrRJbM,1,43.0,False,True,False,False,False,False,...,0.0,0.0,0.000000,False,0,1,0,0.0,0.0,0.0
4773015,1112312626,2zme2No,1,22.0,False,True,False,False,False,False,...,0.0,0.0,0.000000,False,8,0,7,0.0,0.0,0.0
2955113,1112267702,wVXavpe,1,28.0,False,True,False,False,False,False,...,109.0,0.0,0.000000,False,0,85,63,0.0,99.0,99.0
2366639,1112280532,DrJWN8a,1,23.0,False,True,False,False,False,False,...,0.0,0.0,0.000000,False,10,87,65,0.0,0.0,0.0
1774997,1112339621,Ezer6rb,1,23.0,True,False,False,False,False,False,...,3.0,0.0,0.000000,False,3,3,0,3.0,3.0,3.0
5117344,1112338195,82DAw3,1,33.0,False,True,False,False,False,False,...,70.0,0.0,0.000000,False,13,131,97,8.0,68.0,68.0
965155,1112302069,Nz04Aql,1,37.0,False,True,False,False,False,False,...,7.0,1.0,0.142857,True,10,26,20,4.0,6.0,6.0
568804,1112094756,EddXDz,1,31.0,False,True,False,False,False,False,...,133.0,1.0,0.007519,True,3,18,61,4.0,21.0,21.0

In [23]:
train, test=train_test_split(postulaciones,test_size=0.05)
print("Train: ",len(train),"Test: ",len(test))

Train:  5941237 Test:  312697

In [24]:
features=['nombre_area', 'edad','sexo_FEM', 'sexo_MASC',
'Doctorado_En Curso', 'Doctorado_Graduado',
'Master_En Curso', 'Master_Graduado',
'Posgrado_En Curso', 'Posgrado_Graduado',
'Secundario_En Curso', 'Secundario_Graduado',
'Terciario/Técnico_En Curso', 'Terciario/Técnico_Graduado',
'Universitario_En Curso', 'Universitario_Graduado', 'pide_hombre',
'pide_mujer', 'ingles', 'experiencia', 'paquete_office', 'liderazgo', 'secundario',
'viajar', 'empresa_importante', 'capacitacion', 'remuneracion_pretendida', 'graduados',
'estudiantes', 'conocimientos_especificos', 'vistas_postulante',
'vistas_al_aviso', 'cantidad', 'postulaciones_misma_area', 'postulaciones_mismo_tipo', 
'postulaciones_mismo_nivel','lo_vio','vistas_por_area','vistas_por_nivel','vistas_por_tipo']

In [25]:
from sklearn.metrics import roc_auc_score
from sklearn.naive_bayes import GaussianNB
import random
import gc
class RandomNaiveBayes:

    naives = []
    chosen_features=[]
    
    def __init__(self,  n_iterations, n_features, retries, subset_sample, verbose):
        self.n_iterations=n_iterations
        self.n_features=n_features
        self.retries=retries
        self.subset_sample=subset_sample
        self.verbose=verbose
    
    def roc_auc_score(self, test, to_predict):
        y_test=test[to_predict]
        return roc_auc_score(y_test, self.predict_proba_class(1,test))
    
    def predict_proba_class(self,number,data):
        if(not self.naives):
            raise Exception('No naive bayes has been trained.')
        preds=[]
        for i in range(0,len(self.naives)):
            y=self.naives[i].predict_proba(data[self.chosen_features[i]])
            y_pred=[]
            for elem in y:
                y_pred.append(elem[number])
            preds.append(y_pred)
        y_pred=[sum(x) for x in zip(*preds)]
        y_pred=[i / len(self.naives) for i in y_pred]
        return y_pred
                             
    def fit(self,train, test, to_predict, features):
        best=0
        for i in range(1,self.n_iterations+1):
            features_aux=[]
            if(self.verbose):
                print("Iteration "+str(i))
            for j in range(0,self.n_features):
                features_aux.append(random.choice(features))
            if(i==1):
                features_aux=features
            c=GaussianNB()
            subsample=train.sample(int(round(len(train)*self.subset_sample)))
            c.fit(subsample[features_aux],subsample[to_predict])
            self.naives.append(c)
            self.chosen_features.append(features_aux)
            score=self.roc_auc_score(test,to_predict)
            if(self.verbose):
                print("Score: "+str(score)+" with features "+str(features_aux))
            if(score<=best):
                for k in range(0,self.retries):
                    features_aux=[]
                    self.naives.pop()
                    self.chosen_features.pop()
                    for j in range(0,self.n_features):
                        features_aux.append(random.choice(features))
                    c=GaussianNB()
                    subsample=train.sample(int(round(len(train)*self.subset_sample)))
                    c.fit(subsample[features_aux],subsample[to_predict])
                    self.naives.append(c)
                    self.chosen_features.append(features_aux)
                    score=self.roc_auc_score(test,to_predict)
                    if(self.verbose):
                        print("Retry number "+str(k+1)+" with score: "+str(score)+" and features: "+str(features_aux))
                    if(score>best):
                        break
            if(score<=best):
                self.naives.pop()
                self.chosen_features.pop()
                print("Stopping")
                return;
            best=score
            subsample=0
            gc.collect()

In [26]:
postulaciones=0
c=0
gc.collect()

28

In [27]:
c=RandomNaiveBayes(n_iterations=10,n_features=5,retries=3,subset_sample=1,verbose=True)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")
dt=c.fit(train,test,'sepostulo',features)

Iteration 1
Score: 0.8793862734770148 with features ['nombre_area', 'edad', 'sexo_FEM', 'sexo_MASC', 'Doctorado_En Curso', 'Doctorado_Graduado', 'Master_En Curso', 'Master_Graduado', 'Posgrado_En Curso', 'Posgrado_Graduado', 'Secundario_En Curso', 'Secundario_Graduado', 'Terciario/Técnico_En Curso', 'Terciario/Técnico_Graduado', 'Universitario_En Curso', 'Universitario_Graduado', 'pide_hombre', 'pide_mujer', 'ingles', 'experiencia', 'paquete_office', 'liderazgo', 'secundario', 'viajar', 'empresa_importante', 'capacitacion', 'remuneracion_pretendida', 'graduados', 'estudiantes', 'conocimientos_especificos', 'vistas_postulante', 'vistas_al_aviso', 'cantidad', 'postulaciones_misma_area', 'postulaciones_mismo_tipo', 'postulaciones_mismo_nivel', 'lo_vio', 'vistas_por_area', 'vistas_por_nivel', 'vistas_por_tipo']
Iteration 2
Score: 0.8993307762592352 with features ['capacitacion', 'Terciario/Técnico_Graduado', 'postulaciones_misma_area', 'cantidad', 'Master_En Curso']
Iteration 3
Score: 0.8939540588885463 with features ['Master_Graduado', 'viajar', 'Posgrado_En Curso', 'pide_hombre', 'Universitario_Graduado']
Retry number 1 with score: 0.8822215895696458 and features: ['vistas_postulante', 'ingles', 'lo_vio', 'vistas_por_nivel', 'viajar']
Retry number 2 with score: 0.8881507477371162 and features: ['liderazgo', 'Doctorado_Graduado', 'Posgrado_Graduado', 'postulaciones_mismo_nivel', 'pide_mujer']
Retry number 3 with score: 0.8861078810701506 and features: ['liderazgo', 'secundario', 'ingles', 'postulaciones_mismo_nivel', 'conocimientos_especificos']
Stopping

In [28]:
y_test=test['sepostulo']
score=roc_auc_score(y_test, c.predict_proba_class(1,test))
print(score)

0.8993307762592352

In [80]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/RandomNaiveBayes.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/RandomNaiveBayes.pkl']

In [29]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos_no_one_hot,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas2,on=['idaviso','idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas3,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion['vistas_postulante']=prediccion['vistas_postulante'].fillna(0)
prediccion['vistas_al_aviso']=prediccion['vistas_al_aviso'].fillna(0)
prediccion['lo_vio']=(prediccion['vistas_al_aviso']>0)
prediccion=pd.merge(prediccion,postulaciones_por_area,on=['idpostulante','nombre_area_aux'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,postulaciones_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion=pd.merge(prediccion,vistas_por_area,on=['idpostulante','nombre_area_aux'],how='left')
prediccion=pd.merge(prediccion,vistas_por_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,vistas_por_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['vistas_por_area']=prediccion['vistas_por_area'].fillna(0)
prediccion['vistas_por_tipo']=prediccion['vistas_por_tipo'].fillna(0)
prediccion['vistas_por_nivel']=prediccion['vistas_por_tipo'].fillna(0)
prediccion['postulaciones_misma_area']=prediccion['postulaciones_misma_area'].fillna(0)
prediccion['postulaciones_mismo_nivel']=prediccion['postulaciones_mismo_nivel'].fillna(0)
prediccion['postulaciones_mismo_tipo']=prediccion['postulaciones_mismo_tipo'].fillna(0)
prediccion.sample(10)

100000
100000
100000
100000

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel
15852,67919,1112460519,4rNzLje,24.0,True,False,False,False,False,False,...,470.0,0.0,0.000000,False,148.0,998.0,781.0,45.0,281.0,281.0
66805,12879,1112029048,eXQrE,42.0,True,False,False,False,False,False,...,7.0,0.0,0.000000,False,0.0,6.0,5.0,0.0,7.0,7.0
95652,95124,1112487453,eaPxOE,36.0,True,False,False,False,False,False,...,22.0,0.0,0.000000,False,0.0,11.0,8.0,0.0,22.0,22.0
2498,13048,1112033906,BmZ0KKZ,21.0,True,False,False,False,False,False,...,25.0,3.0,0.120000,True,4.0,7.0,10.0,4.0,21.0,21.0
87932,42529,1112423624,BmDqe5v,52.0,False,True,False,False,False,False,...,151.0,3.0,0.019868,True,11.0,12.0,12.0,101.0,104.0,104.0
41968,45130,1112427944,88jxlM,51.0,True,False,False,False,False,False,...,7.0,0.0,0.000000,False,4.0,59.0,47.0,1.0,3.0,3.0
75630,95189,1112487778,6vNmmx,35.0,False,True,False,False,False,False,...,568.0,0.0,0.000000,False,0.0,507.0,317.0,0.0,523.0,523.0
90057,54484,1112446563,5Ao4Lv,27.0,True,False,False,False,False,False,...,4.0,0.0,0.000000,False,0.0,26.0,18.0,0.0,4.0,4.0
55666,5457,1111556156,NAYvlz,36.0,False,True,False,False,False,False,...,0.0,0.0,0.000000,False,0.0,0.0,0.0,0.0,0.0,0.0
90559,58772,1112453056,1ljw8Q,40.0,True,False,False,False,False,False,...,5.0,0.0,0.000000,False,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
y_final=c.predict_proba_class(1,prediccion)
y_final

[0.132918947719328,
 0.3457866879161412,
 0.13291896130806002,
 0.13291941814139085,
 0.13291925474752578,
 0.13291904632724863,
 0.17590538201403086,
 0.2525880801719168,
 0.17590538178332932,
 0.13292019303716368,
 0.1329189753438674,
 0.13292006401048412,
 0.13292104976334645,
 0.1759054725158645,
 0.25258812570071104,
 0.17590533152760263,
 0.13291893166550595,
 0.13498506898496315,
 0.1742385142224661,
 0.1329189377799758,
 0.13291893783970987,
 0.13291891446100096,
 0.13291891450019228,
 0.13291896078863072,
 0.13292522780211585,
 0.13291898064055477,
 0.1349853163906291,
 0.13292043058758696,
 0.1329189862308479,
 0.13291895945986446,
 0.13291895594655087,
 0.1329189569237798,
 0.38398796830398446,
 0.132947327812292,
 0.2025754456233811,
 0.20257542548910426,
 0.1347772458283159,
 0.2125131911716134,
 0.1382949529057418,
 0.2923694334880309,
 0.13291894343815144,
 0.13292672540033934,
 0.2025754054306189,
 0.5521918388918206,
 0.13291898035814242,
 0.6329173065940616,
 0.13291893844710845,
 0.13291894849584568,
 0.1329190765589435,
 0.6741204529852938,
 1.0,
 1.0,
 1.0,
 0.8644740867221796,
 1.0,
 0.999999999999909,
 0.13498522939906887,
 1.0,
 0.13291913815495915,
 1.0,
 0.14813925506503256,
 1.0,
 0.6917206500346579,
 0.9172270277722396,
 1.0,
 0.9999999998981736,
 0.9999999999930701,
 0.1329191649346209,
 1.0,
 0.13291941439780994,
 0.13291912947478157,
 1.0,
 0.9999998737159759,
 0.9999896829149204,
 1.0,
 0.9845513933401506,
 0.9895753863050412,
 0.13498555822663097,
 0.13498578986410775,
 0.8587883285513465,
 0.4509452371132293,
 0.33848657367931323,
 0.5484967352916794,
 0.9999998652706861,
 1.0,
 0.13291952283946934,
 0.9911889816013859,
 1.0,
 0.9999976398796733,
 0.9999997372353968,
 1.0,
 0.9123736254659649,
 0.9991058818026551,
 1.0,
 0.13498544512959498,
 0.13291933371399314,
 1.0,
 0.675406186587639,
 0.13291914074504388,
 1.0,
 0.13291913989155363,
 0.13291912374941262,
 0.14813929272640064,
 0.9913667236416692,
 0.9888497559641856,
 0.999999831183868,
 1.0,
 0.13291911309075286,
 0.13291913934321817,
 0.9999999999999999,
 1.0,
 0.9999999943019592,
 0.3384858803381796,
 0.22097289932181907,
 0.13291913989155363,
 1.0,
 1.0,
 0.9999431954500562,
 0.1329192389694512,
 0.897785367754844,
 1.0,
 1.0,
 0.9999926555259935,
 0.9999998028690114,
 1.0,
 1.0,
 0.9987158530421367,
 0.13291901233083037,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9720298685800346,
 0.8440878260994513,
 0.9999964817441491,
 0.9854474592099958,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9999999999930701,
 0.9999997571596546,
 0.9999977121413426,
 0.9995017637449584,
 0.6852497747753588,
 1.0,
 0.9934906474492807,
 0.9999995095435243,
 1.0,
 0.9999951254057347,
 1.0,
 0.9999999998981736,
 1.0,
 1.0,
 0.17412077174831114,
 1.0,
 0.13291916174795068,
 1.0,
 0.9999980880943861,
 1.0,
 1.0,
 0.13291914965826296,
 0.3384828369976336,
 1.0,
 0.9999972623739626,
 0.13291934653663104,
 0.9999999999954847,
 0.4997681751173292,
 0.9983456979144079,
 0.5001548922835284,
 1.0,
 0.9975467538539737,
 1.0,
 0.13498526882208634,
 1.0,
 0.9999999999996303,
 0.202575622853329,
 1.0,
 0.9999873058780518,
 1.0,
 0.13291902076962608,
 0.13291891415207258,
 0.9999925795052971,
 0.13291914477510136,
 0.9973456824665798,
 1.0,
 1.0,
 0.5006055336663284,
 1.0,
 0.9735011867469711,
 1.0,
 0.1349851669749894,
 1.0,
 1.0,
 1.0,
 0.13291894909966218,
 1.0,
 1.0,
 0.9999941289596905,
 1.0,
 0.9840363627710718,
 0.9983509159799558,
 0.13291904158884743,
 0.4023042954615078,
 0.8160391035171961,
 0.9999996291999411,
 1.0,
 1.0,
 0.9999999999946598,
 0.9720298685800346,
 1.0,
 0.9999992007877399,
 0.20257563009408616,
 1.0,
 0.9999999998899022,
 0.1329193068785104,
 0.13291902468411754,
 0.6680334549323621,
 1.0,
 0.22097067652113112,
 0.9999993362086337,
 1.0,
 1.0,
 0.13498596958119238,
 0.9329697561800223,
 0.999558647339682,
 0.9809224619664572,
 0.9999999999865505,
 0.933581252887484,
 0.999999979296713,
 0.9998241817237432,
 1.0,
 1.0,
 0.9866948473191144,
 0.6316463590673771,
 0.9811965016311595,
 0.99999999988013,
 0.9999999999930701,
 0.9973539964913373,
 1.0,
 0.9811965016311595,
 0.9985759049152563,
 0.1329189798090748,
 1.0,
 0.1329189905240801,
 0.9999975327643955,
 0.4498600680525034,
 1.0,
 1.0,
 0.13291897922959467,
 0.9060639703869661,
 0.9999999999984247,
 0.13291898223412751,
 0.1481389420944207,
 0.9860198082916155,
 0.99672802916208,
 1.0,
 0.9999999998595268,
 0.8772384669206339,
 0.82654201946534,
 0.8826251025498906,
 0.6663322418116977,
 1.0,
 1.0,
 0.20257631629581324,
 0.9999998913885539,
 0.4498771296273427,
 0.13291980193419475,
 0.4499208486060904,
 0.27190822003694476,
 1.0,
 0.9999999468470269,
 0.9999999999990621,
 1.0,
 0.13291898976571676,
 0.999161215791246,
 0.9999999997827026,
 0.13291898341033628,
 0.13291897483067622,
 1.0,
 0.999999998592807,
 1.0,
 0.1329190308120519,
 0.13291898832618043,
 0.9999999998981736,
 0.741589439843569,
 0.1329189929496001,
 0.9972189338228257,
 0.8215336689803474,
 1.0,
 1.0,
 0.8610617015603355,
 0.9991245321739106,
 1.0,
 1.0,
 0.13291903476306915,
 0.9999570572575681,
 0.9999941362770769,
 0.9123736254659649,
 0.13292294667021465,
 0.9888497559641856,
 1.0,
 0.13291899005160174,
 1.0,
 0.8988992731712365,
 1.0,
 0.9999999995621722,
 0.13291897722594834,
 1.0,
 0.9999343398550531,
 0.9999999991793995,
 0.9973938525133434,
 0.9995861647515294,
 0.9999999991793995,
 0.9999999999999204,
 0.9999988786146705,
 0.13291896981609022,
 1.0,
 0.9065596012053788,
 0.8725079705568705,
 0.988020234031907,
 0.49808546544287235,
 0.9796415881126691,
 0.9999999999999942,
 0.9999999973391653,
 0.9933307557949734,
 0.9999999979391602,
 1.0,
 1.0,
 0.17412102278716318,
 0.9999999999954847,
 0.9999999999999979,
 1.0,
 0.9999986147455402,
 0.9961420797478449,
 1.0,
 0.9485373596095252,
 0.9999997977874797,
 0.9893809702199443,
 0.9999999999998895,
 1.0,
 0.8261205687327792,
 0.7525255646608822,
 0.6900447967670146,
 0.997229261329007,
 1.0,
 1.0,
 0.999999935874184,
 0.9656510878326725,
 0.98943589806337,
 0.20512471528831833,
 0.8901395726264852,
 1.0,
 1.0,
 1.0,
 0.7177229387853699,
 0.9856717392726331,
 0.9999999999997384,
 0.4973324536050735,
 0.9954718335995704,
 0.9908960834249371,
 0.9996484945588902,
 0.2025755364120278,
 0.13291918338880696,
 0.9139762049341036,
 1.0,
 1.0,
 0.9999999920602962,
 0.9996331604417801,
 0.9987227324104532,
 0.9999999990273158,
 0.3384822136564274,
 1.0,
 1.0,
 0.999999884881039,
 1.0,
 0.990696905200236,
 1.0,
 0.9528420262631716,
 0.9999999990128623,
 0.13291897939017772,
 0.1349851179942294,
 0.4498600474408063,
 0.9752596107058698,
 0.20257546557186357,
 0.9999999913878912,
 0.13291910895756953,
 1.0,
 0.1481389274024299,
 0.13291904813743174,
 1.0,
 0.9973539964913373,
 0.2506310295624461,
 0.9999372615962556,
 0.49819962053792555,
 1.0,
 1.0,
 0.9808101876398386,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9999981906790367,
 0.9819481402759741,
 0.2025763330893048,
 0.9911888817897929,
 0.13291899246170613,
 1.0,
 0.13291897465542826,
 0.9781372126412048,
 1.0,
 0.1329190109780331,
 1.0,
 0.13500232372639134,
 0.22097011936669306,
 0.9982980627723729,
 0.9971237104787165,
 1.0,
 0.134985106071623,
 1.0,
 0.8849418108939843,
 0.9637920553654271,
 0.8163170531751676,
 0.9861110216899865,
 0.13291898034179792,
 0.9865385096818295,
 0.9945600465464546,
 0.6781589769560254,
 0.2025756967845185,
 0.985205101226593,
 0.5025936745631124,
 0.1349855072680173,
 0.8276442563494579,
 0.7728258927234405,
 0.13291908458248858,
 0.13291901513582308,
 0.13291903691918777,
 0.13291900671818682,
 0.20257545307525812,
 0.8277712364880929,
 0.9999999999941438,
 0.2209712386967967,
 1.0,
 0.9992141831601619,
 0.9998875793620703,
 0.14813906407037747,
 0.9974686316378881,
 0.8573344484987604,
 0.2152453617207591,
 0.47203648819855604,
 0.9961420797478449,
 0.13291927441110887,
 0.9999999995667044,
 0.9999999999999002,
 0.9999999999961973,
 0.9999993362086337,
 1.0,
 1.0,
 1.0,
 0.8081866217898837,
 1.0,
 0.8863738231161433,
 1.0,
 0.9999999999999998,
 1.0,
 0.992713851788191,
 0.9999999999998779,
 0.14813897630190498,
 1.0,
 1.0,
 0.9999998311386907,
 0.9997460116467466,
 0.13292102040818327,
 0.9999999999999997,
 1.0,
 0.13291924313639697,
 1.0,
 0.13291909533776974,
 1.0,
 0.3384834389055024,
 0.9999708820260014,
 0.9999999999958348,
 0.9962062680588175,
 1.0,
 0.4029502782041818,
 1.0,
 1.0,
 0.9999800419055089,
 0.9999999999999398,
 0.8166776804928687,
 0.7759631530341558,
 1.0,
 1.0,
 0.3385001455586189,
 0.9999999999999695,
 0.8833676991338131,
 1.0,
 0.9999999350658617,
 0.9999999947721946,
 1.0,
 0.2051195970213196,
 1.0,
 1.0,
 0.13291909531802504,
 0.1329192044595022,
 0.9999999999996416,
 1.0,
 0.1329190944247918,
 0.17412072725449446,
 0.33848723476790143,
 0.20257556406530408,
 1.0,
 0.9999999999999717,
 0.1329194211365765,
 0.9968079393595088,
 0.13498518085142958,
 0.2720885293585524,
 0.13291922132670972,
 1.0,
 0.9999999641166168,
 1.0,
 0.9999999999466261,
 1.0,
 0.9999999999999953,
 0.9349863539660417,
 0.4021685391972578,
 0.9999999999999934,
 0.9999999999999987,
 1.0,
 0.8533482839304418,
 0.9999940379128509,
 0.999999999999939,
 0.9947074297122649,
 1.0,
 1.0,
 1.0,
 0.29354575479251377,
 0.9999996676909426,
 1.0,
 0.9882289482920488,
 0.9770239515047132,
 0.994921272894319,
 0.215244997242856,
 0.9869576691165896,
 1.0,
 0.7728875079168119,
 0.999927783423086,
 1.0,
 0.9999999999999971,
 1.0,
 0.9999263328262575,
 0.293549579746987,
 0.999997184997331,
 0.9959679509444056,
 0.14813898774685083,
 0.98855143647485,
 0.9999999999998872,
 0.9995208292650029,
 0.7302092373430877,
 0.9159730698723894,
 0.9999977887941005,
 0.999999999999983,
 0.8787047155840244,
 0.942555970507359,
 0.999998503437219,
 0.7540677040278996,
 0.9799718428592024,
 0.9917087237179372,
 1.0,
 1.0,
 0.21525181364009888,
 0.9999733282160467,
 0.9999819274526054,
 0.9999997012302408,
 0.9989138067557639,
 0.9990053675110812,
 1.0,
 0.9287685023128726,
 0.9985869161479759,
 0.9999999997827026,
 0.14813910155779167,
 0.9998766084183699,
 1.0,
 0.999968841688493,
 0.17412064978466926,
 0.9999999998542539,
 0.1481391295898449,
 0.9999999999999942,
 0.9999999999999306,
 0.9994893763077317,
 0.7379360217037398,
 0.9999999998961081,
 1.0,
 0.9999951870816939,
 0.47211257736286033,
 0.797084544888585,
 0.7161912471149112,
 0.9999999999941438,
 1.0,
 1.0,
 0.9957789026090089,
 0.4499097232260968,
 0.9999999999968892,
 0.9892989860960132,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9999999999999998,
 1.0,
 0.9999999995815413,
 0.9999999274300966,
 0.9999093878853667,
 0.2719088664073704,
 0.9999999516190899,
 0.9999999999999121,
 0.4917328575856493,
 0.988251027029418,
 0.8684024051210844,
 0.9999999999999204,
 0.9999517234678021,
 0.965080895086158,
 0.9999999999975114,
 0.13498517648205619,
 0.9999999999999991,
 0.14813900619344098,
 0.7941064254733103,
 0.4917951404745684,
 0.8606561099912563,
 0.9999999998944085,
 0.9993030105089882,
 0.8147893929311717,
 0.1329191151971827,
 0.9969990610435043,
 0.2025756853038326,
 0.20257587386610273,
 0.9893965882925161,
 0.21524506482722988,
 1.0,
 0.17412088412695512,
 0.9999999998751292,
 1.0,
 0.1349852600373983,
 1.0,
 0.9999278352300786,
 1.0,
 0.14813927157968107,
 0.13291906306195547,
 0.9989575726250068,
 0.2719051856338734,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9985759049152563,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9999999999997403,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.13291893108365205,
 0.9950234445406501,
 1.0,
 0.20257541028328982,
 0.13291892370295286,
 0.1349850933923878,
 0.13291893286749396,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9667827351533044,
 0.9387759161086373,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9999999998981736,
 1.0,
 1.0,
 0.13291897722594834,
 1.0,
 1.0,
 0.1329189798712634,
 0.1349856405960394,
 0.17412054604493366,
 0.13291897988603057,
 0.24614045295851705,
 0.7009827690087518,
 0.9720277222898253,
 0.13291928844456105,
 1.0,
 1.0,
 0.9766774321914873,
 0.8502255686043814,
 0.6904415072018172,
 0.8412467160605596,
 1.0,
 0.9999999332633435,
 0.13498556507575804,
 0.6942510092151045,
 0.8429221885877731,
 0.6402327323016641,
 0.6826890257727758,
 0.13291930355918954,
 0.9999999999002965,
 0.999999901482262,
 0.6349850394822597,
 1.0,
 1.0,
 0.20257560863671706,
 0.9670167128749545,
 0.9852740697228675,
 0.7762792252597823,
 0.9581564506294404,
 0.999999999999983,
 0.14813905633587693,
 1.0,
 1.0,
 0.13291925393774318,
 0.999997184997331,
 0.13498556010272436,
 0.6631660708459627,
 0.13291929515364725,
 0.7896932570869457,
 0.9999999999951679,
 0.9999991831462116,
 0.8043406055770324,
 1.0,
 1.0,
 0.6741204529853009,
 0.13499689210317997,
 0.999999445841204,
 0.13292119141994468,
 0.13337669345327718,
 0.8347452156105968,
 0.13291926095449622,
 0.13291928329536598,
 0.9521288721261971,
 1.0,
 0.8898995071069546,
 0.9998768423082198,
 0.7814484331873179,
 0.13291943529536102,
 0.9781372126412048,
 0.20268880529957195,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.13291894909954818,
 1.0,
 1.0,
 0.7317781123979611,
 1.0,
 1.0,
 0.999999999999909,
 1.0,
 0.9999999999988379,
 0.9891456427998735,
 0.7506108909097232,
 0.9999165549111657,
 0.478123074491925,
 1.0,
 1.0,
 0.9999926555259935,
 0.13291894887902111,
 0.9955339635551053,
 1.0,
 0.9999170076926984,
 1.0,
 0.9856717392726331,
 1.0,
 1.0,
 1.0,
 0.9999986707529838,
 1.0,
 1.0,
 0.9991472042281739,
 1.0,
 0.8913765931599662,
 0.9999999912334048,
 0.9806684180518079,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.9999999862671147,
 0.9999999999965435,
 1.0,
 0.1329189458776643,
 1.0,
 0.9999999999999539,
 1.0,
 0.9999999991793995,
 1.0,
 0.9976915375037321,
 0.9999972623739626,
 1.0,
 0.9999999999999799,
 0.9999997927663834,
 0.9999999999999996,
 1.0,
 0.13291913185490978,
 0.999999926888614,
 1.0,
 1.0,
 1.0,
 0.4498580418234906,
 1.0,
 1.0,
 1.0,
 0.9827878458752166,
 1.0,
 1.0,
 0.9848790579118185,
 0.13291895212740676,
 1.0,
 0.2025755246212739,
 1.0,
 1.0,
 0.9921334908489595,
 1.0,
 0.20257542862820713,
 0.9999999999962078,
 0.20257576741518352,
 1.0,
 1.0,
 0.13291895425554426,
 0.9999999617832291,
 1.0,
 0.13291897703507904,
 0.13291895504410156,
 0.99999997740739,
 1.0,
 1.0,
 0.9999999406000737,
 0.9999999252601637,
 1.0,
 0.13291895244161947,
 0.1329189668469578,
 0.9395799566924283,
 0.9999814148083903,
 0.25522151184631453,
 0.9999999999358096,
 0.17590565419317056,
 0.9999996727961902,
 0.9624271389417971,
 0.9999967599539136,
 0.9999999998455436,
 0.9999999780931765,
 0.2525889694105202,
 0.9999998710049911,
 0.4654077401332168,
 0.9999999043087622,
 0.17590686734397284,
 0.643122644706382,
 0.9999998974356091,
 0.17590561061731105,
 0.9999999999999898,
 0.26559288476252135,
 1.0,
 0.9999979177326841,
 0.9995066521498625,
 1.0,
 1.0,
 0.6891486702314544,
 1.0,
 0.8091874659320382,
 0.9999999999393727,
 0.9999735020831575,
 0.8316338957476317,
 1.0,
 0.4602567363261241,
 1.0,
 0.1759492618358061,
 0.979579130520589,
 0.9994615204703916,
 0.9999066553774195,
 0.9999999773848385,
 0.9998275018274106,
 0.9842967671217717,
 0.1759056014350558,
 0.9999985248113548,
 0.26559568316370463,
 0.9938539567442813,
 1.0,
 0.17831806886035012,
 0.9978875419252398,
 0.9109601083451543,
 0.4854982210224589,
 0.9999998774281158,
 0.9997716399857843,
 0.9999999999976126,
 0.19345376645467263,
 1.0,
 1.0,
 1.0,
 0.4653986922390367,
 1.0,
 0.2655925129082759,
 0.3792643821627803,
 0.17701639462796653,
 1.0,
 0.9999999999999021,
 0.9582329881238065,
 0.193453971668214,
 0.43015165732161176,
 1.0,
 0.17831531574823958,
 0.37926382807559167,
 0.4852122666110641,
 0.9674330513102731,
 0.1759054722313673,
 0.48520453693746235,
 0.9668163253479595,
 1.0,
 0.9964278696019745,
 0.9996268740290678,
 0.17831532267554656,
 0.17590558676962226,
 0.4301445203003073,
 0.48535461232206345,
 0.9999999390835737,
 1.0,
 0.9990475904360823,
 0.17590808865434696,
 0.9999999999566482,
 0.17590556094601956,
 0.17831592933889984,
 0.9979787571670682,
 0.9999999999947435,
 1.0,
 0.5061227367622948,
 0.2655925323289514,
 0.5059187225566075,
 0.5000668845566287,
 0.17831559820291365,
 0.9842050198780466,
 0.9938059776355168,
 0.9999999609539352,
 0.9699459594629565,
 1.0,
 0.9999999998336879,
 0.1934537042590929,
 0.3853488573859336,
 1.0,
 0.999996223610341,
 0.9997276394436727,
 0.2525882646333772,
 0.1759055842427938,
 0.9999999999997533,
 0.9999999999999962,
 1.0,
 0.17590585017269716,
 1.0,
 0.1759057998824819,
 1.0,
 0.43013528922171035,
 0.17590558501716394,
 0.17590559006554035,
 0.6867864532620936,
 0.9986815667732372,
 0.9999999875101904,
 0.1759056182681946,
 0.3792643874613005,
 0.9840913194144382,
 1.0,
 1.0,
 0.5005607292045157,
 1.0,
 0.5579617448057854,
 1.0,
 1.0,
 0.1329189836313982,
 1.0,
 0.13291904158884743,
 0.9999999999974568,
 ...]

In [31]:
prediccion['sepostulo']=y_final

In [32]:
prediccion.head()

,id,idaviso,idpostulante,edad,sexo_FEM,sexo_MASC,sexo_NO_DECLARA,Doctorado_Abandonado,Doctorado_En Curso,Doctorado_Graduado,...,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel,sepostulo
0,0,739260,6M9ZQR,42.0,True,False,False,False,False,True,...,0.0,0.0,False,0.0,2.0,0.0,4.0,24.0,24.0,0.132919
1,1,739260,6v1xdL,30.0,False,True,False,False,False,False,...,0.0,0.0,False,5.0,44.0,0.0,0.0,6.0,6.0,0.345787
2,2,739260,ezRKm9,36.0,True,False,False,False,False,False,...,0.0,0.0,False,0.0,1.0,0.0,1.0,7.0,7.0,0.132919
3,3,758580,1Q35ej,68.0,False,True,False,False,False,False,...,0.0,0.0,False,0.0,0.0,0.0,0.0,0.0,0.0,0.132919
4,4,758580,EAN4J6,32.0,True,False,False,False,False,False,...,0.0,0.0,False,0.0,1.0,0.0,0.0,3.0,3.0,0.132919

In [33]:
prediccion=prediccion[['id','sepostulo']]
prediccion.head()

   id  sepostulo
0   0   0.132919
1   1   0.345787
2   2   0.132919
3   3   0.132919
4   4   0.132919

In [34]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion55.csv",index=False)

In [35]:
prediccion.sepostulo.mean()

0.4980318388909141