In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,pzjAxkp,0,FEM,32.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,owYMbeW,0,MASC,36.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,Rz6GZEq,0,FEM,24.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,dY98kj0,0,FEM,57.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,2zPxZB0,0,MASC,18.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [7]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,NM5M,1,FEM,47.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,1kJqGb,1,FEM,34.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,eOE9Rr,1,FEM,39.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,Zrx8Xz,1,FEM,39.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,ZrKNQY,1,FEM,32.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12331856

In [9]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
4541774,1112283209,X9l2v28,1,FEM,25.0,-,-,Graduado,-,Graduado,...,False,False,False,True,False,False,False,False,False,NaN
3116619,1112297717,Drzav6X,1,FEM,24.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
8802134,1112257858,12YOEE,0,MASC,41.0,-,-,-,En Curso,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
10150406,1112421850,qe2eMl1,0,FEM,28.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
2066378,1112206678,2zklJoQ,1,MASC,27.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
3750666,1112224054,5mdVAAZ,1,MASC,23.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,1.0
8917979,1112345893,Yj5xWvr,0,MASC,24.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
1394826,1112456089,QNqeVEW,1,FEM,41.0,-,-,-,-,Graduado,...,False,True,True,False,False,False,False,False,False,2.0
7684299,1112269683,qevoNLL,0,MASC,28.0,-,-,-,-,Graduado,...,False,True,False,True,False,False,False,True,False,NaN
4191132,1112395313,zvaw9Wb,1,FEM,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,2.0
6556216,1112441819,6rQVmAr,0,FEM,23.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,NaN
5903367,1112232878,6RBXGR,1,MASC,36.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,NaN
4698007,1112274057,e9KkYo,1,FEM,29.0,-,-,-,-,Graduado,...,False,False,False,False,True,False,False,False,False,NaN
8076312,1112439298,amJWbZ,0,MASC,36.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,False,False,NaN
11235766,1112366091,xkvJ9Vj,0,FEM,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
3029276,1112420190,3NP2eW6,1,FEM,22.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,2.0
1387305,1112145679,VNxEL8D,1,FEM,21.0,-,-,-,-,-,...,False,False,False,False,False,True,False,True,False,NaN
6924241,1112422210,GNZlkX9,0,MASC,48.0,-,-,-,-,-,...,False,False,False,False,False,False,False,True,False,NaN
77115,1112351629,NwVrk5,1,FEM,53.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
8953190,1112439336,aKVV9E,0,FEM,31.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
5631700,1112438787,kPjjQLZ,1,MASC,21.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,True,1.0
10494177,1112356835,xkO0lkK,0,FEM,22.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
12243916,1112370440,xkvboMK,0,FEM,27.0,-,-,-,-,Graduado,...,True,True,False,True,False,False,False,True,False,0.0
8645126,1112304414,pzdooOM,0,MASC,26.0,-,-,Graduado,-,Graduado,...,False,True,False,False,False,False,False,True,False,0.0
4221033,1112291332,vVjXqRx,1,MASC,23.0,-,-,Graduado,-,-,...,False,True,False,False,False,False,False,False,False,0.0
10921042,1112308402,5vDezN,0,FEM,37.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,False,0.0
9755698,1111888240,KBzK88m,0,MASC,36.0,-,-,Graduado,Graduado,Graduado,...,False,True,False,False,False,False,False,True,False,0.0
12160404,1112224074,jkjoLBG,0,MASC,26.0,-,-,-,-,-,...,False,False,True,False,False,False,False,False,False,0.0
598587,1112422358,OqdX8zN,1,FEM,38.0,-,-,-,-,-,...,False,True,True,False,False,False,False,False,False,1.0
4761184,1112288052,YA94zJ,1,FEM,34.0,-,-,-,-,-,...,False,False,True,False,True,True,False,False,False,0.0
5513269,1112241852,ZQZJJb,1,FEM,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
2494988,1112284748,pzjMkZZ,1,MASC,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
2179835,1112390914,8Mlda63,1,MASC,38.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,2.0
8891229,1112262197,xkP1Rr6,0,FEM,25.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.0
11300011,1112441836,mzbMDwE,0,MASC,28.0,-,-,-,-,Graduado,...,False,False,True,False,True,True,False,False,False,0.0
1200954,1112405239,ZOobOE,1,FEM,32.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,8.0
479957,1112401293,LN8oa45,1,FEM,48.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
9461211,1112341662,A36EYOm,0,MASC,34.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
6801243,1112361177,GNd0rKE,0,FEM,22.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
8210133,1112351629,EON3pb,0,FEM,40.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0

In [11]:
zonas=avisos['nombre_zona'].value_counts().index
postulaciones['nombre_zona']=postulaciones['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
postulaciones['tipo_de_trabajo']=postulaciones['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
postulaciones['nivel_laboral']=postulaciones['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
postulaciones['nombre_area']=postulaciones['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
postulaciones['Doctorado']=postulaciones['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
postulaciones['Master']=postulaciones['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
postulaciones['Otro']=postulaciones['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
postulaciones['Posgrado']=postulaciones['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
postulaciones['Secundario']=postulaciones['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
postulaciones['Terciario/Técnico']=postulaciones['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
postulaciones['Universitario']=postulaciones['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
postulaciones['sexo']=postulaciones['sexo'].replace(sexo, range(len(sexo)))
postulaciones.dtypes

idaviso                        int64
idpostulante                  object
sepostulo                      int64
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
pide_hombre                     bool
pide_mujer                      bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [12]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']

Train:  11098670 Test:  1233186

In [13]:
c=RandomForestClassifier(n_estimators=250,min_samples_split=100,max_features="log2",n_jobs=-1,random_state=0)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")
dt=c.fit(x_train,y_train)

In [14]:
score=c.score(x_test,y_test)*100
print(score)

73.81100661214124

In [15]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/RFV2.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/RFV2.pkl']

In [16]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
87382,40779,1112420142,e8bPj4,MASC,42.0,-,En Curso,-,Graduado,Graduado,...,False,True,True,False,False,True,False,False,False,0.0
6210,84758,1112466576,Oqre00r,NO_DECLARA,19.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,1.0
77930,24501,1112318473,6k51V3,FEM,42.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
96191,95750,1112490888,5kr9Wq,MASC,53.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.0
14192,61812,1112455707,0zPlV4r,FEM,20.0,-,-,-,-,-,...,False,True,False,False,False,False,False,True,False,1.0
92173,91151,1112470523,5PYqNM,MASC,49.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
64399,11357,1111949773,eWlL82,FEM,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
37081,51228,1112441231,LNKb015,MASC,29.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,2.0
38162,15072,1112115684,Y0KrQq,MASC,49.0,-,-,-,-,-,...,False,False,False,False,False,False,False,True,False,5.0
63515,70398,1112461797,akj1v1D,FEM,21.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0

In [17]:
zonas=avisos['nombre_zona'].value_counts().index
prediccion['nombre_zona']=prediccion['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
prediccion['tipo_de_trabajo']=prediccion['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
prediccion['nivel_laboral']=prediccion['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
prediccion['Doctorado']=prediccion['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
prediccion['Master']=prediccion['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
prediccion['Otro']=prediccion['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
prediccion['Posgrado']=prediccion['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
prediccion['Secundario']=prediccion['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
prediccion['Terciario/Técnico']=prediccion['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
prediccion['Universitario']=prediccion['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
prediccion['sexo']=prediccion['sexo'].replace(sexo, range(len(sexo)))
prediccion.dtypes

id                             int64
idaviso                        int64
idpostulante                  object
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [18]:
x_final=prediccion[features]
y_final=c.predict(x_final)
y_final

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [19]:
prediccion['sepostulo']=y_final

In [20]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,0,42.0,1,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0
1,1,739260,6v1xdL,1,30.0,0,0,1,0,1,...,False,False,False,False,False,False,False,False,0.0,0
2,2,739260,ezRKm9,0,36.0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0
3,3,758580,1Q35ej,1,68.0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,0.0,0
4,4,758580,EAN4J6,0,32.0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,0.0,0

In [21]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [22]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion5.csv",index=False)

In [23]:
prediccion.sepostulo.mean()

0.51507