In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,akjmXXq,0,FEM,28.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,MV6b6R9,0,FEM,30.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,zvxv1Rm,0,FEM,22.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,8oqJzL,0,MASC,34.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,ez533B,0,MASC,32.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [7]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,NM5M,1,FEM,47.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,1kJqGb,1,FEM,34.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,eOE9Rr,1,FEM,39.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,Zrx8Xz,1,FEM,39.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,ZrKNQY,1,FEM,32.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12332167

In [9]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
1222916,1112312923,MVrJJLe,1,FEM,33.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
11056966,1112369137,jkM8YEj,0,FEM,29.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
8641756,1112280081,bOWWxNV,0,FEM,26.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
5119840,1112393700,5mq33xp,1,MASC,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,2.0
807986,1112327106,pzjQL1b,1,FEM,37.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
5354171,1112285140,2zPE5J6,1,MASC,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
9922280,1112371964,8P9V3,0,MASC,45.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
278811,1112305232,wVk4Rdp,1,FEM,29.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
7095435,1112345203,akDEak5,0,FEM,23.0,-,-,En Curso,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
8089394,1112296912,MVPx4Mx,0,MASC,21.0,-,-,-,-,-,...,False,True,False,False,False,False,False,True,False,NaN
1311622,1112322868,xkaVZB0,1,FEM,29.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
946023,1112301112,qe66POw,1,FEM,24.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,NaN
3862078,1112412259,EbwN6J,1,MASC,39.0,-,-,-,-,-,...,False,True,False,False,False,True,False,False,False,1.0
4224028,1112430391,1QrGr5L,1,FEM,32.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,2.0
4516161,1112338408,6AEARM,1,MASC,39.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,NaN
5975168,1112231734,6a8vej,1,FEM,31.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
6241929,1112342656,2zmd3pv,0,MASC,22.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,False,False,NaN
9885806,1112225050,5OAO0p,0,FEM,28.0,-,Graduado,-,-,Abandonado,...,False,True,False,False,False,False,False,False,False,NaN
11745855,1112323764,8ePYal,0,MASC,51.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,True,False,True,NaN
2696639,1112309025,ZDreX95,1,FEM,25.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,1.0

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
2709702,1112410383,Nzd9pAx,1,FEM,21.0,-,-,-,-,Graduado,...,False,False,False,False,True,True,False,False,False,0.0
7011699,1112100228,2zmrx31,0,FEM,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
7941490,1112291379,5mqJRVN,0,FEM,19.0,-,-,-,-,-,...,False,False,True,False,False,False,False,False,False,0.0
4487914,1112239317,Ezpoww4,1,MASC,25.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,False,0.0
5129015,1112263973,EeLDlb,1,FEM,42.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,True,False,True,0.0
1101685,1112262494,3NkPEMQ,1,FEM,24.0,-,-,Abandonado,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
7396613,1112299051,1dE4kN,0,FEM,31.0,-,-,-,-,-,...,False,False,False,False,False,False,True,False,True,0.0
1542943,1112340866,NWbWjz,1,FEM,29.0,-,-,-,-,-,...,False,False,False,False,False,False,False,True,False,0.0
1832596,1112365550,NzjMqZz,1,MASC,37.0,-,-,Graduado,Graduado,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
1485857,1112384362,BmDOpj0,1,MASC,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
12190313,1112296352,owjOMk4,0,FEM,24.0,-,-,-,-,Graduado,...,True,False,False,False,False,False,False,False,False,0.0
10786945,1112420091,NzrQWWx,0,MASC,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
5615689,1111689436,NkBR8M,1,MASC,29.0,-,-,En Curso,-,Graduado,...,False,True,False,False,False,False,False,True,False,0.0
6532612,1112371882,e9d4oj,0,FEM,29.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
8902780,1112359843,X95K4aL,0,FEM,19.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.0
10059630,1112458438,ZDa5Mdb,0,MASC,25.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,False,False,0.0
5817826,1112439234,jkdblVe,1,MASC,24.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,True,1.0
7621826,1112339621,BmV6JAa,0,FEM,21.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,True,False,True,0.0
4873511,1112355899,vV9Wboe,1,MASC,21.0,-,-,-,-,Abandonado,...,False,False,False,False,False,False,False,False,False,3.0
5229813,1112285652,EzEV5e6,1,MASC,20.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0

In [11]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0
postulaciones2=0

Train:  11098950 Test:  1233217

In [12]:
import gc
gc.collect()

379

In [13]:
c=lgb.LGBMClassifier(learning_rate=0.005,objective='binary',num_leaves=4096,max_depth=13,n_estimators=1000,colsample_bytree=0.8,n_jobs=-1,random_state=0,silent=False,subsample=0.8,sumsample_freq=0.5)

dt=c.fit(x_train,y_train)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")

In [14]:
score=c.score(x_test,y_test)*100
print(score)

73.12451904247185

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [15]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/LGBMV3.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/LGBMV3.pkl']

In [16]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
24323,23912,1112309882,MVrxw83,MASC,30.0,-,-,-,-,En Curso,...,False,True,False,False,False,False,False,False,False,0.0
71354,53607,1112445332,xkvOXG6,MASC,36.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
51748,41919,1112422110,X9x3GvO,MASC,31.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,2.0
90408,57074,1112451045,NBwppL,MASC,40.0,-,-,-,-,-,...,False,False,False,False,False,False,False,True,False,0.0
75941,22178,1112284604,NlEmQl,MASC,36.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,False,0.0
20665,53961,1112445548,PmGEdq1,FEM,29.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.0
97519,97282,1112499224,Z2BvVz,FEM,43.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,0.0
22043,14640,1112094756,Eze3PYJ,MASC,28.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
662,71363,1112462276,ZQMMKz,MASC,38.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,1.0
11388,70175,1112461655,1PdG83,FEM,38.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,True,False,False,0.0

In [17]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.5628193 , 0.4371807 ],
       [0.59550575, 0.40449425],
       [0.6034855 , 0.3965145 ],
       ...,
       [0.86638188, 0.13361812],
       [0.64433298, 0.35566702],
       [0.95109169, 0.04890831]])

In [18]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [19]:
prediccion['sepostulo']=y_final2

In [20]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,FEM,42.0,Graduado,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.437181
1,1,739260,6v1xdL,MASC,30.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,0.0,0.404494
2,2,739260,ezRKm9,FEM,36.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.396515
3,3,758580,1Q35ej,MASC,68.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.223281
4,4,758580,EAN4J6,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,0.0,0.317451

In [21]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.437181
1   1   0.404494
2   2   0.396515
3   3   0.223281
4   4   0.317451

In [22]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion16.csv",index=False)

In [23]:
prediccion.sepostulo.mean()

0.5984944879384175