In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [4]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [5]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [6]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")
postulaciones2=postulaciones2.append(pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/2.csv").iloc[0:len(postulaciones2)//2], ignore_index=True)
print(len(postulaciones2))
postulaciones2.head()

9906801

      idaviso idpostulante  sepostulo
0  1112257047      akjmXXq          0
1  1111920714      wVoV89V          0
2  1112346945       eGJd8B          0
3  1112345547      ekOEVL8          0
4  1112237522      qekX8N9          0

In [7]:
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [8]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones2=0
gc.collect()
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

16511335
16426692

In [9]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
6614769,1112262197,0zLjLYr,1,FEM,34.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,NaN
11456710,1112425681,8rj2Px,0,FEM,37.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,NaN
7169191,1112439200,OqbP9ON,0,MASC,54.0,-,-,Graduado,-,-,...,False,True,False,False,False,False,False,False,False,NaN
3704279,1112279361,LNwZ3ww,1,MASC,34.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
1253465,1112285124,EkOw86,0,MASC,35.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
7670455,1112314890,6rZdWej,0,MASC,26.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
14206610,1112018104,vVk8KJo,1,FEM,37.0,-,-,-,-,Graduado,...,False,True,False,False,True,False,False,False,False,NaN
2450146,1112424614,aMRMv9,1,MASC,26.0,-,-,-,-,Graduado,...,True,True,False,False,False,False,False,False,False,1.0
8397162,1112299495,MVrGG9o,0,MASC,18.0,-,-,-,-,En Curso,...,False,False,False,False,False,False,False,False,False,NaN
2769584,1112274893,BmB39MZ,0,FEM,34.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
12667204,1111533724,KBrDkZm,1,FEM,18.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,True,NaN
13267463,1111976179,ZDrkQA5,1,MASC,25.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,1.0
12294129,1112376846,DrXW5Bl,1,MASC,23.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,3.0
13545059,1112349826,6rPmMvv,1,MASC,25.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
14581071,1112374140,5rX3Vv,1,FEM,49.0,-,-,-,Graduado,Graduado,...,False,False,True,False,False,False,False,False,False,NaN
4051437,1112316434,qe2Jv4k,0,FEM,25.0,-,-,Graduado,-,-,...,False,False,False,False,False,True,False,False,False,NaN
8418410,1112351410,dY9jV3a,1,MASC,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,True,False,NaN
3007568,1112414507,Rz92oBR,1,FEM,20.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,True,False,1.0
280726,1112345900,qeY64dw,0,MASC,32.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,NaN
7034815,1112245832,lDPrXG3,0,FEM,26.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN

In [10]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
13039103,1112274839,MVr5jLx,0,FEM,26.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,True,False,True,0.0
14832525,1112300451,bO4QPMq,0,FEM,45.0,-,-,-,-,-,...,True,False,False,False,False,False,False,False,False,0.0
8079979,1112300607,mzV84E6,0,FEM,23.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
13066107,1112408670,5mrbk1q,1,FEM,25.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
6765777,1112198759,X95MWQQ,0,FEM,200.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
10947280,1111262064,5mq3KZz,0,FEM,22.0,-,-,-,-,-,...,False,False,True,False,False,False,False,False,False,0.0
2677665,1111455368,ejzev2,0,FEM,35.0,-,-,Graduado,Graduado,Graduado,...,False,False,False,False,False,True,False,False,False,0.0
4011929,1112377229,GNJmBrE,1,MASC,27.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
5993962,1112352275,1QdJW43,1,MASC,29.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
4419697,1112299971,bOZr90V,1,FEM,31.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
7431544,1112179207,bOjedrV,0,MASC,18.0,-,-,-,-,En Curso,...,False,True,True,False,False,False,False,True,False,0.0
8899876,1112326068,Ezekxx6,0,FEM,23.0,-,Graduado,-,-,-,...,False,False,False,False,False,True,False,False,False,0.0
12076400,1112296996,lDLrrxM,0,FEM,18.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
3987282,1112341315,1xPYVL,1,MASC,54.0,-,-,-,-,Graduado,...,False,False,False,True,False,False,False,False,False,4.0
9940824,1112465893,3Nd5VWw,1,MASC,46.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,True,False,True,2.0
2319409,1111753681,zvaa6zm,0,FEM,43.0,-,-,-,-,Graduado,...,False,False,False,True,False,False,False,False,False,0.0
11018950,1112415894,8MP4wzz,1,MASC,23.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,2.0
3355781,1112259567,Yj5mN0r,0,MASC,29.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
11930486,1112284652,YZEMkZ,0,MASC,49.0,-,-,-,-,-,...,False,False,True,False,False,False,False,True,False,0.0
6916334,1112296402,2zmBKYx,1,MASC,22.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0

In [11]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']
postulaciones=0

Train:  13774011 Test:  1530446

In [12]:
gc.collect()

156

In [13]:
c=lgb.LGBMClassifier(learning_rate=0.005,objective='binary',num_leaves=6000,max_depth=13,n_estimators=3000,colsample_bytree=0.7,n_jobs=3,random_state=0,silent=False,subsample=0.8,sumsample_freq=0.5)

dt=c.fit(x_train,y_train)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/....pkl")

In [14]:
score=c.score(x_test,y_test)*100
print(score)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

75.80496142954406

In [15]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/LGBMV6.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/LGBMV6.pkl']

In [16]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
49412,57270,1112451194,YVmOJw,MASC,32.0,-,En Curso,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
22353,14537,1112094756,MVrKOZx,FEM,23.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,2.0
42498,1456,1110775234,1YRdPR,MASC,37.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
74590,50889,1112440597,1jmxN3,FEM,28.0,-,-,-,-,-,...,False,True,False,True,False,False,False,False,False,0.0
17209,71483,1112462556,1ZVrMN,MASC,30.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,1.0
10658,88310,1112467005,W9A2vVa,FEM,24.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,1.0
20470,83539,1112466383,EzlR256,MASC,25.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.0
59754,73020,1112463282,8XN6DM,MASC,53.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,True,False,True,0.0
40061,57165,1112451106,e3bxDW,FEM,28.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,1.0
94831,94183,1112483327,5aP4dk,MASC,49.0,-,-,-,-,-,...,False,False,True,False,False,False,False,True,False,0.0

In [17]:
x_final=prediccion[features]
y_final=c.predict_proba(x_final)
y_final

array([[0.84175234, 0.15824766],
       [0.67573211, 0.32426789],
       [0.71238821, 0.28761179],
       ...,
       [0.93452551, 0.06547449],
       [0.76203122, 0.23796878],
       [0.98019354, 0.01980646]])

In [18]:
y_final2=[]
print(c.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

[0 1]
100000
100000

In [19]:
prediccion['sepostulo']=y_final2

In [20]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,FEM,42.0,Graduado,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.158248
1,1,739260,6v1xdL,MASC,30.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,0.0,0.324268
2,2,739260,ezRKm9,FEM,36.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.287612
3,3,758580,1Q35ej,MASC,68.0,-,-,-,Graduado,Graduado,...,False,False,False,False,False,False,False,False,0.0,0.058789
4,4,758580,EAN4J6,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,0.0,0.209813

In [21]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.158248
1   1   0.324268
2   2   0.287612
3   3   0.058789
4   4   0.209813

In [22]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion19.csv",index=False)

In [23]:
prediccion.sepostulo.mean()

0.5559829965220403