In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib

%matplotlib inline

In [25]:
plt.rc('figure',dpi=100);

In [26]:
avisos = pd.read_csv("../../Data/fiuba_entrenamiento/gian/avisos.csv")
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulantes = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [27]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [28]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas['cantidad']=0
vistas=vistas.groupby(['idAviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

   idaviso idpostulante  cantidad
0       18        BolNL         2
1    48375       RwVdKR         1
2   169730        1KjXB         2
3   169730       2AKzxa         2
4   169730        6LJ64         1

In [29]:
postulaciones2= pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/1.csv")

postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones2=pd.merge(postulaciones2,postulantes,on='idpostulante')

postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones2=pd.merge(postulaciones2,avisos,on='idaviso')

postulaciones2.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,akjmXXq,0,FEM,28.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,MV6b6R9,0,FEM,30.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,zvxv1Rm,0,FEM,22.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,8oqJzL,0,MASC,34.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,ez533B,0,MASC,32.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [30]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,secundario,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion
0,1112257047,NM5M,1,FEM,47.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
1,1112257047,1kJqGb,1,FEM,34.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
2,1112257047,eOE9Rr,1,FEM,39.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False
3,1112257047,Zrx8Xz,1,FEM,39.0,-,-,-,-,-,...,True,False,False,True,False,False,False,False,False,False
4,1112257047,ZrKNQY,1,FEM,32.0,-,-,-,-,Graduado,...,True,False,False,True,False,False,False,False,False,False

In [31]:
postulaciones=postulaciones.append(postulaciones2, ignore_index=True)
print(len(postulaciones))
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
print(len(postulaciones))

12377268
12332167

In [32]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
12323280,1112444180,N06jmJ,0,MASC,51.0,-,-,-,-,-,...,False,False,True,False,False,False,False,True,False,NaN
6701019,1112356486,lDXqxXX,0,FEM,23.0,-,-,-,-,-,...,False,False,True,False,False,False,False,True,False,NaN
9964766,1112245622,dYzaPOD,0,FEM,26.0,-,-,-,-,-,...,False,False,False,False,False,True,False,False,False,NaN
5316558,1112433020,BmB0qVa,1,MASC,45.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,2.0
9563241,1112298883,lD28BeX,0,FEM,23.0,-,-,En Curso,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
3525171,1112388033,zvaDx3E,1,MASC,21.0,-,-,Graduado,-,Graduado,...,False,False,True,False,False,False,False,True,False,NaN
7124699,1112302920,6rPXzDM,0,FEM,22.0,-,-,-,-,-,...,False,True,False,False,True,False,True,False,True,NaN
4618854,1112246784,mzj1WGY,1,FEM,21.0,-,-,En Curso,-,-,...,False,True,False,False,False,False,False,False,False,3.0
9074847,1112347633,owz1Nxa,0,MASC,20.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,False,False,NaN
10953594,1112370693,8kVWvx,0,MASC,29.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
4993131,1112368328,ZRa4XP,1,FEM,37.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,NaN
8933590,1112300321,mzV1EjO,0,FEM,26.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,NaN
10443901,1112447386,LNK5MzQ,0,FEM,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
10935865,1112318707,QNajAjV,0,MASC,26.0,-,-,-,-,Graduado,...,True,True,False,False,False,False,False,False,False,NaN
9263913,1112284957,pzPQApW,0,MASC,52.0,-,-,-,-,Graduado,...,False,False,False,True,False,False,False,False,False,NaN
8831761,1111786150,OqPqzEx,0,MASC,22.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
1092451,1112275997,KBrem0q,1,MASC,24.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,NaN
8964736,1112386543,wVoQ0aL,0,MASC,24.0,-,-,Graduado,-,-,...,False,False,False,False,False,False,False,False,False,NaN
294426,1112306281,JBXvaVW,1,FEM,27.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,NaN
11343979,1112415815,akjYMWD,0,FEM,50.0,-,-,-,-,-,...,False,False,False,False,True,True,False,False,False,NaN

In [33]:
postulaciones.cantidad=postulaciones.cantidad.fillna(0)
postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
2959627,1112393056,bOzYNzb,1,FEM,23.0,-,-,-,-,-,...,False,False,False,False,False,False,False,True,False,0.0
7076758,1112379162,QNE922W,0,MASC,30.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.0
1528458,1111662226,LNM6vMb,1,FEM,36.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,4.0
10688126,1112277419,N6dM34,0,MASC,45.0,-,-,-,-,Graduado,...,False,True,False,False,True,True,False,False,False,0.0
11394402,1112401210,eD65bE,0,MASC,47.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
5498922,1112440446,RzMjEzZ,1,MASC,27.0,-,-,Graduado,-,Graduado,...,False,False,False,False,False,False,False,False,False,3.0
1256125,1112312971,GNdDBWN,1,FEM,38.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
7394065,1112351502,wVo1ojm,0,FEM,27.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
765857,1112400208,akOp54N,1,NO_DECLARA,43.0,-,Graduado,-,-,-,...,False,True,True,False,False,False,False,False,False,0.0
2329215,1112397277,bOVz3Kd,1,MASC,23.0,-,-,-,-,Graduado,...,False,False,True,False,True,True,False,False,False,3.0
8793346,1112129870,JBdpzEp,0,MASC,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
6215798,1112334791,lD2k496,0,MASC,21.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,0.0
2714661,1111757988,vV3DOwe,1,FEM,24.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
7113995,1112284174,DrlwExK,0,FEM,32.0,-,-,-,-,Graduado,...,False,False,False,False,False,True,False,True,False,0.0
9891802,1112270023,LNKE68B,0,FEM,25.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
7710610,1112361624,KBdRdRY,0,FEM,50.0,-,-,-,-,Graduado,...,False,False,False,True,False,False,False,False,False,0.0
8845415,1112091550,5mq6OAZ,0,MASC,24.0,-,-,-,-,Graduado,...,False,False,True,False,False,True,False,True,False,0.0
11675664,1112414502,ekN4Z1B,0,MASC,24.0,-,-,-,-,Graduado,...,False,False,False,True,False,False,False,False,False,0.0
6610156,1112390261,8jk69R,0,MASC,30.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
9587756,1112270563,5x5Q4X,0,MASC,41.0,-,-,-,-,-,...,False,True,False,False,False,False,False,False,False,0.0

In [34]:
zonas=avisos['nombre_zona'].value_counts().index
postulaciones['nombre_zona']=postulaciones['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
postulaciones['tipo_de_trabajo']=postulaciones['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
postulaciones['nivel_laboral']=postulaciones['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
postulaciones['nombre_area']=postulaciones['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
postulaciones['Doctorado']=postulaciones['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
postulaciones['Master']=postulaciones['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
postulaciones['Otro']=postulaciones['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
postulaciones['Posgrado']=postulaciones['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
postulaciones['Secundario']=postulaciones['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
postulaciones['Terciario/Técnico']=postulaciones['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
postulaciones['Universitario']=postulaciones['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
postulaciones['sexo']=postulaciones['sexo'].replace(sexo, range(len(sexo)))
postulaciones.dtypes

idaviso                        int64
idpostulante                  object
sepostulo                      int64
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [35]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')

x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']

Train:  11098950 Test:  1233217

In [36]:
c=DecisionTreeClassifier(min_samples_split=100)
#c = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/arbol.pkl") 
dt=c.fit(x_train,y_train)

In [37]:
y_pred=c.predict(x_test)
score=accuracy_score(y_test,y_pred)*100
print(score)

73.05818846156029

In [38]:
joblib.dump(c, "../../Data/fiuba_entrenamiento/gian/modelos/arbol.pkl")

['../../Data/fiuba_entrenamiento/gian/modelos/arbol.pkl']

In [39]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idaviso','idpostulante'],how='left')
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

100000
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,viajar,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad
53335,61562,1112455533,ekNOqa9,MASC,23.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
8272,54291,1112446392,ZGvkAz,MASC,50.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,0.0
26198,25291,1112334788,kPjwdbJ,FEM,18.0,-,-,-,-,Graduado,...,False,False,True,False,False,False,False,True,False,3.0
95577,95031,1112487047,abM1MZ,FEM,41.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,True,False,0.0
44318,51299,1112441384,59vWDZ,FEM,32.0,-,-,-,-,-,...,False,False,False,False,False,False,False,False,False,0.0
60138,8556,1111784905,NPJrzz,MASC,44.0,-,-,-,Graduado,Graduado,...,False,False,True,False,False,False,False,False,False,0.0
54738,73083,1112463294,EzeoKY6,FEM,23.0,-,-,En Curso,-,Graduado,...,False,False,False,True,False,False,False,False,False,1.0
16256,69212,1112461143,6rQROjx,FEM,25.0,-,-,-,-,Graduado,...,False,True,False,False,False,False,False,False,False,6.0
68901,14735,1112096537,YOdv3V,MASC,39.0,-,-,-,-,Graduado,...,False,False,False,False,False,False,False,False,False,0.0
40520,1330,1110564123,8EWNkl,MASC,43.0,-,-,-,-,-,...,False,True,False,False,False,False,False,True,False,0.0

In [40]:
zonas=avisos['nombre_zona'].value_counts().index
prediccion['nombre_zona']=prediccion['nombre_zona'].replace(zonas, range(len(zonas)))

tipos_de_trabajo=avisos['tipo_de_trabajo'].value_counts().index
prediccion['tipo_de_trabajo']=prediccion['tipo_de_trabajo'].replace(tipos_de_trabajo, range(len(tipos_de_trabajo)))

niveles=avisos['nivel_laboral'].value_counts().index
prediccion['nivel_laboral']=prediccion['nivel_laboral'].replace(niveles, range(len(niveles)))

areas=avisos['nombre_area'].value_counts().index
prediccion['nombre_area']=prediccion['nombre_area'].replace(areas, range(len(areas)))

doct=postulantes['Doctorado'].value_counts().index
prediccion['Doctorado']=prediccion['Doctorado'].replace(doct, range(len(doct)))

master=postulantes['Master'].value_counts().index
prediccion['Master']=prediccion['Master'].replace(master, range(len(master)))

otro=postulantes['Otro'].value_counts().index
prediccion['Otro']=prediccion['Otro'].replace(otro, range(len(otro)))

posgrado=postulantes['Posgrado'].value_counts().index
prediccion['Posgrado']=prediccion['Posgrado'].replace(posgrado, range(len(posgrado)))

sec=postulantes['Secundario'].value_counts().index
prediccion['Secundario']=prediccion['Secundario'].replace(sec, range(len(sec)))

terc=postulantes['Terciario/Técnico'].value_counts().index
prediccion['Terciario/Técnico']=prediccion['Terciario/Técnico'].replace(terc, range(len(terc)))

univ=postulantes['Universitario'].value_counts().index
prediccion['Universitario']=prediccion['Universitario'].replace(univ, range(len(univ)))

sexo=postulantes['sexo'].value_counts().index
prediccion['sexo']=prediccion['sexo'].replace(sexo, range(len(sexo)))
prediccion.dtypes

id                             int64
idaviso                        int64
idpostulante                  object
sexo                           int64
edad                         float64
Doctorado                      int64
Master                         int64
Otro                           int64
Posgrado                       int64
Secundario                     int64
Terciario/Técnico              int64
Universitario                  int64
titulo                        object
nombre_zona                    int64
tipo_de_trabajo                int64
nivel_laboral                  int64
nombre_area                    int64
denominacion_empresa          object
titulo_uppercase                bool
ingles                          bool
experiencia                     bool
paquete_office                  bool
liderazgo                       bool
secundario                      bool
viajar                          bool
empresa_importante              bool
capacitacion                    bool
remuneracion_pretendida         bool
graduados                       bool
estudiantes                     bool
conocimientos_especificos       bool
buen_ambiente                   bool
discriminacion                  bool
cantidad                     float64
dtype: object

In [41]:
x_final=prediccion[features]
y_final=c.predict(x_final)
y_final

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [42]:
prediccion['sepostulo']=y_final

In [43]:
prediccion.head()

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,empresa_importante,capacitacion,remuneracion_pretendida,graduados,estudiantes,conocimientos_especificos,buen_ambiente,discriminacion,cantidad,sepostulo
0,0,739260,6M9ZQR,0,42.0,1,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0
1,1,739260,6v1xdL,1,30.0,0,0,1,0,1,...,False,False,False,False,False,False,False,False,0.0,0
2,2,739260,ezRKm9,0,36.0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,0.0,0
3,3,758580,1Q35ej,1,68.0,0,0,0,1,0,...,False,False,False,False,False,False,False,False,0.0,0
4,4,758580,EAN4J6,0,32.0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,0.0,0

In [44]:
prediccion.drop(features,axis=1,inplace=True)
prediccion.drop(['idaviso','idpostulante','titulo','denominacion_empresa'],axis=1,inplace=True)
prediccion.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [45]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion3.csv",index=False)

In [46]:
prediccion.sepostulo.mean()

0.55496