In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import gc
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

SAMPLE_SIZE = 0.5
%matplotlib inline

In [55]:
avisos = pd.read_csv("Data/fiuba_entrenamiento/pocho/avisosONEHOT.csv")
postulaciones = pd.read_csv("Data/fiuba_entrenamiento/pocho/postulaciones.csv")
postulantes = pd.read_csv("Data/fiuba_entrenamiento/pocho/postulantesONEHOT.csv")

avisos['nombre_area']=avisos['nombre_area'].astype('category')
avisos_normales = pd.read_csv("Data/fiuba_entrenamiento/pocho/avisos.csv")
avisos_normales = avisos_normales.loc[:,["nombre_area","idaviso","tipo_de_trabajo","nivel_laboral"]]

vistas = pd.read_csv("Data/fiuba_entrenamiento/pocho/vistas.csv")

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [56]:

avisos_normales.head()

  nombre_area     idaviso tipo_de_trabajo         nivel_laboral
0   Comercial     8725750       Full-time  Senior / Semi-Senior
1  Transporte  1000610287       Full-time  Senior / Semi-Senior
2  Producción  1000872556       Full-time  Senior / Semi-Senior
3      Ventas  1001135716       Full-time  Senior / Semi-Senior
4      Ventas  1001326344       Full-time  Senior / Semi-Senior

In [57]:
vistas['cantidad']=0
vistas2=vistas.groupby(['idaviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         1
1    48375       RwVdKR         1
2   169730        1KjXB         1
3   169730       2AKzxa         1
4   169730        6LJ64         1

In [58]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas.head()

  idpostulante  cantidad
0        0002q         3
1        0005E        25
2        000R8         4
3        001XE        12
4        003k9        26

In [59]:
vistas3=pd.merge(vistas2,vistas,on='idpostulante',how='left')
vistas3.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           1          20
1    48375       RwVdKR           1          10
2   169730        1KjXB           1          34
3   169730       2AKzxa           1           1
4   169730        6LJ64           1          10

In [60]:
vistas3['cantidad']=vistas3['cantidad_x']/vistas3['cantidad_y']
vistas3.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas3.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.050000
1    48375       RwVdKR  0.100000
2   169730        1KjXB  0.029412
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.100000

In [61]:
vistas=vistas.rename(columns={'cantidad': 'vistas_postulante'})
vistas2=vistas2.rename(columns={'cantidad': 'vistas_al_aviso'})
vistas_final = pd.merge(vistas3,avisos_normales, on= "idaviso", how = "left")
vistas_final.head()

   idaviso idpostulante  cantidad nombre_area tipo_de_trabajo nivel_laboral
0       18        BolNL  0.050000         NaN             NaN           NaN
1    48375       RwVdKR  0.100000         NaN             NaN           NaN
2   169730        1KjXB  0.029412         NaN             NaN           NaN
3   169730       2AKzxa  1.000000         NaN             NaN           NaN
4   169730        6LJ64  0.100000         NaN             NaN           NaN

In [62]:
no_postulaciones = pd.read_csv("Data/fiuba_entrenamiento/pocho/no-postulaciones/azar_total.csv")
postulaciones=postulaciones.append(no_postulaciones, ignore_index=True)
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
postulaciones = postulaciones.sample(int(round(len(postulaciones)*SAMPLE_SIZE)))
no_postulaciones = 0
gc.collect()

C:\Users\Pocho\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

877

In [63]:
vistas_final["vistas_por_area"]=0
vistas_final["vistas_por_tipo"]=0
vistas_final["vistas_por_nivel"]=0

vistas_area = vistas_final.groupby(['idpostulante','nombre_area'],as_index=False).agg({'vistas_por_area':'count'})
vistas_tipo= vistas_final.groupby(['idpostulante','tipo_de_trabajo'],as_index=False).agg({'vistas_por_tipo':'count'})
vistas_nivel=vistas_final.groupby(['idpostulante','nivel_laboral'],as_index=False).agg({'vistas_por_nivel':'count'})

vistas_final = 0
gc.collect()

126

In [64]:
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [ ]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones = pd.merge(postulaciones,avisos_normales, on = "idaviso", how = "left")
postulaciones.drop("nombre_area_y", axis = 1, inplace=True)
postulaciones.rename({"nombre_area_x":"nombre_area"},axis=1,inplace=True)
postulaciones=pd.merge(postulaciones,vistas,on=['idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas2,on=['idaviso','idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas3,on=['idaviso','idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas_area,on=['idpostulante','nombre_area'],how='left')
postulaciones=pd.merge(postulaciones,vistas_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,vistas_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['vistas_por_area']=postulaciones['vistas_por_area'].fillna(0)
postulaciones['vistas_por_tipo']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones['vistas_por_nivel']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones["vistas_al_aviso"] = postulaciones["vistas_al_aviso"].fillna(0)
postulaciones['lo_vio']=(postulaciones['vistas_al_aviso']>0)
postulaciones.cantidad = postulaciones.cantidad.fillna(0)
postulaciones.vistas_postulante = postulaciones.vistas_postulante.fillna(0)

postulaciones.sample(20)

In [ ]:
postulaciones_area = postulaciones.groupby(['idpostulante','nombre_area'],as_index=False).agg({'sepostulo':'count'})
postulaciones_tipo= postulaciones.groupby(['idpostulante','tipo_de_trabajo'],as_index=False).agg({'sepostulo':'count'})
postulaciones_nivel =postulaciones.groupby(['idpostulante','nivel_laboral'],as_index=False).agg({'sepostulo':'count'})
postulaciones_area=postulaciones_area.rename(columns={'sepostulo':'postulaciones_misma_area'})
postulaciones_tipo=postulaciones_tipo.rename(columns={'sepostulo':'postulaciones_mismo_tipo'})
postulaciones_nivel=postulaciones_nivel.rename(columns={'sepostulo':'postulaciones_mismo_nivel'})

In [ ]:
postulaciones.dropna(axis = 1, inplace=True)

In [ ]:
postulaciones_area.head()

In [ ]:
postulaciones=pd.merge(postulaciones,postulaciones_area,on=['idpostulante','nombre_area'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_nivel,on=['idpostulante','nivel_laboral'],how='left')

postulaciones['postulaciones_misma_area']=postulaciones['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_nivel']=postulaciones['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_tipo']=postulaciones['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones.drop(["tipo_de_trabajo","nivel_laboral"], axis = 1, inplace=True)

In [ ]:
#mean encoding
area_mean = postulaciones.groupby("nombre_area").agg({"sepostulo":"mean"})
area_mean.head()

means = area_mean.to_dict()["sepostulo"]
postulaciones.nombre_area = postulaciones.nombre_area.replace(means)
postulaciones.sample(10)

In [18]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')


x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']

postulaciones=0

gc.collect()

Train:  5754555 Test:  639396

98

In [19]:
model = XGBClassifier(objective='binary:logistic',max_depth=18,learning_rate=0.1,subsample=0.8,colsample_bytree=0.8,n_estimators=1200,silent=False,n_jobs=-1,verbose=1)
dt=model.fit(x_train,y_train,eval_set=[(x_test,y_test)],verbose=True,early_stopping_rounds=5)

[0]	validation_0-error:0.113865
Will train until validation_0-error hasn't improved in 5 rounds.
[1]	validation_0-error:0.106547
[2]	validation_0-error:0.105246
[3]	validation_0-error:0.103685
[4]	validation_0-error:0.10176
[5]	validation_0-error:0.10052
[6]	validation_0-error:0.10031
[7]	validation_0-error:0.099569
[8]	validation_0-error:0.099433
[9]	validation_0-error:0.098543
[10]	validation_0-error:0.098474
[11]	validation_0-error:0.097503
[12]	validation_0-error:0.096796
[13]	validation_0-error:0.096393
[14]	validation_0-error:0.096435
[15]	validation_0-error:0.096131
[16]	validation_0-error:0.095855
[17]	validation_0-error:0.095592
[18]	validation_0-error:0.095213
[19]	validation_0-error:0.094965
[20]	validation_0-error:0.094614
[21]	validation_0-error:0.094441
[22]	validation_0-error:0.093576
[23]	validation_0-error:0.093416
[24]	validation_0-error:0.093185
[25]	validation_0-error:0.092938
[26]	validation_0-error:0.092831
[27]	validation_0-error:0.092528
[28]	validation_0-error:0.092322
[29]	validation_0-error:0.092078
[30]	validation_0-error:0.09133
[31]	validation_0-error:0.091008
[32]	validation_0-error:0.090675
[33]	validation_0-error:0.090213
[34]	validation_0-error:0.089871
[35]	validation_0-error:0.089744
[36]	validation_0-error:0.089531
[37]	validation_0-error:0.089483
[38]	validation_0-error:0.089012
[39]	validation_0-error:0.088817
[40]	validation_0-error:0.088632
[41]	validation_0-error:0.088316
[42]	validation_0-error:0.087542
[43]	validation_0-error:0.08742
[44]	validation_0-error:0.087287
[45]	validation_0-error:0.087317
[46]	validation_0-error:0.08716
[47]	validation_0-error:0.08702
[48]	validation_0-error:0.086676
[49]	validation_0-error:0.086565
[50]	validation_0-error:0.086388
[51]	validation_0-error:0.086299
[52]	validation_0-error:0.085984
[53]	validation_0-error:0.086011
[54]	validation_0-error:0.085958
[55]	validation_0-error:0.085773
[56]	validation_0-error:0.085682
[57]	validation_0-error:0.085615
[58]	validation_0-error:0.085576
[59]	validation_0-error:0.085467
[60]	validation_0-error:0.085277
[61]	validation_0-error:0.085224
[62]	validation_0-error:0.085176
[63]	validation_0-error:0.085162
[64]	validation_0-error:0.084999
[65]	validation_0-error:0.084936
[66]	validation_0-error:0.084777
[67]	validation_0-error:0.084677
[68]	validation_0-error:0.084553
[69]	validation_0-error:0.084392
[70]	validation_0-error:0.084336
[71]	validation_0-error:0.084106
[72]	validation_0-error:0.084
[73]	validation_0-error:0.083975
[74]	validation_0-error:0.08362
[75]	validation_0-error:0.083516
[76]	validation_0-error:0.08341
[77]	validation_0-error:0.083191
[78]	validation_0-error:0.08293
[79]	validation_0-error:0.082745
[80]	validation_0-error:0.082725
[81]	validation_0-error:0.082581
[82]	validation_0-error:0.082382
[83]	validation_0-error:0.082107
[84]	validation_0-error:0.081949
[85]	validation_0-error:0.081937
[86]	validation_0-error:0.08183
[87]	validation_0-error:0.081679
[88]	validation_0-error:0.081541
[89]	validation_0-error:0.081449
[90]	validation_0-error:0.081489
[91]	validation_0-error:0.081222
[92]	validation_0-error:0.081181
[93]	validation_0-error:0.081131
[94]	validation_0-error:0.080994
[95]	validation_0-error:0.080983
[96]	validation_0-error:0.080987
[97]	validation_0-error:0.080967
[98]	validation_0-error:0.080692
[99]	validation_0-error:0.080585
[100]	validation_0-error:0.080539
[101]	validation_0-error:0.080479
[102]	validation_0-error:0.080465
[103]	validation_0-error:0.080451
[104]	validation_0-error:0.080302
[105]	validation_0-error:0.080313
[106]	validation_0-error:0.079857
[107]	validation_0-error:0.079769
[108]	validation_0-error:0.079675
[109]	validation_0-error:0.079478
[110]	validation_0-error:0.079294
[111]	validation_0-error:0.079206
[112]	validation_0-error:0.079197
[113]	validation_0-error:0.079009
[114]	validation_0-error:0.079
[115]	validation_0-error:0.078918
[116]	validation_0-error:0.078801
[117]	validation_0-error:0.078685
[118]	validation_0-error:0.078325
[119]	validation_0-error:0.07831
[120]	validation_0-error:0.078191
[121]	validation_0-error:0.078163
[122]	validation_0-error:0.078166
[123]	validation_0-error:0.078157
[124]	validation_0-error:0.078152
[125]	validation_0-error:0.078011
[126]	validation_0-error:0.077986
[127]	validation_0-error:0.077888
[128]	validation_0-error:0.077842
[129]	validation_0-error:0.077802
[130]	validation_0-error:0.077787
[131]	validation_0-error:0.077731
[132]	validation_0-error:0.077651
[133]	validation_0-error:0.077573
[134]	validation_0-error:0.07749
[135]	validation_0-error:0.07739
[136]	validation_0-error:0.077368
[137]	validation_0-error:0.077334
[138]	validation_0-error:0.077279
[139]	validation_0-error:0.07727
[140]	validation_0-error:0.077146
[141]	validation_0-error:0.077134
[142]	validation_0-error:0.077126
[143]	validation_0-error:0.077117
[144]	validation_0-error:0.076985
[145]	validation_0-error:0.077013
[146]	validation_0-error:0.076915
[147]	validation_0-error:0.076711
[148]	validation_0-error:0.076683
[149]	validation_0-error:0.076663
[150]	validation_0-error:0.076682
[151]	validation_0-error:0.076633
[152]	validation_0-error:0.076605
[153]	validation_0-error:0.076555
[154]	validation_0-error:0.076497
[155]	validation_0-error:0.076421
[156]	validation_0-error:0.076383
[157]	validation_0-error:0.076392
[158]	validation_0-error:0.076347
[159]	validation_0-error:0.07622
[160]	validation_0-error:0.076144
[161]	validation_0-error:0.076145
[162]	validation_0-error:0.075933
[163]	validation_0-error:0.075912
[164]	validation_0-error:0.075815
[165]	validation_0-error:0.075751
[166]	validation_0-error:0.075764
[167]	validation_0-error:0.075772
[168]	validation_0-error:0.075709
[169]	validation_0-error:0.07566
[170]	validation_0-error:0.075563
[171]	validation_0-error:0.075556
[172]	validation_0-error:0.075484
[173]	validation_0-error:0.075443
[174]	validation_0-error:0.075398
[175]	validation_0-error:0.075368
[176]	validation_0-error:0.07537
[177]	validation_0-error:0.07526
[178]	validation_0-error:0.075154
[179]	validation_0-error:0.075152
[180]	validation_0-error:0.075116
[181]	validation_0-error:0.075076
[182]	validation_0-error:0.074977
[183]	validation_0-error:0.074905
[184]	validation_0-error:0.074902
[185]	validation_0-error:0.074872
[186]	validation_0-error:0.074846
[187]	validation_0-error:0.074802
[188]	validation_0-error:0.074767
[189]	validation_0-error:0.074794
[190]	validation_0-error:0.074777
[191]	validation_0-error:0.074736
[192]	validation_0-error:0.074733
[193]	validation_0-error:0.074703
[194]	validation_0-error:0.07466
[195]	validation_0-error:0.074702
[196]	validation_0-error:0.074667
[197]	validation_0-error:0.074724
[198]	validation_0-error:0.074713
[199]	validation_0-error:0.074672
Stopping. Best iteration:
[194]	validation_0-error:0.07466

In [20]:
from sklearn.metrics import roc_auc_score
x_final=x_test[features]
y_final=model.predict_proba(x_final)
y_pred=[]
for elem in y_final:
    y_pred.append(elem[1])
score=roc_auc_score(y_test, y_pred)
print(score)

0.9782682534433852

In [21]:
print("dale mono")

dale mono

In [22]:
joblib.dump(model, "Data/fiuba_entrenamiento/pocho/modelos/XGBoostMean1.pkl")

['Data/fiuba_entrenamiento/pocho/modelos/XGBoostMean1.pkl']

0                                  Comercial
1                                  Comercial
2                                  Comercial
3                      Tecnologia / Sistemas
4                      Tecnologia / Sistemas
5                      Tecnologia / Sistemas
6                                Consultoria
7                                Consultoria
8                                Consultoria
9                           Recursos Humanos
10                          Recursos Humanos
11                          Recursos Humanos
12                          Recursos Humanos
13                     Tecnologia / Sistemas
14                     Tecnologia / Sistemas
15                     Tecnologia / Sistemas
16                          Recursos Humanos
17                          Recursos Humanos
18                          Recursos Humanos
19                          Recursos Humanos
20                     Jóvenes Profesionales
21                     Jóvenes Profesionales
22                     Jóvenes Profesionales
23                               Call Center
24                               Call Center
25                               Call Center
26                                    Ventas
27                                    Ventas
28                                    Ventas
29                     Jóvenes Profesionales
                        ...
99970                         Administración
99971                         Administración
99972                         Administración
99973                  Tecnologia / Sistemas
99974                  Tecnologia / Sistemas
99975                  Tecnologia / Sistemas
99976                   Community Management
99977                   Community Management
99978                   Community Management
99979    Relaciones Institucionales/Publicas
99980    Relaciones Institucionales/Publicas
99981    Relaciones Institucionales/Publicas
99982             Administración de Personal
99983             Administración de Personal
99984             Administración de Personal
99985                              Comercial
99986                              Comercial
99987                              Comercial
99988                Compensación y Planilla
99989                Compensación y Planilla
99990                Compensación y Planilla
99991                              Logística
99992                              Logística
99993                              Logística
99994                 Planeamiento comercial
99995                 Planeamiento comercial
99996                 Planeamiento comercial
99997                     Pasantía / Trainee
99998                     Pasantía / Trainee
99999                     Pasantía / Trainee
Name: nombre_area_y, Length: 100000, dtype: object

In [52]:
prediccion = pd.read_csv("Data/fiuba_entrenamiento/test_final_100k.csv")
prediccion = pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
prediccion = pd.merge(prediccion,avisos,on='idaviso',how='inner')
prediccion = pd.merge(prediccion,avisos_normales,on='idaviso',how='inner')
prediccion.drop("nombre_area_y", axis = 1, inplace=True)
prediccion.rename({"nombre_area_x":"nombre_area"},axis=1,inplace=True)

prediccion = pd.merge(prediccion,vistas,on='idpostulante',how='left')
prediccion.sample(10)


prediccion=pd.merge(prediccion,vistas2,on=['idaviso','idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas3,on=['idaviso','idpostulante'],how='left')
prediccion['cantidad']=prediccion['cantidad'].fillna(0)
prediccion['vistas_postulante']=prediccion['vistas_postulante'].fillna(0)
prediccion['vistas_al_aviso']=prediccion['vistas_al_aviso'].fillna(0)
prediccion['lo_vio']=(prediccion['vistas_al_aviso']>0)

prediccion=pd.merge(prediccion,postulaciones_area,on=['idpostulante','nombre_area'],how='left')
prediccion=pd.merge(prediccion,postulaciones_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,postulaciones_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion=pd.merge(prediccion,vistas_area,on=['idpostulante','nombre_area'],how='left')
prediccion=pd.merge(prediccion,vistas_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,vistas_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['vistas_por_area']=prediccion['vistas_por_area'].fillna(0)
prediccion['vistas_por_tipo']=prediccion['vistas_por_tipo'].fillna(0)
prediccion['vistas_por_nivel']=prediccion['vistas_por_tipo'].fillna(0)
prediccion['postulaciones_misma_area']=prediccion['postulaciones_misma_area'].fillna(0)
prediccion['postulaciones_mismo_nivel']=prediccion['postulaciones_mismo_nivel'].fillna(0)
prediccion['postulaciones_mismo_tipo']=prediccion['postulaciones_mismo_tipo'].fillna(0)

prediccion.sample(10)

,id,idaviso,idpostulante,edad_x,sexo_FEM_x,sexo_MASC_x,sexo_NO_DECLARA_x,Doctorado_Abandonado_x,Doctorado_En Curso_x,Doctorado_Graduado_x,...,vistas_postulante_y,vistas_al_aviso_y,cantidad_y,vistas_por_area_y,vistas_por_tipo_y,vistas_por_nivel_y,lo_vio_y,postulaciones_misma_area_y,postulaciones_mismo_tipo_y,postulaciones_mismo_nivel_y
1079,77875,1112464463,0zBGo4d,24.0,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75648,31170,1112383755,a8oqYJ,36.0,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91831,90730,1112468569,5ZMNRp,45.0,False,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15369,65968,1112458919,e9LVdp,33.0,False,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98205,98040,1112504434,19K9Z3,38.0,False,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79980,27449,1112350600,aWdLAE,31.0,False,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25143,84231,1112466532,wVkDYDe,19.0,False,True,False,False,False,False,...,201.0,1.0,0.004975,18.0,168.0,168.0,True,11.0,107.0,79.0
73780,19851,1112241179,8rMkJl,40.0,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91500,91014,1112470070,NrBMbz,61.0,False,True,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22732,18547,1112213212,Yjl04jD,29.0,True,False,False,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
prediccion.head()

In [53]:
#mean encoding
area_mean = prediccion.groupby("nombre_area").agg({"sepostulo":"mean"})
area_mean.head()

means = area_mean.to_dict()["sepostulo"]
prediccion.nombre_area = postulaciones.nombre_area.replace(means)
prediccion.drop("sepostulo",axis=1,inplace=True)
prediccion.sample(10)

KeyError: 'nombre_area'

In [ ]:
x_final=prediccion[features]
y_final=model.predict_proba(x_final)
y_final2=[]
print(model.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

prediccion['sepostulo']=y_final2
prediccion.head()

In [46]:
prediccion=prediccion[['id','sepostulo']]
print(prediccion.sepostulo.mean())
prediccion.head()

0.5002451669620064

   id  sepostulo
0   0   0.010660
1   1   0.230727
2   2   0.057789
3   3   0.002264
4   4   0.003077

In [47]:
prediccion.to_csv("Data/fiuba_entrenamiento/pocho/predicciones/mega-lgbm1.csv",index=False)