In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score

SAMPLE_SIZE = 0.5
%matplotlib inline

In [18]:
avisos = pd.read_csv("Data/fiuba_entrenamiento/pocho/avisos.csv")
postulaciones = pd.read_csv("Data/fiuba_entrenamiento/pocho/postulaciones.csv")
postulantes = pd.read_csv("Data/fiuba_entrenamiento/pocho/postulantes.csv")

postulantes['sexo']=postulantes['sexo'].astype('category')
postulantes['Doctorado']=postulantes['Doctorado'].astype('category')
postulantes['Master']=postulantes['Master'].astype('category')
postulantes['Otro']=postulantes['Otro'].astype('category')
postulantes['Posgrado']=postulantes['Posgrado'].astype('category')
postulantes['Secundario']=postulantes['Secundario'].astype('category')
postulantes['Terciario/Técnico']=postulantes['Terciario/Técnico'].astype('category')
postulantes['Universitario']=postulantes['Universitario'].astype('category')

avisos['nombre_zona']=avisos['nombre_zona'].astype('category')
avisos['tipo_de_trabajo']=avisos['tipo_de_trabajo'].astype('category')
avisos['nivel_laboral']=avisos['nivel_laboral'].astype('category')
avisos['nombre_area']=avisos['nombre_area'].astype('category')
avisos.drop(["mapacalle", "ciudad"], axis=1, inplace=True)
vistas = pd.read_csv("Data/fiuba_entrenamiento/pocho/vistas.csv")

postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)

In [19]:
vistas['cantidad']=0
vistas2=vistas.groupby(['idaviso','idpostulante'],as_index=False).agg({'cantidad':'count'})
vistas2.head()

   idaviso idpostulante  cantidad
0       18        BolNL         1
1    48375       RwVdKR         1
2   169730        1KjXB         1
3   169730       2AKzxa         1
4   169730        6LJ64         1

In [20]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas.head()

  idpostulante  cantidad
0        0002q         3
1        0005E        25
2        000R8         4
3        001XE        12
4        003k9        26

In [21]:
vistas3=pd.merge(vistas2,vistas,on='idpostulante',how='left')
vistas3.head()

   idaviso idpostulante  cantidad_x  cantidad_y
0       18        BolNL           1          20
1    48375       RwVdKR           1          10
2   169730        1KjXB           1          34
3   169730       2AKzxa           1           1
4   169730        6LJ64           1          10

In [22]:
vistas3['cantidad']=vistas3['cantidad_x']/vistas3['cantidad_y']
vistas3.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas3.head()

   idaviso idpostulante  cantidad
0       18        BolNL  0.050000
1    48375       RwVdKR  0.100000
2   169730        1KjXB  0.029412
3   169730       2AKzxa  1.000000
4   169730        6LJ64  0.100000

In [23]:
vistas=vistas.rename(columns={'cantidad': 'vistas_postulante'})
vistas2=vistas2.rename(columns={'cantidad': 'vistas_al_aviso'})
vistas_final = pd.merge(vistas3,avisos, on= "idaviso", how = "left")
vistas_final.head()

,idaviso,idpostulante,cantidad,idpais,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,...,estudiantes,conocimientos_especificos,buen_ambiente,indica_sueldo,part_time,full_time,ofrece_crecimiento,ofrece_beneficios,obra_social,multinacional
0,18,BolNL,0.050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48375,RwVdKR,0.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,169730,1KjXB,0.029412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,169730,2AKzxa,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,169730,6LJ64,0.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
no_postulaciones = pd.read_csv("Data/fiuba_entrenamiento/pocho/no-postulaciones/azar_total.csv")
postulaciones=postulaciones.append(no_postulaciones, ignore_index=True)
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)
postulaciones = postulaciones.sample(int(round(len(postulaciones)*SAMPLE_SIZE)))
no_postulaciones = 0
gc.collect()

53

In [25]:
vistas_final["vistas_por_area"]=0
vistas_final["vistas_por_tipo"]=0
vistas_final["vistas_por_nivel"]=0

vistas_area = vistas_final.groupby(['idpostulante','nombre_area'],as_index=False).agg({'vistas_por_area':'count'})
vistas_tipo= vistas_final.groupby(['idpostulante','tipo_de_trabajo'],as_index=False).agg({'vistas_por_tipo':'count'})
vistas_nivel=vistas_final.groupby(['idpostulante','nivel_laboral'],as_index=False).agg({'vistas_por_nivel':'count'})

vistas_final = 0
gc.collect()

126

In [26]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')
postulaciones=pd.merge(postulaciones,vistas,on=['idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas2,on=['idaviso','idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas3,on=['idaviso','idpostulante'],how='left')
postulaciones=pd.merge(postulaciones,vistas_area,on=['idpostulante','nombre_area'],how='left')
postulaciones=pd.merge(postulaciones,vistas_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,vistas_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['vistas_por_area']=postulaciones['vistas_por_area'].fillna(0)
postulaciones['vistas_por_tipo']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones['vistas_por_nivel']=postulaciones['vistas_por_tipo'].fillna(0)
postulaciones["vistas_al_aviso"] = postulaciones["vistas_al_aviso"].fillna(0)
postulaciones['lo_vio']=(postulaciones['vistas_al_aviso']>0)


postulaciones.sample(20)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,ofrece_beneficios,obra_social,multinacional,vistas_postulante,vistas_al_aviso,cantidad,vistas_por_area,vistas_por_tipo,vistas_por_nivel,lo_vio
4254905,1112437283,a6E3qq,0,MASC,45.0,-,-,-,-,Graduado,...,False,False,True,2.0,0.0,NaN,0.0,0.0,0.0,False
3399492,1112412665,lDwjLXG,0,MASC,33.0,-,-,-,-,Graduado,...,True,False,False,34.0,0.0,NaN,0.0,22.0,22.0,False
58192,1112412660,4rWVN8R,1,FEM,28.0,-,-,-,-,Graduado,...,False,False,True,104.0,0.0,NaN,1.0,83.0,83.0,False
2168991,1112403061,E6ebe8,1,FEM,32.0,-,-,-,-,Graduado,...,False,False,False,39.0,0.0,NaN,8.0,31.0,31.0,False
2665459,1112268008,vVj8kGG,1,MASC,21.0,-,-,-,-,Graduado,...,False,False,False,1.0,0.0,NaN,0.0,0.0,0.0,False
3474509,1112380097,ZKRAwY,1,MASC,35.0,-,-,-,-,Graduado,...,False,False,False,1.0,0.0,NaN,0.0,1.0,1.0,False
4875721,1112228564,1QrX1mQ,0,MASC,28.0,-,-,-,-,Graduado,...,False,False,False,1.0,0.0,NaN,0.0,1.0,1.0,False
2684192,1112447066,A39bQPL,1,MASC,22.0,-,-,-,-,-,...,True,False,False,6.0,0.0,NaN,0.0,3.0,3.0,False
4407862,1112479578,owjQBEa,0,MASC,22.0,-,-,-,-,Graduado,...,False,False,False,NaN,0.0,NaN,0.0,0.0,0.0,False
545469,1112297437,GNJW81E,1,MASC,26.0,-,-,-,-,Graduado,...,False,False,False,38.0,1.0,0.026316,14.0,34.0,34.0,True
3892919,1112351598,e9Dm1W,1,MASC,65.0,-,-,-,-,Graduado,...,False,False,True,35.0,0.0,NaN,15.0,25.0,25.0,False
5267207,1112342500,eX4X49,1,MASC,48.0,-,-,-,-,Graduado,...,True,False,False,10.0,0.0,NaN,0.0,9.0,9.0,False
2372404,1112264750,RzP9rWO,1,FEM,22.0,-,-,-,-,-,...,False,False,False,NaN,0.0,NaN,0.0,0.0,0.0,False
5521558,1112281683,8M2RGxD,0,MASC,25.0,-,-,En Curso,-,-,...,False,False,False,2.0,0.0,NaN,0.0,2.0,2.0,False
998850,1112301407,MVdlEPL,1,FEM,23.0,-,-,-,-,Graduado,...,False,False,False,44.0,0.0,NaN,8.0,25.0,25.0,False
1140150,1112267946,bOjKqWV,1,MASC,23.0,-,-,-,-,Graduado,...,False,False,False,24.0,0.0,NaN,23.0,24.0,24.0,False
5864713,1112476995,96XxkQZ,0,MASC,32.0,-,-,-,-,Abandonado,...,False,False,True,8.0,0.0,NaN,0.0,7.0,7.0,False
2285441,1112397910,aVP545,1,FEM,25.0,-,-,-,-,-,...,False,True,False,11.0,0.0,NaN,6.0,11.0,11.0,False
1350232,1112224529,KBzB5WA,0,FEM,30.0,-,-,-,-,-,...,True,False,False,13.0,0.0,NaN,2.0,1.0,1.0,False
525072,1112458438,1QdeVOQ,0,MASC,38.0,-,-,-,-,Graduado,...,False,True,False,28.0,0.0,NaN,0.0,22.0,22.0,False

In [27]:
postulaciones_area = postulaciones.groupby(['idpostulante','nombre_area'],as_index=False).agg({'sepostulo':'count'})
postulaciones_tipo= postulaciones.groupby(['idpostulante','tipo_de_trabajo'],as_index=False).agg({'sepostulo':'count'})
postulaciones_nivel =postulaciones.groupby(['idpostulante','nivel_laboral'],as_index=False).agg({'sepostulo':'count'})
postulaciones_area=postulaciones_area.rename(columns={'sepostulo':'postulaciones_misma_area'})
postulaciones_tipo=postulaciones_tipo.rename(columns={'sepostulo':'postulaciones_mismo_tipo'})
postulaciones_nivel=postulaciones_nivel.rename(columns={'sepostulo':'postulaciones_mismo_nivel'})

In [28]:
postulaciones.head()

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,ofrece_beneficios,obra_social,multinacional,vistas_postulante,vistas_al_aviso,cantidad,vistas_por_area,vistas_por_tipo,vistas_por_nivel,lo_vio
0,1112489014,65x3rR,0,FEM,30.0,-,-,-,-,-,...,False,False,False,1.0,0.0,NaN,0.0,0.0,0.0,False
1,1112489014,2zw4z3v,0,FEM,38.0,-,-,-,En Curso,Graduado,...,False,False,False,13.0,0.0,NaN,1.0,10.0,10.0,False
2,1112489014,LNK8NDw,0,NO_DECLARA,23.0,-,-,-,-,-,...,False,False,False,7.0,0.0,NaN,0.0,5.0,5.0,False
3,1112489014,8MPK0VL,0,FEM,25.0,-,-,-,-,-,...,False,False,False,3.0,0.0,NaN,0.0,3.0,3.0,False
4,1112489014,BmZGBYL,0,FEM,25.0,-,-,-,-,-,...,False,False,False,NaN,0.0,NaN,0.0,0.0,0.0,False

In [29]:
postulaciones=pd.merge(postulaciones,postulaciones_area,on=['idpostulante','nombre_area'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
postulaciones=pd.merge(postulaciones,postulaciones_nivel,on=['idpostulante','nivel_laboral'],how='left')
postulaciones['postulaciones_misma_area']=postulaciones['postulaciones_misma_area'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_nivel']=postulaciones['postulaciones_mismo_nivel'].fillna(0).apply(lambda x: x if(x<=0) else x-1)
postulaciones['postulaciones_mismo_tipo']=postulaciones['postulaciones_mismo_tipo'].fillna(0).apply(lambda x: x if(x<=0) else x-1)

In [30]:
postulaciones.sample(10)

,idaviso,idpostulante,sepostulo,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,vistas_postulante,vistas_al_aviso,cantidad,vistas_por_area,vistas_por_tipo,vistas_por_nivel,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel
2173188,1112433534,BmDvKXL,0,MASC,25.0,-,-,-,-,Graduado,...,NaN,0.0,NaN,0.0,0.0,0.0,False,1,12,3
4162386,1112362954,JBdrk2p,0,FEM,36.0,-,-,-,-,En Curso,...,1.0,0.0,NaN,0.0,1.0,1.0,False,0,3,0
5442675,1112493522,lDwlxVG,0,FEM,33.0,-,-,En Curso,-,Graduado,...,1.0,0.0,NaN,0.0,1.0,1.0,False,0,7,5
1145194,1112452360,jkjKDKY,1,MASC,26.0,-,-,-,-,Abandonado,...,146.0,1.0,0.006849,10.0,134.0,134.0,True,4,53,44
2549414,1112265650,Rz9jzOO,1,FEM,23.0,-,-,-,-,Graduado,...,1.0,0.0,NaN,0.0,1.0,1.0,False,25,80,66
6368826,1112495510,YV3d31,0,FEM,43.0,-,-,-,-,-,...,1.0,0.0,NaN,0.0,1.0,1.0,False,0,8,2
5214275,1112228625,2zNdMQx,0,FEM,38.0,-,-,-,-,Graduado,...,2.0,0.0,NaN,0.0,1.0,1.0,False,0,5,4
1664115,1112406572,owa6Pmr,1,FEM,27.0,-,-,-,-,-,...,65.0,0.0,NaN,4.0,40.0,40.0,False,4,24,14
798282,1112214523,vV3z3XX,1,MASC,33.0,-,-,-,-,Graduado,...,136.0,1.0,0.007353,64.0,125.0,125.0,True,52,78,55
5051960,1112268218,1BROWb,0,MASC,40.0,-,-,-,-,-,...,NaN,0.0,NaN,0.0,0.0,0.0,False,0,5,3

In [31]:
train, test=train_test_split(postulaciones,test_size=0.10)
print("Train: ",len(train),"Test: ",len(test))
features=list(postulaciones.columns)
features.remove('idaviso')
features.remove('idpostulante')
features.remove('sepostulo')
features.remove('titulo')
features.remove('denominacion_empresa')


x_train=train[features]
y_train=train['sepostulo']

x_test=test[features]
y_test=test['sepostulo']

postulaciones=0

gc.collect()

Train:  5754526 Test:  639392

98

In [32]:
model = LGBMClassifier(learning_rate=0.05,objective='binary',num_leaves=12000,max_depth=18,n_estimators=1200,colsample_bytree=0.8,n_jobs=-1,random_state=0,silent=False,subsample=0.8,sumsample_freq=0.5)

dt=model.fit(x_train,y_train,eval_set=[(x_test,y_test)],verbose=True,early_stopping_rounds=5)

[1]	valid_0's binary_logloss: 0.661244
Training until validation scores don't improve for 5 rounds.
[2]	valid_0's binary_logloss: 0.631444
[3]	valid_0's binary_logloss: 0.603425
[4]	valid_0's binary_logloss: 0.577614
[5]	valid_0's binary_logloss: 0.556091
[6]	valid_0's binary_logloss: 0.534252
[7]	valid_0's binary_logloss: 0.515595
[8]	valid_0's binary_logloss: 0.49842
[9]	valid_0's binary_logloss: 0.481697
[10]	valid_0's binary_logloss: 0.465468
[11]	valid_0's binary_logloss: 0.450445
[12]	valid_0's binary_logloss: 0.436493
[13]	valid_0's binary_logloss: 0.423586
[14]	valid_0's binary_logloss: 0.412146
[15]	valid_0's binary_logloss: 0.40383
[16]	valid_0's binary_logloss: 0.392987
[17]	valid_0's binary_logloss: 0.384269
[18]	valid_0's binary_logloss: 0.374607
[19]	valid_0's binary_logloss: 0.36607
[20]	valid_0's binary_logloss: 0.35762
[21]	valid_0's binary_logloss: 0.349606
[22]	valid_0's binary_logloss: 0.34209
[23]	valid_0's binary_logloss: 0.335142
[24]	valid_0's binary_logloss: 0.328414
[25]	valid_0's binary_logloss: 0.322896
[26]	valid_0's binary_logloss: 0.317723
[27]	valid_0's binary_logloss: 0.312072
[28]	valid_0's binary_logloss: 0.307118
[29]	valid_0's binary_logloss: 0.30182
[30]	valid_0's binary_logloss: 0.29744
[31]	valid_0's binary_logloss: 0.292813
[32]	valid_0's binary_logloss: 0.288775
[33]	valid_0's binary_logloss: 0.284819
[34]	valid_0's binary_logloss: 0.281617
[35]	valid_0's binary_logloss: 0.277955
[36]	valid_0's binary_logloss: 0.274548
[37]	valid_0's binary_logloss: 0.271169
[38]	valid_0's binary_logloss: 0.26855
[39]	valid_0's binary_logloss: 0.265551
[40]	valid_0's binary_logloss: 0.262783
[41]	valid_0's binary_logloss: 0.260125
[42]	valid_0's binary_logloss: 0.257634
[43]	valid_0's binary_logloss: 0.255282
[44]	valid_0's binary_logloss: 0.253437
[45]	valid_0's binary_logloss: 0.251176
[46]	valid_0's binary_logloss: 0.249433
[47]	valid_0's binary_logloss: 0.247381
[48]	valid_0's binary_logloss: 0.245624
[49]	valid_0's binary_logloss: 0.244015
[50]	valid_0's binary_logloss: 0.242416
[51]	valid_0's binary_logloss: 0.24114
[52]	valid_0's binary_logloss: 0.239865
[53]	valid_0's binary_logloss: 0.238221
[54]	valid_0's binary_logloss: 0.236462
[55]	valid_0's binary_logloss: 0.234845
[56]	valid_0's binary_logloss: 0.233265
[57]	valid_0's binary_logloss: 0.232158
[58]	valid_0's binary_logloss: 0.231064
[59]	valid_0's binary_logloss: 0.229708
[60]	valid_0's binary_logloss: 0.228402
[61]	valid_0's binary_logloss: 0.227375
[62]	valid_0's binary_logloss: 0.226017
[63]	valid_0's binary_logloss: 0.224883
[64]	valid_0's binary_logloss: 0.223998
[65]	valid_0's binary_logloss: 0.222988
[66]	valid_0's binary_logloss: 0.221999
[67]	valid_0's binary_logloss: 0.22119
[68]	valid_0's binary_logloss: 0.220277
[69]	valid_0's binary_logloss: 0.219477
[70]	valid_0's binary_logloss: 0.218736
[71]	valid_0's binary_logloss: 0.217989
[72]	valid_0's binary_logloss: 0.217227
[73]	valid_0's binary_logloss: 0.216672
[74]	valid_0's binary_logloss: 0.215791
[75]	valid_0's binary_logloss: 0.21521
[76]	valid_0's binary_logloss: 0.214747
[77]	valid_0's binary_logloss: 0.214076
[78]	valid_0's binary_logloss: 0.21331
[79]	valid_0's binary_logloss: 0.212942
[80]	valid_0's binary_logloss: 0.21245
[81]	valid_0's binary_logloss: 0.212012
[82]	valid_0's binary_logloss: 0.211447
[83]	valid_0's binary_logloss: 0.211151
[84]	valid_0's binary_logloss: 0.210634
[85]	valid_0's binary_logloss: 0.210082
[86]	valid_0's binary_logloss: 0.209559
[87]	valid_0's binary_logloss: 0.208802
[88]	valid_0's binary_logloss: 0.208089
[89]	valid_0's binary_logloss: 0.207764
[90]	valid_0's binary_logloss: 0.207464
[91]	valid_0's binary_logloss: 0.206952
[92]	valid_0's binary_logloss: 0.206706
[93]	valid_0's binary_logloss: 0.206187
[94]	valid_0's binary_logloss: 0.205497
[95]	valid_0's binary_logloss: 0.205067
[96]	valid_0's binary_logloss: 0.204466
[97]	valid_0's binary_logloss: 0.204277
[98]	valid_0's binary_logloss: 0.203829
[99]	valid_0's binary_logloss: 0.203184
[100]	valid_0's binary_logloss: 0.202682
[101]	valid_0's binary_logloss: 0.202412
[102]	valid_0's binary_logloss: 0.202108
[103]	valid_0's binary_logloss: 0.201669
[104]	valid_0's binary_logloss: 0.201145
[105]	valid_0's binary_logloss: 0.200956
[106]	valid_0's binary_logloss: 0.200682
[107]	valid_0's binary_logloss: 0.200218
[108]	valid_0's binary_logloss: 0.199922
[109]	valid_0's binary_logloss: 0.199581
[110]	valid_0's binary_logloss: 0.199169
[111]	valid_0's binary_logloss: 0.198796
[112]	valid_0's binary_logloss: 0.198352
[113]	valid_0's binary_logloss: 0.198048
[114]	valid_0's binary_logloss: 0.197892
[115]	valid_0's binary_logloss: 0.197672
[116]	valid_0's binary_logloss: 0.19735
[117]	valid_0's binary_logloss: 0.19704
[118]	valid_0's binary_logloss: 0.196857
[119]	valid_0's binary_logloss: 0.196516
[120]	valid_0's binary_logloss: 0.196086
[121]	valid_0's binary_logloss: 0.195941
[122]	valid_0's binary_logloss: 0.19552
[123]	valid_0's binary_logloss: 0.195175
[124]	valid_0's binary_logloss: 0.194898
[125]	valid_0's binary_logloss: 0.19463
[126]	valid_0's binary_logloss: 0.194255
[127]	valid_0's binary_logloss: 0.194087
[128]	valid_0's binary_logloss: 0.193917
[129]	valid_0's binary_logloss: 0.193722
[130]	valid_0's binary_logloss: 0.193489
[131]	valid_0's binary_logloss: 0.193339
[132]	valid_0's binary_logloss: 0.193215
[133]	valid_0's binary_logloss: 0.193
[134]	valid_0's binary_logloss: 0.192802
[135]	valid_0's binary_logloss: 0.19262
[136]	valid_0's binary_logloss: 0.192218
[137]	valid_0's binary_logloss: 0.19208
[138]	valid_0's binary_logloss: 0.191657
[139]	valid_0's binary_logloss: 0.191546
[140]	valid_0's binary_logloss: 0.191264
[141]	valid_0's binary_logloss: 0.190927
[142]	valid_0's binary_logloss: 0.19074
[143]	valid_0's binary_logloss: 0.190419
[144]	valid_0's binary_logloss: 0.190144
[145]	valid_0's binary_logloss: 0.189947
[146]	valid_0's binary_logloss: 0.189774
[147]	valid_0's binary_logloss: 0.189513
[148]	valid_0's binary_logloss: 0.189275
[149]	valid_0's binary_logloss: 0.189171
[150]	valid_0's binary_logloss: 0.189008
[151]	valid_0's binary_logloss: 0.188715
[152]	valid_0's binary_logloss: 0.188556
[153]	valid_0's binary_logloss: 0.188357
[154]	valid_0's binary_logloss: 0.1882
[155]	valid_0's binary_logloss: 0.188047
[156]	valid_0's binary_logloss: 0.18797
[157]	valid_0's binary_logloss: 0.187655
[158]	valid_0's binary_logloss: 0.187511
[159]	valid_0's binary_logloss: 0.187413
[160]	valid_0's binary_logloss: 0.187193
[161]	valid_0's binary_logloss: 0.186818
[162]	valid_0's binary_logloss: 0.186678
[163]	valid_0's binary_logloss: 0.186463
[164]	valid_0's binary_logloss: 0.186278
[165]	valid_0's binary_logloss: 0.185975
[166]	valid_0's binary_logloss: 0.185831
[167]	valid_0's binary_logloss: 0.185694
[168]	valid_0's binary_logloss: 0.185443
[169]	valid_0's binary_logloss: 0.185278
[170]	valid_0's binary_logloss: 0.185087
[171]	valid_0's binary_logloss: 0.18489
[172]	valid_0's binary_logloss: 0.184666
[173]	valid_0's binary_logloss: 0.184405
[174]	valid_0's binary_logloss: 0.184294
[175]	valid_0's binary_logloss: 0.184196
[176]	valid_0's binary_logloss: 0.184087
[177]	valid_0's binary_logloss: 0.183893
[178]	valid_0's binary_logloss: 0.183808
[179]	valid_0's binary_logloss: 0.183702
[180]	valid_0's binary_logloss: 0.18332
[181]	valid_0's binary_logloss: 0.183147
[182]	valid_0's binary_logloss: 0.182854
[183]	valid_0's binary_logloss: 0.182503
[184]	valid_0's binary_logloss: 0.182435
[185]	valid_0's binary_logloss: 0.182128
[186]	valid_0's binary_logloss: 0.182023
[187]	valid_0's binary_logloss: 0.181902
[188]	valid_0's binary_logloss: 0.181431
[189]	valid_0's binary_logloss: 0.181392
[190]	valid_0's binary_logloss: 0.181217
[191]	valid_0's binary_logloss: 0.180857
[192]	valid_0's binary_logloss: 0.180515
[193]	valid_0's binary_logloss: 0.180371
[194]	valid_0's binary_logloss: 0.180146
[195]	valid_0's binary_logloss: 0.179887
[196]	valid_0's binary_logloss: 0.179829
[197]	valid_0's binary_logloss: 0.179661
[198]	valid_0's binary_logloss: 0.179557
[199]	valid_0's binary_logloss: 0.179294
[200]	valid_0's binary_logloss: 0.179177
[201]	valid_0's binary_logloss: 0.178762
[202]	valid_0's binary_logloss: 0.17857
[203]	valid_0's binary_logloss: 0.178506
[204]	valid_0's binary_logloss: 0.17843
[205]	valid_0's binary_logloss: 0.178227
[206]	valid_0's binary_logloss: 0.178
[207]	valid_0's binary_logloss: 0.177823
[208]	valid_0's binary_logloss: 0.177698
[209]	valid_0's binary_logloss: 0.177605
[210]	valid_0's binary_logloss: 0.177333
[211]	valid_0's binary_logloss: 0.17726
[212]	valid_0's binary_logloss: 0.177133
[213]	valid_0's binary_logloss: 0.176779
[214]	valid_0's binary_logloss: 0.176668
[215]	valid_0's binary_logloss: 0.176548
[216]	valid_0's binary_logloss: 0.17652
[217]	valid_0's binary_logloss: 0.176407
[218]	valid_0's binary_logloss: 0.176171
[219]	valid_0's binary_logloss: 0.176101
[220]	valid_0's binary_logloss: 0.175837
[221]	valid_0's binary_logloss: 0.17571
[222]	valid_0's binary_logloss: 0.175563
[223]	valid_0's binary_logloss: 0.175501
[224]	valid_0's binary_logloss: 0.175435
[225]	valid_0's binary_logloss: 0.175342
[226]	valid_0's binary_logloss: 0.175286
[227]	valid_0's binary_logloss: 0.175253
[228]	valid_0's binary_logloss: 0.175093
[229]	valid_0's binary_logloss: 0.175042
[230]	valid_0's binary_logloss: 0.174919
[231]	valid_0's binary_logloss: 0.17488
[232]	valid_0's binary_logloss: 0.174577
[233]	valid_0's binary_logloss: 0.174533
[234]	valid_0's binary_logloss: 0.174414
[235]	valid_0's binary_logloss: 0.174232
[236]	valid_0's binary_logloss: 0.174197
[237]	valid_0's binary_logloss: 0.174099
[238]	valid_0's binary_logloss: 0.174041
[239]	valid_0's binary_logloss: 0.173959
[240]	valid_0's binary_logloss: 0.173742
[241]	valid_0's binary_logloss: 0.173659
[242]	valid_0's binary_logloss: 0.173438
[243]	valid_0's binary_logloss: 0.17335
[244]	valid_0's binary_logloss: 0.173269
[245]	valid_0's binary_logloss: 0.173194
[246]	valid_0's binary_logloss: 0.173028
[247]	valid_0's binary_logloss: 0.172999
[248]	valid_0's binary_logloss: 0.17298
[249]	valid_0's binary_logloss: 0.172904
[250]	valid_0's binary_logloss: 0.172819
[251]	valid_0's binary_logloss: 0.172777
[252]	valid_0's binary_logloss: 0.172582
[253]	valid_0's binary_logloss: 0.172431
[254]	valid_0's binary_logloss: 0.172331
[255]	valid_0's binary_logloss: 0.172193
[256]	valid_0's binary_logloss: 0.172183
[257]	valid_0's binary_logloss: 0.1721
[258]	valid_0's binary_logloss: 0.172061
[259]	valid_0's binary_logloss: 0.17194
[260]	valid_0's binary_logloss: 0.171835
[261]	valid_0's binary_logloss: 0.171656
[262]	valid_0's binary_logloss: 0.17159
[263]	valid_0's binary_logloss: 0.171191
[264]	valid_0's binary_logloss: 0.171117
[265]	valid_0's binary_logloss: 0.171113
[266]	valid_0's binary_logloss: 0.171099
[267]	valid_0's binary_logloss: 0.171049
[268]	valid_0's binary_logloss: 0.171041
[269]	valid_0's binary_logloss: 0.171031
[270]	valid_0's binary_logloss: 0.170938
[271]	valid_0's binary_logloss: 0.170916
[272]	valid_0's binary_logloss: 0.170887
[273]	valid_0's binary_logloss: 0.170825
[274]	valid_0's binary_logloss: 0.170765
[275]	valid_0's binary_logloss: 0.170678
[276]	valid_0's binary_logloss: 0.170662
[277]	valid_0's binary_logloss: 0.170438
[278]	valid_0's binary_logloss: 0.170378
[279]	valid_0's binary_logloss: 0.170324
[280]	valid_0's binary_logloss: 0.170208
[281]	valid_0's binary_logloss: 0.1702
[282]	valid_0's binary_logloss: 0.170176
[283]	valid_0's binary_logloss: 0.170052
[284]	valid_0's binary_logloss: 0.169988
[285]	valid_0's binary_logloss: 0.169952
[286]	valid_0's binary_logloss: 0.169928
[287]	valid_0's binary_logloss: 0.169853
[288]	valid_0's binary_logloss: 0.169792
[289]	valid_0's binary_logloss: 0.169659
[290]	valid_0's binary_logloss: 0.16964
[291]	valid_0's binary_logloss: 0.16959
[292]	valid_0's binary_logloss: 0.169466
[293]	valid_0's binary_logloss: 0.169346
[294]	valid_0's binary_logloss: 0.169176
[295]	valid_0's binary_logloss: 0.169173
[296]	valid_0's binary_logloss: 0.169092
[297]	valid_0's binary_logloss: 0.16905
[298]	valid_0's binary_logloss: 0.16901
[299]	valid_0's binary_logloss: 0.168949
[300]	valid_0's binary_logloss: 0.168895
[301]	valid_0's binary_logloss: 0.16873
[302]	valid_0's binary_logloss: 0.168718
[303]	valid_0's binary_logloss: 0.168705
[304]	valid_0's binary_logloss: 0.168628
[305]	valid_0's binary_logloss: 0.168514
[306]	valid_0's binary_logloss: 0.168465
[307]	valid_0's binary_logloss: 0.168405
[308]	valid_0's binary_logloss: 0.168367
[309]	valid_0's binary_logloss: 0.168371
[310]	valid_0's binary_logloss: 0.168263
[311]	valid_0's binary_logloss: 0.168165
[312]	valid_0's binary_logloss: 0.168081
[313]	valid_0's binary_logloss: 0.168028
[314]	valid_0's binary_logloss: 0.167949
[315]	valid_0's binary_logloss: 0.167928
[316]	valid_0's binary_logloss: 0.167919
[317]	valid_0's binary_logloss: 0.167899
[318]	valid_0's binary_logloss: 0.167881
[319]	valid_0's binary_logloss: 0.167859
[320]	valid_0's binary_logloss: 0.167781
[321]	valid_0's binary_logloss: 0.167773
[322]	valid_0's binary_logloss: 0.16776
[323]	valid_0's binary_logloss: 0.167737
[324]	valid_0's binary_logloss: 0.167739
[325]	valid_0's binary_logloss: 0.167718
[326]	valid_0's binary_logloss: 0.167699
[327]	valid_0's binary_logloss: 0.167634
[328]	valid_0's binary_logloss: 0.167524
[329]	valid_0's binary_logloss: 0.167487
[330]	valid_0's binary_logloss: 0.167343
[331]	valid_0's binary_logloss: 0.167296
[332]	valid_0's binary_logloss: 0.167283
[333]	valid_0's binary_logloss: 0.167224
[334]	valid_0's binary_logloss: 0.167178
[335]	valid_0's binary_logloss: 0.167157
[336]	valid_0's binary_logloss: 0.167157
[337]	valid_0's binary_logloss: 0.167059
[338]	valid_0's binary_logloss: 0.166991
[339]	valid_0's binary_logloss: 0.166958
[340]	valid_0's binary_logloss: 0.166901
[341]	valid_0's binary_logloss: 0.166901
[342]	valid_0's binary_logloss: 0.166891
[343]	valid_0's binary_logloss: 0.166859
[344]	valid_0's binary_logloss: 0.166814
[345]	valid_0's binary_logloss: 0.166792
[346]	valid_0's binary_logloss: 0.166795
[347]	valid_0's binary_logloss: 0.166782
[348]	valid_0's binary_logloss: 0.166655
[349]	valid_0's binary_logloss: 0.166619
[350]	valid_0's binary_logloss: 0.166573
[351]	valid_0's binary_logloss: 0.166583
[352]	valid_0's binary_logloss: 0.166586
[353]	valid_0's binary_logloss: 0.16654
[354]	valid_0's binary_logloss: 0.166527
[355]	valid_0's binary_logloss: 0.166508
[356]	valid_0's binary_logloss: 0.166497
[357]	valid_0's binary_logloss: 0.166479
[358]	valid_0's binary_logloss: 0.166442
[359]	valid_0's binary_logloss: 0.166394
[360]	valid_0's binary_logloss: 0.166288
[361]	valid_0's binary_logloss: 0.166264
[362]	valid_0's binary_logloss: 0.166267
[363]	valid_0's binary_logloss: 0.16627
[364]	valid_0's binary_logloss: 0.166265
[365]	valid_0's binary_logloss: 0.166262
[366]	valid_0's binary_logloss: 0.166208
[367]	valid_0's binary_logloss: 0.166178
[368]	valid_0's binary_logloss: 0.166178
[369]	valid_0's binary_logloss: 0.166177
[370]	valid_0's binary_logloss: 0.166144
[371]	valid_0's binary_logloss: 0.166035
[372]	valid_0's binary_logloss: 0.166037
[373]	valid_0's binary_logloss: 0.165942
[374]	valid_0's binary_logloss: 0.165949
[375]	valid_0's binary_logloss: 0.165959
[376]	valid_0's binary_logloss: 0.165954
[377]	valid_0's binary_logloss: 0.165933
[378]	valid_0's binary_logloss: 0.165886
[379]	valid_0's binary_logloss: 0.165827
[380]	valid_0's binary_logloss: 0.165785
[381]	valid_0's binary_logloss: 0.165763
[382]	valid_0's binary_logloss: 0.165736
[383]	valid_0's binary_logloss: 0.16572
[384]	valid_0's binary_logloss: 0.165684
[385]	valid_0's binary_logloss: 0.165664
[386]	valid_0's binary_logloss: 0.165646
[387]	valid_0's binary_logloss: 0.165652
[388]	valid_0's binary_logloss: 0.165637
[389]	valid_0's binary_logloss: 0.165618
[390]	valid_0's binary_logloss: 0.165569
[391]	valid_0's binary_logloss: 0.16549
[392]	valid_0's binary_logloss: 0.165506
[393]	valid_0's binary_logloss: 0.16551
[394]	valid_0's binary_logloss: 0.165504
[395]	valid_0's binary_logloss: 0.165508
[396]	valid_0's binary_logloss: 0.165509
Early stopping, best iteration is:
[391]	valid_0's binary_logloss: 0.16549

In [37]:
from sklearn.metrics import roc_auc_score
x_final=x_test[features]
y_final=model.predict_proba(x_final)
y_pred=[]
for elem in y_final:
    y_pred.append(elem[1])
score=roc_auc_score(y_test, y_pred)
print(score)

0.9831331129001821

In [38]:
joblib.dump(model, "Data/fiuba_entrenamiento/pocho/modelos/MegaLGBM1.pkl")

['Data/fiuba_entrenamiento/pocho/modelos/MegaLGBM1.pkl']

In [ ]:
vistas3.head()

In [44]:
prediccion = pd.read_csv("Data/fiuba_entrenamiento/test_final_100k.csv")
prediccion = pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
prediccion = pd.merge(prediccion,avisos,on='idaviso',how='inner')
prediccion = pd.merge(prediccion,vistas,on='idpostulante',how='left')
prediccion.sample(10)


prediccion=pd.merge(prediccion,vistas2,on=['idaviso','idpostulante'],how='left')
prediccion=pd.merge(prediccion,vistas3,on=['idaviso','idpostulante'],how='left')
prediccion['cantidad']=prediccion['cantidad'].fillna(0)
prediccion['vistas_postulante']=prediccion['vistas_postulante'].fillna(0)
prediccion['vistas_al_aviso']=prediccion['vistas_al_aviso'].fillna(0)
prediccion['lo_vio']=(prediccion['vistas_al_aviso']>0)

prediccion=pd.merge(prediccion,postulaciones_area,on=['idpostulante','nombre_area'],how='left')
prediccion=pd.merge(prediccion,postulaciones_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,postulaciones_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion=pd.merge(prediccion,vistas_area,on=['idpostulante','nombre_area'],how='left')
prediccion=pd.merge(prediccion,vistas_tipo,on=['idpostulante','tipo_de_trabajo'],how='left')
prediccion=pd.merge(prediccion,vistas_nivel,on=['idpostulante','nivel_laboral'],how='left')
prediccion['vistas_por_area']=prediccion['vistas_por_area'].fillna(0)
prediccion['vistas_por_tipo']=prediccion['vistas_por_tipo'].fillna(0)
prediccion['vistas_por_nivel']=prediccion['vistas_por_tipo'].fillna(0)
prediccion['postulaciones_misma_area']=prediccion['postulaciones_misma_area'].fillna(0)
prediccion['postulaciones_mismo_nivel']=prediccion['postulaciones_mismo_nivel'].fillna(0)
prediccion['postulaciones_mismo_tipo']=prediccion['postulaciones_mismo_tipo'].fillna(0)
prediccion.sample(10)

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,vistas_postulante,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel
85860,35316,1112410217,50R2w,FEM,42.0,-,-,-,-,Graduado,...,92.0,0.0,0.000000,False,0.0,15.0,12.0,1.0,80.0,80.0
81536,29273,1112370444,6Aa8Z3,FEM,34.0,-,-,Graduado,-,-,...,12.0,0.0,0.000000,False,0.0,9.0,10.0,0.0,8.0,8.0
64464,12155,1111984880,eVmKWB,MASC,34.0,-,-,-,-,-,...,13.0,0.0,0.000000,False,1.0,25.0,12.0,1.0,11.0,11.0
40077,57876,1112451947,KBA1eNd,MASC,26.0,-,-,-,-,Graduado,...,41.0,0.0,0.000000,False,4.0,46.0,32.0,3.0,41.0,41.0
55835,47112,1112431087,qekjzpL,FEM,25.0,-,-,En Curso,-,Graduado,...,131.0,1.0,0.007634,True,33.0,75.0,17.0,40.0,94.0,94.0
2925,74778,1112463897,wVkrVpQ,FEM,23.0,-,-,-,-,Abandonado,...,117.0,1.0,0.008547,True,4.0,13.0,10.0,37.0,63.0,63.0
2285,173,1731810,8BrRZL,MASC,34.0,-,En Curso,-,-,Graduado,...,3.0,0.0,0.000000,False,0.0,7.0,1.0,0.0,3.0,3.0
99894,99879,1112514169,50RedM,FEM,35.0,-,-,-,-,-,...,8.0,0.0,0.000000,False,0.0,9.0,8.0,0.0,8.0,8.0
38833,3761,1111413600,KBrqzKq,FEM,26.0,-,-,-,-,Graduado,...,24.0,1.0,0.041667,True,6.0,6.0,3.0,9.0,8.0,8.0
2856,74763,1112463897,awWwV9,FEM,36.0,-,-,-,-,-,...,73.0,1.0,0.013699,True,5.0,9.0,8.0,21.0,39.0,39.0

In [45]:
x_final=prediccion[features]
y_final=model.predict_proba(x_final)
y_final2=[]
print(model.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

prediccion['sepostulo']=y_final2
prediccion.head()

[0 1]
100000
100000

,id,idaviso,idpostulante,sexo,edad,Doctorado,Master,Otro,Posgrado,Secundario,...,vistas_al_aviso,cantidad,lo_vio,postulaciones_misma_area,postulaciones_mismo_tipo,postulaciones_mismo_nivel,vistas_por_area,vistas_por_tipo,vistas_por_nivel,sepostulo
0,0,739260,6M9ZQR,FEM,42.0,Graduado,-,-,-,Graduado,...,0.0,0.0,False,0.0,3.0,0.0,3.0,20.0,20.0,0.010660
1,1,739260,6v1xdL,MASC,30.0,-,-,Graduado,-,-,...,0.0,0.0,False,3.0,25.0,0.0,0.0,3.0,3.0,0.230727
2,2,739260,ezRKm9,FEM,36.0,-,-,-,-,Graduado,...,0.0,0.0,False,1.0,10.0,0.0,1.0,6.0,6.0,0.057789
3,3,758580,1Q35ej,MASC,68.0,-,-,-,Graduado,Graduado,...,0.0,0.0,False,0.0,9.0,0.0,0.0,0.0,0.0,0.002264
4,4,758580,EAN4J6,FEM,32.0,-,-,-,-,-,...,0.0,0.0,False,0.0,7.0,2.0,0.0,1.0,1.0,0.003077

In [46]:
prediccion=prediccion[['id','sepostulo']]
print(prediccion.sepostulo.mean())
prediccion.head()

0.5002451669620064

   id  sepostulo
0   0   0.010660
1   1   0.230727
2   2   0.057789
3   3   0.002264
4   4   0.003077

In [47]:
prediccion.to_csv("Data/fiuba_entrenamiento/pocho/predicciones/mega-lgbm1.csv",index=False)