In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

%matplotlib inline

In [2]:
plt.rc('figure',dpi=100);

In [3]:
postulaciones = pd.read_csv("../../Data/datos_navent_fiuba/fiuba_4_postulaciones.csv")
postulaciones_hasta = pd.read_csv("../../Data/fiuba_hasta_15_de_abril/fiuba_4_postulaciones.csv")
postulaciones_concat = pd.concat([postulaciones, postulaciones_hasta], axis=0,ignore_index=True);
postulaciones_concat.drop_duplicates(inplace=True)

In [4]:
postulaciones_concat['fechapostulacion'].value_counts()

2018-01-17 06:46:57    29
2018-01-17 06:43:23    25
2018-01-17 07:03:36    25
2018-01-16 06:27:58    23
2018-01-15 13:44:55    22
2018-01-17 07:00:21    21
2018-01-16 12:53:22    19
2018-01-16 12:53:29    19
2018-01-17 06:26:41    19
2018-01-17 06:44:50    18
2018-01-15 13:45:04    18
2018-01-15 13:26:59    18
2018-01-17 07:04:44    18
2018-01-17 07:13:34    16
2018-01-17 07:02:48    15
2018-01-16 06:27:10    15
2018-01-17 07:00:22    15
2018-01-16 12:19:30    15
2018-01-17 06:45:37    14
2018-01-17 06:27:55    14
2018-01-17 07:05:07    14
2018-01-17 07:00:44    13
2018-01-17 06:58:34    13
2018-01-23 09:12:30    13
2018-01-15 13:43:45    13
2018-01-15 06:57:19    13
2018-01-17 07:07:34    12
2018-02-27 09:14:28    12
2018-02-26 08:54:00    12
2018-01-18 10:46:20    12
                       ..
2018-03-07 06:30:06     1
2018-02-01 07:05:15     1
2018-02-06 05:13:57     1
2018-01-16 06:59:42     1
2018-01-21 20:23:22     1
2018-02-18 22:20:29     1
2018-01-28 23:00:57     1
2018-01-30 07:21:26     1
2018-02-20 07:22:23     1
2018-01-27 15:51:08     1
2018-02-15 14:27:20     1
2018-02-24 20:11:00     1
2018-01-18 17:17:24     1
2018-02-06 09:36:19     1
2018-03-02 23:01:40     1
2018-04-01 08:34:08     1
2018-03-13 00:50:30     1
2018-02-01 14:53:08     1
2018-03-27 18:07:33     1
2018-04-03 10:48:38     1
2018-01-19 12:41:59     1
2018-02-26 07:22:37     1
2018-01-22 02:07:08     1
2018-03-02 13:07:25     1
2018-02-21 01:21:14     1
2018-04-02 19:32:29     1
2018-03-01 15:16:58     1
2018-02-26 13:13:29     1
2018-03-22 21:54:13     1
2018-01-25 06:25:40     1
Name: fechapostulacion, Length: 3856401, dtype: int64

In [5]:
postulantes_educacion = pd.read_csv("../../Data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv")
postulantes_educacion_hasta = pd.read_csv("../../Data/fiuba_hasta_15_de_abril/fiuba_1_postulantes_educacion.csv")
postulantes_educacion_desde = pd.read_csv("../../Data/fiuba_desde_15_de_abril/fiuba_1_postulantes_educacion.csv")
postulantes_educacion_concat = pd.concat([postulantes_educacion, postulantes_educacion_hasta, postulantes_educacion_desde], axis=0,ignore_index=True);
print(postulantes_educacion_concat.duplicated().sum())

In [10]:
print(len(postulantes_educacion))
print(len(postulantes_educacion_hasta))
print(len(postulantes_educacion_desde))
print(len(postulantes_educacion_concat))

298231
407453
397509
693641

In [6]:
postulantes_educacion_concat.drop_duplicates(inplace=True, keep='first')
print(postulantes_educacion_concat.duplicated().sum())

0

In [7]:
postulantes_educacion_hasta.head()

  idpostulante         nombre    estado
0         ZjlZ         Master  En Curso
1         NdJl       Posgrado  En Curso
2         5kNq           Otro  En Curso
3         8rYD         Master  En Curso
4         1Wvj  Universitario  En Curso

In [8]:
postulantes_ge = pd.read_csv("../../Data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv")
postulantes_ge_hasta = pd.read_csv("../../Data/fiuba_hasta_15_de_abril/fiuba_2_postulantes_genero_y_edad.csv")
postulantes_ge_desde = pd.read_csv("../../Data/fiuba_desde_15_de_abril/fiuba_2_postulantes_genero_y_edad.csv")
postulantes_ge_concat = pd.concat([postulantes_ge, postulantes_ge_hasta, postulantes_ge_desde], axis=0,ignore_index=True);
print(postulantes_ge_concat.duplicated().sum())
postulantes_ge_concat.drop_duplicates(inplace=True, keep='first')
print(postulantes_ge_concat.duplicated().sum())

274638
0

In [9]:
print(len(postulantes_ge))
print(len(postulantes_ge_hasta))
print(len(postulantes_ge_desde))
print(len(postulantes_ge_concat))

200888
297747
281385
505382

In [9]:
vistas = pd.read_csv("../../Data/datos_navent_fiuba/fiuba_3_vistas.csv")
vistas_hasta = pd.read_csv("../../Data/fiuba_hasta_15_de_abril/fiuba_3_vistas.csv")
vistas_desde = pd.read_csv("../../Data/fiuba_desde_15_de_abril/fiuba_3_vistas.csv")
vistas_concat = pd.concat([vistas, vistas_hasta, vistas_desde], axis=0,ignore_index=True);
print(vistas_concat.duplicated().sum())
vistas_concat.drop_duplicates(inplace=True, keep='first');
print(vistas_concat.duplicated().sum())

1614515
0

In [10]:
vistas.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [14]:
avisos = pd.read_csv("../../Data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv")
avisos_hasta = pd.read_csv("../../Data/fiuba_hasta_15_de_abril/fiuba_6_avisos_detalle.csv")
avisos_desde = pd.read_csv("../../Data/fiuba_desde_15_de_abril/fiuba_6_avisos_detalle.csv")
avisos_desde_patch1 = pd.read_csv("../../Data/fiuba_desde_15_de_abril/fiuba_6_avisos_detalle_patch1.csv")
avisos_concat = pd.concat([avisos, avisos_hasta, avisos_desde, avisos_desde_patch1], axis=0,ignore_index=True);
print(avisos_concat.duplicated().sum())
avisos_concat.drop_duplicates(inplace=True, keep='first')
print(avisos_concat.duplicated().sum())

20068
0

In [16]:
postulaciones_concat.to_csv("../../Data/fiuba_entrenamiento/postulaciones_uri.csv",index=False)
vistas_concat.to_csv("../../Data/fiuba_entrenamiento/vistas_uri.csv",index=False)
avisos_concat.to_csv("../../Data/fiuba_entrenamiento/avisos_uri.csv",index=False)
postulantes_educacion_concat.to_csv("../../Data/fiuba_entrenamiento/postulantes_educacion_uri.csv",index=False)
postulantes_ge_concat.to_csv("../../Data/fiuba_entrenamiento/postulantes_ge_uri.csv",index=False)

In [15]:
print(len(vistas))
print(len(avisos_concat))

961897
25901