In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [3]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.externals import joblib

In [11]:
postulantes = pd.read_csv("postulantes_ampONEHOT.csv")

In [12]:
postulantes.head()

,Unnamed: 0,idpostulante,edad,Doctorado,Master,Posgrado,Secundario,Terciario/Técnico,Universitario,masculino,femenino,18_a_24,35_a_50,25_a_34,mayor_de_50
0,0,NM5M,47.0,False,False,False,True,False,False,False,True,False,True,False,False
1,1,5awk,55.0,False,False,False,True,True,True,False,True,False,False,False,True
2,2,ZaO5,39.0,False,False,False,False,True,False,False,True,False,True,False,False
3,3,NdJl,49.0,False,False,False,True,False,True,True,False,False,True,False,False
4,4,eo2p,37.0,False,True,False,True,False,True,True,False,False,True,False,False

In [4]:
avisos = pd.read_csv("avisos_ampONEHOT.csv")

In [5]:
len(avisos)

25288

In [15]:
postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/postulaciones.csv")
postulaciones['sepostulo']=1
postulaciones.drop(['fechapostulacion','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112257047         NM5M          1
1  1111920714         NM5M          1
2  1112346945         NM5M          1
3  1112345547         NM5M          1
4  1112237522         5awk          1

In [16]:
no_postulaciones = pd.read_csv("../../Data/fiuba_entrenamiento/gian/no-postulaciones/uri.csv")
no_postulaciones.head()

      idaviso idpostulante  sepostulo
0  1112514975      X9oarVv          0
1  1112284689      W9V4Zjm          0
2  1112295895      1QPwrrE          0
3  1112405319      dY5AqGb          0
4  1112432822      JBeYZvJ          0

In [17]:
print(len(no_postulaciones))
len(postulaciones)

13202177

6604534

In [18]:
postulaciones=postulaciones.append(no_postulaciones, ignore_index=True)
postulaciones.drop_duplicates(['idaviso','idpostulante'],keep='first',inplace=True)

In [6]:
vistas = pd.read_csv("../../Data/fiuba_entrenamiento/gian/vistas.csv")
vistas.head()

,idAviso,timestamp,idpostulante,dia,mes,semana,diadelasemana,hora
0,1111780242,2018-02-23 18:38:13.187,YjVJQ6Z,23,2,8,Viernes,18
1,1112263876,2018-02-23 18:38:14.296,BmVpYoR,23,2,8,Viernes,18
2,1112327963,2018-02-23 18:38:14.329,wVkBzZd,23,2,8,Viernes,18
3,1112318643,2018-02-23 18:38:17.921,OqmP9pv,23,2,8,Viernes,18
4,1111903673,2018-02-23 18:38:18.973,DrpbXDP,23,2,8,Viernes,18

In [7]:
len(vistas)

16754298

In [9]:
vistas.drop(['timestamp','dia','mes','semana','diadelasemana','hora'],axis=1,inplace=True)
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

      idaviso idpostulante
0  1111780242      YjVJQ6Z
1  1112263876      BmVpYoR
2  1112327963      wVkBzZd
3  1112318643      OqmP9pv
4  1111903673      DrpbXDP

In [10]:
vistas_por_area=vistas.copy()
vistas_por_area['vistas_por_area']=0

In [ ]:
vistas_por_area=pd.merge(vistas_por_area,avisos,on='idaviso', how='left')

In [ ]:
vistas_por_area=vistas_por_area.groupby(['idpostulante','nombre_area'],as_index=False).agg({'vistas_por_area':'count'})
vistas_por_area.head()

In [ ]:
vistas=vistas.groupby(['idpostulante'],as_index=False).agg({'cantidad':'count'});
vistas=vistas.rename(columns={'idAviso': 'idaviso'})
vistas.head()

In [2]:
vistas2=pd.merge(vistas2,vistas,on='idpostulante',how='left')
vistas2.head()

NameError: name 'pd' is not defined

In [3]:
vistas2['cantidad']=vistas2['cantidad_x']/vistas2['cantidad_y']
vistas2.drop(['cantidad_x','cantidad_y'],axis=1,inplace=True)
vistas=vistas2
vistas2.head()

NameError: name 'vistas2' is not defined

In [ ]:
vistas['cantidad'].value_counts()

In [ ]:
vistas['vio_anuncio'] = 1

In [ ]:
len(postulaciones)

In [ ]:
postulaciones = postulaciones.sample(n=2000000)

In [ ]:
postulaciones.sepostulo.sum()

In [ ]:
postulaciones=pd.merge(postulaciones,postulantes,on='idpostulante')

In [ ]:
postulaciones=pd.merge(postulaciones,avisos,on='idaviso')

In [ ]:
postulaciones=pd.merge(postulaciones,vistas,on=['idaviso','idpostulante'],how='left')

In [ ]:
def vio_anuncio(x, peso):
    return peso if x > 0 else 0

In [4]:
postulaciones['cantidad'] = postulaciones['cantidad'].fillna(0)

NameError: name 'postulaciones' is not defined

In [5]:
postulaciones['vio_anuncio'] = postulaciones['cantidad'].apply(lambda x: vio_anuncio(x,1))
postulaciones.head()

NameError: name 'postulaciones' is not defined

In [ ]:
postulaciones['vio_anuncio'].sum()

In [ ]:
postulaciones.drop(['Unnamed: 0_x','denominacion_empresa','Unnamed: 0_y'], axis=1, inplace=True)
postulaciones.head()

In [ ]:
postulaciones.drop(['idaviso','idpostulante','edad','cantidad'], inplace=True, axis=1)

In [ ]:
postulaciones.drop(['paquete_office','titulo_uppercase'], inplace=True, axis=1)

In [ ]:
postulaciones.dtypes

In [ ]:
postulaciones.drop(['full_time','part_time','teletrabajo','pasantia','empresa_importante','pide_hombre','pide_mujer'], inplace=True, axis=1 )

In [ ]:
#features = ['idaviso', 'idpostulante', 'sepostulo', 'edad', 'Doctorado', 'Master', 'Posgrado', 'Secundario', 'Terciario/Técnico', 'Universitario', 'nombre_area', 'pide_hombre', 'pide_mujer', 'ingles', 'experiencia', 'secundario', 'graduados', 'estudiantes', 'pide_vendedor', 'pide_administrativo', 'pide_tecnico', 'pide_analista', 'pide_comercial', 'pide_asistente', 'pide_ejecutivo', 'pide_ingeniero', 'pide_operario', 'pide_desarollador', 'cantidad', 'masculino', 'femenino', 'gran_BA', 'capital_f', 'fueraOeste_GBA', 'cordoba', 'full_time', 'part_time', 'teletrabajo', 'pasantia', 'senior', 'junior', 'jefe', 'gerente', 'ventas', 'admin', 'producc', 'comercial', 'at_cliente', 'conta', 'prog', 'tecno', 'telemrkt', 'teso', 'almacen', 'rrhh', 'limpieza']
features=list(postulaciones.columns)
features

In [ ]:
features.remove('sepostulo')
features

In [ ]:
from sklearn.model_selection import train_test_split
train, test=train_test_split(postulaciones,test_size=0.05)
print("Train: ",len(train),"Test: ",len(test))

In [ ]:
x_train=train[features]
y_train=train['sepostulo']

In [ ]:
x_test=test[features]
y_test=test['sepostulo']

In [6]:
from sklearn.metrics import roc_auc_score
def roc_score(model):
    x_final = x_test[features]
    y_final = model.predict_proba(x_final)
    y_pred = []
    for y in y_final:
        y_pred.append((y[1]))
    return roc_auc_score(y_test,y_pred)

In [7]:
print(len(x_test))
print(len(y_test))
print(len(x_train))
print(len(y_train))

NameError: name 'x_test' is not defined

In [ ]:
knn = KNeighborsClassifier(n_neighbors=150, weights='uniform', n_jobs=-1)
knn.fit(x_train, y_train)

In [ ]:
score = knn.score(x_test, y_test)*100
print(score)

In [ ]:
score = roc_score(knn)
print(score)

In [ ]:
datetime.now()

In [ ]:
joblib.dump(knn, "../../Data/fiuba_entrenamiento/gian/modelos/KNN-100(uniform)-150neigborghs-2million-sample.pkl")

In [ ]:
#knn = joblib.load("../../Data/fiuba_entrenamiento/gian/modelos/KNN-5(distance).pkl")

In [ ]:
vistas.head()

In [ ]:
prediccion = pd.read_csv("../../Data/fiuba_entrenamiento/test_final_100k.csv")
print(len(prediccion))
prediccion=pd.merge(prediccion,postulantes,on='idpostulante',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,avisos,on='idaviso',how='inner')
print(len(prediccion))
prediccion=pd.merge(prediccion,vistas,on=['idpostulante','idaviso'],how='left')
print(len(prediccion))
prediccion.cantidad=prediccion.cantidad.fillna(0)
prediccion.sample(10)

In [ ]:
prediccion['vio_anuncio'] = prediccion['vio_anuncio'].fillna(0)
prediccion.sample(n=10)

In [ ]:
prediccion['vio_anuncio'].sum()

In [ ]:
x_final=prediccion[features]
y_final=knn.predict_proba(x_final)
y_final

In [ ]:
y_final2=[]
print(knn.classes_)
print(len(y_final))
for elem in y_final:
    y_final2.append(elem[1])
print(len(y_final2))

In [ ]:
len(y_test)

In [ ]:
prediccion['sepostulo']=y_final2

In [ ]:
prediccion.head()

In [ ]:
prediccion.drop(features, axis=1, inplace=True )

In [ ]:
prediccion.drop(['idaviso','idpostulante','Unnamed: 0_x', 'Unnamed: 0_y','edad','denominacion_empresa'], axis=1, inplace=True)

In [ ]:
prediccion.head()

In [ ]:
prediccion.drop(['titulo_uppercase','pide_hombre','pide_mujer','paquete_office','empresa_importante','full_time','part_time','teletrabajo','pasantia','cantidad'], inplace=True, axis=1)

In [ ]:
prediccion.head()

In [ ]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/prediccion150.csv",index=False)

In [ ]:
prediccion.sepostulo.mean()