In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.externals import joblib
from sklearn.ensemble import RandomForestClassifier
import lightgbm as lgb
import gc

%matplotlib inline

In [2]:
knn = pd.read_csv("../../Data/fiuba_entrenamiento/gian/predicciones/knn_l.csv")

In [3]:
xgboost = pd.read_csv("../../Data/fiuba_entrenamiento/gian/predicciones/xgboost_l.csv")

In [5]:
print(len(knn))
print(len(xgboost))

100000
100000

In [6]:
prediccion = pd.merge(knn, xgboost, on='id')
print(len(prediccion))
prediccion.head()

100000

   id  sepostulo_x  sepostulo_y
0   0     0.166667     0.010868
1   1     0.133333     0.054804
2   2     0.173333     0.005120
3   3     0.193333     0.004027
4   4     0.120000     0.000871

In [7]:
prediccion['sepostulo'] = (prediccion['sepostulo_x']*0.6 + prediccion['sepostulo_y']*0.4)
prediccion.head()

   id  sepostulo_x  sepostulo_y  sepostulo
0   0     0.166667     0.010868   0.104347
1   1     0.133333     0.054804   0.101921
2   2     0.173333     0.005120   0.106048
3   3     0.193333     0.004027   0.117611
4   4     0.120000     0.000871   0.072348

In [8]:
prediccion.drop(['sepostulo_x','sepostulo_y'], axis=1, inplace=True)
prediccion.head()

   id  sepostulo
0   0   0.104347
1   1   0.101921
2   2   0.106048
3   3   0.117611
4   4   0.072348

In [21]:
prediccion.to_csv("../../Data/fiuba_entrenamiento/gian/predicciones/best_submission.csv")

In [22]:
prediccion.sepostulo.mean()

0.5178281831324157

In [23]:
len(prediccion[prediccion['sepostulo'] == 1])

34500

In [24]:
best = pd.read_csv("../../Data/fiuba_entrenamiento/gian/predicciones/mezcla4.csv")

In [25]:
best.head()

   id  sepostulo
0   0   0.104347
1   1   0.101921
2   2   0.106048
3   3   0.117611
4   4   0.072348

In [18]:
prediccion.head()

   id  sepostulo
0   0   0.104347
1   1   0.101921
2   2   0.106048
3   3   0.117611
4   4   0.072348